.container-toolbar.with-here-maps {
    transition: max-height 0.35s ease-in-out;
}

.container-toolbar.with-here-maps {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
    max-height: 4rem;
}

.container-toolbar.with-here-maps.show {
    max-height: 20rem;
}

.list-grid-view-toolbar {
    padding-left: 15px;
    padding-right: 15px;
}

.list-grid-view-toolbar .toolbar-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #cfcfcf;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.list-grid-view-toolbar .toolbar-button.active {
    background-color: #ffffff;
}

.list-grid-view-toolbar .toolbar-button.auto-width {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    cursor: initial;
}

.list-grid-view-toolbar .toolbar-filters-toggler {
    font-size: 1.2rem;
}

.list-grid-view-toolbar .toolbar-result-counter {
    line-height: 1.2;
}

.list-grid-view-toolbar .toolbar-result-counter .counter-text {
    font-size: 1.375rem;
    font-weight: 400;
}

.list-grid-view-toolbar .toolbar-result-counter .counter-term {
    font-size: 2rem;
    font-weight: 600;
}

.list-grid-view-toolbar .toolbar-select .select-label {
    font-size: 0.875rem;
    font-weight: 600;
}

.list-grid-view-toolbar .toolbar-select .select-dropdown {
    background-color: #cfcfcf;
    background-image: url(../../../img/dropdown-arrow.png);
    background-position: 93%;
    background-repeat: no-repeat;
    width: auto;
    height: 1.875rem;
    line-height: 100%;
    font-size: 0.875rem;
    font-weight: 600;
    padding-right: calc(14% + 12px);
    padding-left: 1.25rem;
    border: 0;
    -webkit-appearance: none;
    outline: none;
}

.list-grid-view-toolbar .toolbar-mobile-limits .toolbar-select {
    margin-right: 5px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .list-grid-view-toolbar {
        padding-top: 1.4375rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #c6c7c6;
        margin-bottom: 4.75rem;
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1336px) {
}
