.header .navbar-collapse {
    transition: none;
}

.header .navbar-collapse {
    transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out;
}

.header .navbar-collapse {
    position: relative;
    background: #eee;
    top: -2px;
    padding-bottom: 1rem;
    opacity: 1;
    visibility: visible;
}

.header .navbar-collapse:not(.show) {
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1285px) {
}
