.header .navbar .navbar-text {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 0px;
}

.header .navbar .navbar-text.text-font-weight-500 {
    font-weight: 500;
}

.header .navbar .navbar-text.text-font-weight-600 {
    font-weight: 600;
}

.header .navbar .navbar-text.cursor-pointer {
    cursor: pointer;
}

.header .navbar .navbar-text .fa {
    font-size: 1rem;
}

.header .navbar .navbar-text .fa.fa-chevron-down {
    transition: transform 0.35s ease-in-out;
}

.header .navbar .navbar-text .fa.fa-chevron-down {
    position: relative;
    font-size: 0.6rem;
}

.header .navbar .navbar-text.open .fa.fa-chevron-down,
.header .navbar .navbar-text.show .fa.fa-chevron-down {
    transform: rotate(180deg);
}

.header .navbar .navbar-text img {
    display: inline-block;
    width: 1.1rem;
}
