.header .navbar .navbar-toggler {
    border: none;
    outline: none;
}

.header .navbar .navbar-toggler:focus {
    outline: none;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}
