<template>
  <div>
    <form>
      <div class="position-relative form-group">
        <input
          type="file"
          class="form-control-file mt-2"
          name="file"
          @change="fileInputChange"
          id="csv_discogs"
        />
        <small class="form-text text-muted">
          Make sure that the CSV file is a direct export from
          discogs.com.
          <br />If this is not the case or if you made changes to the
          file then the import might fail.
        </small>
      </div>
    </form>

    <div class="clearfix">
      <div>
        <!-- <button
                        type="submit"
                        class="btn-shadow btn-block btn-wide float-left btn-hover-shine btn btn-lg btn-info"
                        @click.prevent="submit"
                    >
                        Submit
        </button>-->
        <div v-if="UX.activateButton">
          <button
            type="submit"
            class="btn-shadow btn-block btn-wide float-left btn-hover-shine btn btn-lg btn-info mt-2"
            @click.prevent="submit"
          >Submit</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { drop, every, forEach, get, isArray, map, set, find } from "lodash";
// import ApiResponseNotifications from "../../Components/ApiResponseNotifications";

export default {
  name: "DiscogsCsvImport",
  data() {
    return {
      filename: "",
      file: Object,
      UX: {
        activateButton: false
      }
    };
  },
  components: {
    // "api-response-notifications": ApiResponseNotifications
  },
  methods: {
    fileInputChange() {
      this.filename = document.getElementById("csv_discogs").files[0].name;
      this.file = document.getElementById("csv_discogs").files[0];
      this.UX.activateButton = true;
    },
    submit() {
      const vm = this;

      var formData = new FormData();
      formData.append("file", vm.file);

      axios
        .post(
          `${window.location.origin}/api/release/import/discogsCsv`,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
              Authorization: "Bearer " + vm.jwt
            }
          }
        )
        .then(res => {
          const swalBody = res.data.swal;
          Swal.fire(swalBody);
        })
        .catch(err => {
          const swalBody = err.response.data.swal;
          Swal.fire(swalBody);
        });
    }
  },

  computed: {
    // a computed getter
    csvFile: function() {
      if (document.getElementById("csv_discogs").files[0]) {
        return document.getElementById("csv_discogs").files[0];
      }
      return null;
    },
    // a computed getter
    jwt: function() {
      var x = document.querySelector('meta[name="jwt"]');
      // `this` points to the vm instance
      if (x) {
        return x.getAttribute("content");
      } else {
        return false;
      }
    },
    availableBagistoFields: function() {
      return this.bagistoSelectorFields.filter(field => !field.selected);
    },
    tableWidth: function() {
      // `this` points to the vm instance
      let box = document.getElementById("step-2");
      let width = box.clientWidth;
      let height = box.clientHeight;

      return width;
    }
  }
};
</script>
<style scoped>
/* table {
    all: unset;
} */
.withscroll {
  position: absolute;
  left: 0;
  right: 0;
  /* width: 400px;
	overflow-x: auto;
	white-space: nowrap; */
}

@import url(https://cdn.syncfusion.com/ej2/material.css);
</style>
