<template>
  <div>
    <div class="image-wrapper">
      <label class="image-item" :for="_uid" v-bind:class="{ 'has-image': imageData.length > 0 }">
        <input type="hidden" :name="finalInputName" />
        <!-- <img class="rounded float-left" :src="imageData" v-if="imageData.length > 0" /> -->
        <img
          class="preview rounded shadow"
          style="height: 100%;"
          :src="imageData"
          v-if="imageData.length > 0"
        />
        <!-- <label class="remove-image" @click.prevent="removeImage()">{{ removeButtonLabel }}</label> -->
      </label>
    </div>
    <br />
    <input
      type="file"
      v-validate="'mimes:image/*'"
      accept="image/*"
      class="float-left"
      :name="finalInputName"
      ref="imageInput"
      :id="_uid"
      @change="addImageView($event)"
      :required="required ? true : false"
    />
    <!-- <button
      class="btn btn-sm btn-shadow btn-danger float-right"
      @click.prevent="removeImage()"
    >{{ removeButtonLabel }}</button>-->
  </div>
</template>

<script>
export default {
  name: "ImageItem",

  props: {
    inputName: {
      type: String,
      required: false,
      default: "attachments"
    },

    removeButtonLabel: {
      type: String
    },

    image: {
      type: Object,
      required: false,
      default: null
    },

    required: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data: function() {
    return {
      imageData: ""
    };
  },

  mounted() {
    if (this.image.id && this.image.url) {
      this.imageData = this.image.url;
    }
  },

  computed: {
    finalInputName() {
      return this.inputName + "[" + this.image.id + "]";
    }
  },

  methods: {
    addImageView() {
      var imageInput = this.$refs.imageInput;

      if (imageInput.files && imageInput.files[0]) {
        if (imageInput.files[0].type.includes("image/")) {
          var reader = new FileReader();

          reader.onload = e => {
            this.imageData = e.target.result;
          };

          reader.readAsDataURL(imageInput.files[0]);
        } else {
          imageInput.value = "";
          alert("Only images (.jpeg, .jpg, .png, ..) are allowed.");
        }
      }
    },

    removeImage() {
      this.$emit("onRemoveImage", this.image);
    }
  }
};
</script>
