.alert-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    margin-top: 64px;
    z-index: 99;
}

.alert-container .alert {
    border-radius: 0;
    height: 4rem;
    line-height: 4rem;
    padding-top: 0;
    padding-bottom: 0;
}

.alert-container .alert.alert-dismissible .close {
    height: 4rem;
    line-height: 4rem;
    padding: 0rem 1.25rem;
}
