.container-artist {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.container-artist .artist-info {
}

.container-artist .artist-info .info-name {
    font-size: 1.6rem;
    font-weight: 500;
}

.artist-product .fa-chevron-down {
    transition: transform 0.35s ease-in-out;
}

.artist-product.open .fa-chevron-down {
    transform: rotate(180deg);
}

.artist-product .product-image img {
    max-height: 5.4rem;
}

.artist-product .product-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.artist-products .products-for-sale .product-grading {
    margin-bottom: 0rem;
}

.artist-products .products-for-sale .product-grading-text {
    font-size: 1rem;
    padding-left: 0.4rem;
}
