.container-artists {
    padding-bottom: 14rem;
}

.container-artists .artists-tab-header {
    position: fixed;
    background-color: #dadada;
    top: 4rem;
    padding-top: 2rem;
    z-index: 9998;
}

.container-artists .heading-artists {
    margin-bottom: 0.8rem;
}

.container-artists .nav-tabs {
    border-bottom: 1px solid #181b19;
}

.container-artists .nav-tabs .nav-item.show .nav-link,
.container-artists .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #eee;
    border-color: #181b19;
}

.container-artists .nav-tabs .nav-link:focus,
.container-artists .nav-tabs .nav-link:hover {
    border-color: #181b19;
}

.container-artists .artists-tab-panes-row {
    position: relative;
    top: 12rem;
}
