.button {
    z-index: 1;
    height: 60px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #181b19;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    border: 2px solid #181b19;
    border-radius: 0;
    background: #b8b8b8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
    margin-bottom: 0;
    padding: 8px 30px 0 22px;
    position: relative;
}

.button-small {
    height: 40px;
}

.button:after {
    content: "";
    z-index: -1;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    background: #fff;
    border: 2px solid #181b19;
    position: absolute;
    top: 1px;
    right: 1px;
}

.button.is-focused,
.button:focus,
.button:hover,
.button[type="button"]:hover,
.button[type="reset"]:hover,
.button[type="submit"]:hover {
    text-decoration: none;
    color: #fff;
}

.button.is-disabled,
.button.is-focused:after,
.button:disabled,
.button:focus:after,
.button:hover:after,
.button[type="button"]:hover:after,
.button[type="reset"]:hover:after,
.button[type="submit"]:hover:after {
    color: #fff;
    background-color: #181b19;
}

.button-arrow {
    padding-right: 55px;
}

.button-arrow:before {
    content: "";
    width: 16px;
    height: 12px;
    transform: translateY(-50%);
    margin-top: 5px;
    background-image: url(../../img/button-arrow-black.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 22px;
}

.button-arrow:hover:before {
    background-image: url(../../img/button-arrow-white.png);
    background-position: 0;
    background-repeat: no-repeat;
}

.button-bag {
    min-width: 50%;
    padding-right: 55px;
    padding-left: 18px;
}

.button-bag:before {
    content: "";
    width: 32px;
    height: 40px;
    transform: translateY(-50%);
    margin-top: 5px;
    position: absolute;
    top: calc(50% - 4px);
    right: 12px;
    background-image: url(../../img/bag.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 32px auto;
}

.button-bag-small:before {
    width: 24px;
    height: 30px;
    margin-top: 7px;
    background-size: 24px;
}

.button-bag:after .button-heart:after {
    top: 2px;
    right: 2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
}

.button-bag:hover:before {
    background-image: url(../../img/bag-hover.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 32px auto;
}

.button-bag-small:hover:before {
    background-image: url(../../img/bag-hover.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 24px auto;
}
