.footer {
    width: 100%;
    color: #fff;
    background-color: #181b19;
    padding-top: 95px;
    padding-bottom: 75px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 991px) {
    .footer {
        padding-top: 70px;
        padding-bottom: 60px;
    }
}
@media only screen and (max-width: 767px) {
    .footer {
        padding-top: 40px;
        padding-bottom: 15px;
    }
}
.footer__title {
    letter-spacing: 0.02em;
    margin-bottom: 13px;
    position: relative;
}
@media only screen and (max-width: 991px) {
    .footer__title {
        font-size: 16px;
    }
}
.footer--title-arrow {
    text-transform: uppercase;
    padding-left: 25px;
}
@media only screen and (max-width: 767px) {
    .footer--title-arrow {
        text-align: center;
        text-transform: none;
        padding-left: 0;
    }
}
.footer--title-arrow:before {
    content: "";
    width: 12px;
    height: 1px;
    background: #fff;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}
@media only screen and (max-width: 767px) {
    .footer--title-arrow:before {
        display: none;
    }
}
.footer__text {
    font-size: 32px;
    letter-spacing: 0.02em;
}
@media only screen and (max-width: 1199px) {
    .footer__text {
        font-size: 30px;
    }
}
@media only screen and (max-width: 991px) {
    .footer__text {
        font-size: 24px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__text {
        font-size: 22px;
    }
}
.footer__social {
    display: -ms-flexbox;
    display: flex;
    margin-left: -12px;
}
@media only screen and (max-width: 767px) {
    .footer__social {
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 0;
    }
}
.footer__social li {
    padding-top: 10px;
    padding-right: 18px;
}
@media only screen and (max-width: 1199px) {
    .footer__social li {
        padding-right: 12px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__social li {
        padding-right: 6px;
        padding-left: 6px;
    }
}
.footer__social li:last-child {
    padding-right: 0;
}
.footer__social li a {
    width: 36px;
    display: block;
}
.footer__social li a:hover {
    opacity: 0.7;
}
.footer__top {
    margin-bottom: 55px;
}
@media only screen and (max-width: 1325px) {
    .footer__top {
        margin-bottom: 90px;
    }
}
@media only screen and (max-width: 1199px) {
    .footer__top {
        margin-bottom: 60px;
    }
}
.footer__bottom {
    padding-bottom: 123px;
}
@media only screen and (max-width: 1325px) {
    .footer__bottom {
        padding-bottom: 90px;
    }
}
@media only screen and (max-width: 1199px) {
    .footer__bottom {
        padding-bottom: 50px;
    }
}
.footer__bottom p {
    font-size: 14px;
    color: #dadada;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 13px;
}
.footer__payments {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
@media only screen and (max-width: 767px) {
    .footer__payments {
        margin-bottom: 50px;
    }
}
.footer__payments li {
    padding-top: 10px;
    padding-right: 37px;
}
@media only screen and (max-width: 1199px) {
    .footer__payments li {
        padding-top: 10px;
        padding-right: 25px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__payments li {
        padding-right: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__payments li img {
        max-height: 23px;
    }
}
.footer__menu li {
    margin-bottom: 14px;
}
.footer__menu li a {
    font-size: 14px;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    width: 160px;
    text-align: center;
    line-height: 60px;
    border: 2px solid #fff;
}
.footer__menu li a:hover {
    background: #fff;
    color: #000;
}
.footer__copyright {
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .footer__copyright {
        display: block;
    }
}
.footer__copyright p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: hsla(0, 0%, 85%, 0.5);
}
@media only screen and (max-width: 767px) {
    .footer__copyright p {
        font-size: 10px;
        letter-spacing: 0;
        margin-bottom: 15px;
    }
}
.footer__copyright p a {
    color: hsla(0, 0%, 85%, 0.5);
}
.footer__copyright p a:hover {
    color: #fff;
}
@media only screen and (max-width: 767px) {
    .footer__copyright-order1 {
        -ms-flex-order: 1;
        order: 1;
        padding-top: 5px;
    }
}
.footer__logo {
    width: 28px;
    vertical-align: top;
    display: inline-block;
    margin-top: -6px;
    margin-right: 7px;
}
@media only screen and (max-width: 767px) {
    .footer__logo {
        width: 24px;
    }
}
.footer .show-mobile {
    display: none;
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .footer .show-mobile {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    .footer .hide-mobile {
        display: none;
    }
}
