.header {
    width: 100%;
    height: 4rem;
    z-index: 9999;
    background: #eee;
    border-bottom: 2px solid #181b19;
    position: fixed;
    top: 0;
    left: 0;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1285px) {
}
