.heading {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: start;
    width: 100%;
    margin-bottom: 2rem;
}

.heading .heading-text {
    display: inline-block;
    width: auto;
    height: 2rem;
    line-height: 2.5rem;
    font-family: Adobe Devanagari, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: italic;
    padding-left: 2.5rem;
}

.heading .heading-text.small {
    padding-left: 2rem;
}

.heading .heading-text.large {
    padding-left: 3rem;
}

.heading .heading-text:after {
    content: "";
    position: absolute;
    background-image: url(../../img/vinyl_express_small.png);
    background-size: cover;
    width: 2rem;
    height: 2rem;
    top: 0px;
    left: 0px;
}

.heading .heading-text.small:after {
    width: 1.5rem;
    height: 1.5rem;
}

.heading .heading-text.large:after {
    width: 2.5rem;
    height: 2.5rem;
}

.heading .heading-text.small {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1.6rem;
}

/* .heading .heading-text.medium {
} */

.heading .heading-text.large {
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    padding-left: 2.6rem;
}
