body,
html {
    color: #181b19;
/*    background-color: #dadada;*/
    font-size: 16px;
    font-family: Poppins, sans-serif;
    line-height: 1.4;
    max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    letter-spacing: 0.03em;
    font-family: Adobe Devanagari, sans-serif;
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 10px;
}

a {
    color: #333533;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

a:hover {
    color: #0d0e0d;
    text-decoration: none;
}

img {
    border-style: none;
}

img,
svg {
    vertical-align: middle;
}

img {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    border-radius: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
select.form-control {
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
select.form-control {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 3.75rem;
    background: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #333533;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 2px solid #181b19;
    border-radius: 0;
    margin-right: 0.8rem;
    margin-bottom: 0;
    vertical-align: middle;
    z-index: 1;
}

select.form-control {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 3.75rem;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #333533;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 2px solid #181b19;
    border-radius: 0;
    margin-right: 0.8rem;
    margin-bottom: 0;
    vertical-align: middle;
    z-index: 1;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus,
select.form-control:focus {
    border-color: #181b19;
    box-shadow: none;
}

select.form-control {
    padding-left: 1.75rem;
}

button:focus,
button.btn:focus {
    border-color: #181b19;
    box-shadow: none;
    outline: none;
}

li,
ol,
ul {
    list-style: none;
}

main {
    min-height: 20rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    main {
        min-height: 40rem;
    }
}

@media (min-width: 1285px) {
}
