.slider {
    margin-top: 4rem;
    border-bottom: 2px solid #181b19;
}
@media only screen and (max-width: 991px) {
    .slider {
        margin-bottom: 60px;
    }
}
.slider__repeat {
    display: none;
}
.slider__repeat:first-child {
    display: block;
}
.slider__holder {
    height: 400px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
@media only screen and (max-width: 1306px) {
    .slider__holder {
        height: 400px;
    }
}
@media only screen and (max-width: 1199px) {
    .slider__holder {
        height: 500px;
    }
}
@media only screen and (max-width: 991px) {
    .slider__holder {
        height: 400px;
    }
}
.slider__caption {
    text-align: center;
}
.slider__title {
    font-size: 20px;
    font-weight: 600;
    color: #181b19;
    text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
    .slider__title {
        padding-right: 30px;
        padding-left: 30px;
    }
}
.slider__count {
    color: #fff;
    font-weight: 600;
    font-size: 220px;
    line-height: 220px;
}
@media only screen and (max-width: 1199px) {
    .slider__count {
        font-size: 180px;
        line-height: 170px;
    }
}
@media only screen and (max-width: 991px) {
    .slider__count {
        font-size: 140px;
        line-height: 140px;
    }
}
@media only screen and (max-width: 767px) {
    .slider__count {
        font-size: 60px;
        line-height: 75px;
    }
}
.slider__button {
    font-size: 30px;
    background: #b8b8b8;
    padding-right: 70px;
    padding-left: 45px;
}
@media only screen and (max-width: 991px) {
    .slider__button {
        font-size: 24px;
        padding-right: 60px;
        padding-left: 35px;
    }
}
.slider__button:after {
    background: #ffffff;
}
.slider__button:before {
    content: "\f054";
    font-family: FontAwesome;
    width: 12px;
    height: 18px;
    font-size: 18px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: 2px;
}
@media only screen and (max-width: 991px) {
    .slider__button:before {
        right: 30px;
    }
}

.slick-slider {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
    position: relative;
    display: block;
}
.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translateZ(0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:after,
.slick-track:before {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-arrow {
    z-index: 9;
    width: 49px;
    font-size: 0;
    height: 49px;
    color: transparent;
    background-size: 9px 16px;
    background-color: transparent;
    border: 2px solid #181b19;
    transform: translateY(-50%);
    position: absolute;
    top: 40%;
    background-image: url(../img/left-arrow.png);
    background-position: 50%;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1325px) {
    .slick-arrow {
        width: 36px;
        height: 36px;
    }
}
.slick-arrow:hover {
    opacity: 0.8;
}
.slick-arrow:after {
    width: 2px;
    content: "";
    height: 49px;
    background-color: #181b19;
    position: absolute;
    top: 1px;
    right: -5px;
}
@media only screen and (max-width: 1325px) {
    .slick-arrow:after {
        height: 36px;
    }
}
.slick-arrow:before {
    width: 49px;
    content: "";
    height: 2px;
    background-color: #181b19;
    position: absolute;
    bottom: -5px;
    left: 1px;
}
@media only screen and (max-width: 1325px) {
    .slick-arrow:before {
        width: 36px;
    }
}
.slick-arrow.slick-prev {
    left: -70px;
}
@media only screen and (max-width: 1509px) {
    .slick-arrow.slick-prev {
        left: -30px;
    }
}
@media only screen and (max-width: 1340px) {
    .slick-arrow.slick-prev {
        left: -15px;
    }
}
@media only screen and (max-width: 1325px) {
    .slick-arrow.slick-prev {
        left: 5px;
    }
}
@media only screen and (max-width: 1199px) {
    .slick-arrow.slick-prev {
        left: -5px;
    }
}
.slick-arrow.slick-next {
    right: -85px;
    background-image: url(../img/right-arrow.png);
    background-position: 50%;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1509px) {
    .slick-arrow.slick-next {
        right: -30px;
    }
}
@media only screen and (max-width: 1340px) {
    .slick-arrow.slick-next {
        right: -15px;
    }
}
@media only screen and (max-width: 1325px) {
    .slick-arrow.slick-next {
        right: 5px;
    }
}
@media only screen and (max-width: 1199px) {
    .slick-arrow.slick-next {
        right: -5px;
    }
}
.slick-arrow:focus {
    outline: none;
}
