<template>
  <div>
    <div class="card">
      <div class="card-body">
        <div class="position-relative row form-group">
          <div class="col-sm-12 input-group">
            <input
              v-model="release_id"
              type="text"
              class="form-control"
              id="release_id"
              placeholder="Release id"
            />
            <div class="input-group-append">
              <button
                type="button"
                class="btn btn-info btn-shadow datepicker-trigger-btn"
                @click="mongoMatch"
              >
                <span class="btn-icon-wrapper pr-2 opacity-7">
                  <i class="fa fa-search fa-w-20"></i>
                </span>SEARCH
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <div>
        <pulse-loader :loading="UX.loadingMatches" color="#0845F5" size="15px"></pulse-loader>
      </div>
    </div>

    <div v-if="UX.showMatches">
      <virtual-list :size="80" :remain="8">
        <!-- <div class="col-md-6"> -->
        <ul class="list-group list-group-flush">
          <list-item
            v-on:preFillForm="preFillForm"
            :key="matchedRelease.sku"
            :release="matchedRelease"
            image="https://via.placeholder.com/100"
          />
        </ul>
        <!-- </div> -->
      </virtual-list>
    </div>

    <hr />
    <div class="d-flex justify-content-center">
      <div>
        <pulse-loader :loading="UX.loadingReleaseForm" color="#0845F5" size="15px"></pulse-loader>
      </div>
    </div>
    <div v-if="UX.showReleaseForm">
      <!-- Render the picked release in a form -->
      <release-form
        v-on:cancle="cancleReleaseForm"
        :release="prefilledFormData"
        v-on:success="handleSuccesfullImport"
      ></release-form>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import virtualList from "vue-virtual-scroll-list";
import ListItem from "../components/ListItem";
import ReleaseForm from "../components/ReleaseForm";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import axios from "axios";

export default {
  name: "ReleaseSearch",
  components: {
    "virtual-list": virtualList,
    "list-item": ListItem,
    "pulse-loader": PulseLoader,
    "release-form": ReleaseForm
  },
  computed: {
    // a computed getter
    jwt: function() {
      var x = document.querySelector('meta[name="jwt"]');
      // `this` points to the vm instance
      if (x) {
        return x.getAttribute("content");
      } else {
        return false;
      }
    }
  },
  data() {
    return {
      UX: {
        loadingMatches: false,
        showMatches: false,
        showReleaseForm: false,
        loadingReleaseForm: false
      },

      release_id: null,

      prefilledFormData: {},

      matchedRelease: {}
    };
  },
  methods: {
    handleSuccesfullImport(swalBody) {
      Swal.fire(swalBody).then(() => {
        this.resetForm();
      });
    },
    mongoMatch: function() {
      this.UX.loadingMatches = true;

      // perform a match with input fields in our mongo database
      /**
       * axios
       * Set this.matchedReleases to the result array
       */
      const vm = this;

      axios
        .get(`${window.location.origin}/api/release/find/${vm.release_id}`, {
          headers: {
            Authorization: "Bearer " + vm.jwt
          }
        })
        .then(res => {
          vm.matchedRelease = res.data.data;
          vm.UX.showReleaseForm = false;
          vm.UX.loadingMatches = false;
          vm.UX.showMatches = true;
        })
        .catch(err => {
          const swalBody = err.response.data.swal;
          Swal.fire(swalBody);
          vm.UX.loadingMatches = false;
        });
      // ...
    },

    preFillForm: function(id) {
      this.UX.loadingReleaseForm = true;
      this.UX.showMatches = false;

      const vm = this;
      // add release to the form for submittion
      this.prefilledFormData = this.matchedRelease;

      this.UX.loadingReleaseForm = false;
      this.UX.showReleaseForm = true;
    },

    resetForm() {
      this.UX.showReleaseForm = false;
      this.UX.loadingMatches = false;
      this.UX.showMatches = false;
      this.release_id = null;
    },

    cancleReleaseForm: function() {
      this.UX.showReleaseForm = false;
      this.UX.showMatches = true;
    }
  }
};
</script>

<style>
@import url(https://cdn.syncfusion.com/ej2/material.css);
</style>
