.header .navbar {
    padding: 0rem;
    margin-top: 9px;
    margin-bottom: 9px;
}

.header .navbar .logo-container {
    overflow: hidden;
    max-width: 38px;
}

.header .navbar .logo-container .logo {
    max-width: none;
    max-height: 36px;
    image-rendering: -webkit-optimize-contrast;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .header .navbar .logo-container {
        overflow: visible;
        max-width: none;
    }
}

@media (min-width: 1285px) {
}
