<template>
    <div class="card">
        <div class="card-header">
            <button
                @click="addEmptyRuleRow()"
                class="btn-icon btn-icon-only btn btn-info btn-sm btn-shadow"
            >
                <i class="lnr-plus-circle btn-icon-wrapper"></i>
            </button>
        </div>

        <div class="card-body">
            <table
                v-if="UX.addingRow"
                style="width: 100%;"
                id="example"
                class="table table-hover table-striped table-bordered"
            >
                <thead>
                    <tr>
                        <th style="width:5%;">Action</th>
                        <th>Format</th>
                        <th>Descriptions</th>
                        <th style="width:30%;">Dimensions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <td>
                            <button
                                @click="clearNewRuleRow()"
                                class="btn-icon btn-icon-only btn btn-warning btn-sm btn-shadow"
                            >
                                <i class="lnr-cross btn-icon-wrapper"></i>
                            </button>
                            <button
                                @click="saveNewRuleRow()"
                                class="btn-icon btn-icon-only btn btn-info btn-sm btn-shadow"
                            >
                                <i
                                    class="lnr-cloud-upload btn-icon-wrapper"
                                ></i>
                            </button>
                        </td>
                        <td>
                            <span> {{ newRule.format.name }} </span>
                            <hr />
                            <multiselect
                                v-model="newRule.format"
                                :options="format_options"
                                :close-on-select="false"
                                :clear-on-select="false"
                                :preserve-search="true"
                                placeholder="Pick some"
                                label="name"
                                track-by="name"
                            >
                            </multiselect>
                        </td>
                        <td>
                            <span
                                v-for="description in newRule.descriptions"
                                :key="description.id"
                            >
                                {{ description.name }},
                            </span>
                            <hr />
                            <multiselect
                                v-model="newRule.descriptions"
                                :options="description_options"
                                :multiple="true"
                                :close-on-select="false"
                                :clear-on-select="false"
                                :preserve-search="true"
                                placeholder="Pick some"
                                label="name"
                                track-by="name"
                            >
                                <template
                                    slot="selection"
                                    slot-scope="{ values, search, isOpen }"
                                    ><span
                                        class="multiselect__single"
                                        v-if="newRule.descriptions.length &amp;&amp; !isOpen"
                                        >{{
                                            newRule.descriptions.length
                                        }}
                                        formats selected</span
                                    ></template
                                >
                            </multiselect>
                        </td>
                        <td>
                            <div class="form-row">
                                <div
                                    class="col-md-4 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">w</span>
                                    </div>
                                    <input
                                        placeholder="cm"
                                        type="text"
                                        class="form-control"
                                        v-model="newRule.width"
                                    />
                                </div>
                                <div
                                    class="col-md-4 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">l</span>
                                    </div>
                                    <input
                                        placeholder="cm"
                                        type="text"
                                        class="form-control"
                                        v-model="newRule.length"
                                    />
                                </div>
                                <div
                                    class="col-md-4 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">h</span>
                                    </div>
                                    <input
                                        placeholder="cm"
                                        type="text"
                                        class="form-control"
                                        v-model="newRule.height"
                                    />
                                </div>

                                <div
                                    class="col-md-12 mt-2 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            >weight</span
                                        >
                                    </div>
                                    <input
                                        placeholder="gr"
                                        type="text"
                                        class="form-control"
                                        v-model="newRule.weight"
                                    />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table
                style="width: 100%;"
                id="example"
                class="table table-hover table-striped table-bordered"
            >
                <thead>
                    <tr>
                        <th style="width:5%;">Action</th>
                        <th>Format</th>
                        <th>Descriptions</th>
                        <th style="width:30%;">Dimensions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="rule in rules" v-bind:key="rule.id">
                        <td>
                            <button
                                v-if="!rule.editing"
                                @click="switchEditingMode(rule.id)"
                                class="btn-icon btn-icon-only btn btn-info btn-sm btn-shadow"
                            >
                                <i class="lnr-pencil btn-icon-wrapper"></i>
                            </button>
                            <button
                                v-if="rule.editing"
                                @click="updateFormatRule(rule.id)"
                                class="btn-icon btn-icon-only btn btn-info btn-sm btn-shadow"
                            >
                                <i class="lnr-pencil btn-icon-wrapper"></i>
                            </button>
                            <button
                                v-if="rule.editing"
                                @click="deleteFormatRule(rule.id)"
                                class="btn-icon btn-icon-only btn btn-danger btn-sm btn-shadow"
                            >
                                <i class="lnr-trash btn-icon-wrapper"></i>
                            </button>
                            <button
                                v-if="rule.editing"
                                @click="switchEditingMode(rule.id)"
                                class="btn-icon btn-icon-only btn btn-warning btn-sm btn-shadow"
                            >
                                <i class="lnr-cross btn-icon-wrapper"></i>
                            </button>
                        </td>
                        <td>
                            <span v-if="rule.format"> {{ rule.format.name }} </span>
                            <!-- <hr />
                            <multiselect
                                :disabled="!rule.editing"
                                v-model="rule.format"
                                :options="format_options"
                                :close-on-select="false"
                                :clear-on-select="false"
                                :preserve-search="true"
                                placeholder="Pick some"
                                label="name"
                                track-by="name"
                            >
                            </multiselect> -->
                        </td>
                        <td>
                            <span
                                v-for="description in rule.descriptions"
                                :key="description.id"
                            >
                                <span v-if="description.name"> {{ description.name }}, </span>
                            </span>
                            <!-- <hr />
                            <multiselect
                                :disabled="!rule.editing"
                                v-model="rule.descriptions"
                                :options="description_options"
                                :multiple="true"
                                :close-on-select="false"
                                :clear-on-select="false"
                                :preserve-search="true"
                                placeholder="Pick some"
                                label="name"
                                track-by="name"
                            >
                                <template
                                    slot="selection"
                                    slot-scope="{ values, search, isOpen }"
                                    ><span
                                        class="multiselect__single"
                                        v-if="rule.descriptions.length &amp;&amp; !isOpen"
                                        >{{ rule.descriptions.length }} formats
                                        selected</span
                                    ></template
                                >
                            </multiselect> -->
                        </td>
                        <td>
                            <div class="form-row">
                                <div
                                    class="col-md-4 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">w</span>
                                    </div>
                                    <input
                                        :disabled="!rule.editing"
                                        placeholder="cm"
                                        type="text"
                                        class="form-control"
                                        v-model="rule.width"
                                    />
                                </div>
                                <div
                                    class="col-md-4 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">l</span>
                                    </div>
                                    <input
                                        :disabled="!rule.editing"
                                        placeholder="cm"
                                        type="text"
                                        class="form-control"
                                        v-model="rule.length"
                                    />
                                </div>
                                <div
                                    class="col-md-4 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">h</span>
                                    </div>
                                    <input
                                        :disabled="!rule.editing"
                                        placeholder="cm"
                                        type="text"
                                        class="form-control"
                                        v-model="rule.height"
                                    />
                                </div>

                                <div
                                    class="col-md-12 mt-2 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            >weight</span
                                        >
                                    </div>
                                    <input
                                        :disabled="!rule.editing"
                                        placeholder="gr"
                                        type="text"
                                        class="form-control"
                                        v-model="rule.weight"
                                    />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Action</th>
                        <th>Format</th>
                        <th>Descriptions</th>
                        <th>Dimensions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import Multiselect from "vue-multiselect";

export default {
    name: "FormatRules",
    components: {
        "multi-select": Multiselect
    },
    data() {
        return {
            rules: [],
            newRule: {
                length: "",
                width: "",
                height: "",
                weight: "",
                format: {
                    id: 0,
                    name: ""
                },
                descriptions: []
            },
            format_options: [],
            description_options: [],
            UX: {
                addingRow: false
            }
        };
    },
    mounted() {
        const vm = this;
        vm.loadTable();

        axios
            .get(`${window.location.origin}/api/shipping/formats/all`)
            .then(res => {
                vm.format_options = res.data.data;
            })
            .catch(err => {
                console.log(err);
            });

        axios
            .get(`${window.location.origin}/api/shipping/descriptions/all`)
            .then(res => {
                vm.description_options = res.data.data;
            })
            .catch(err => {
                console.log(err);
            });
    },
    methods: {
        loadTable: function() {
            const vm = this;
            axios
                .get(`${window.location.origin}/api/shipping/rules/all`)
                .then(res => {
                    vm.rules = res.data.data.map(obj => ({
                        ...obj,
                        editing: false
                    }));

                    console.log(vm.rules);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        switchEditingMode: function(id) {
            var rule = this.rules.find(obj => obj.id === id);
            rule.editing = !rule.editing;
        },
        updateFormatRule: function(id) {
            const vm = this;
            var rule = this.rules.find(obj => obj.id === id);

            const body = {
                format_id: rule.format.id,
                length: rule.length,
                width: rule.width,
                height: rule.height,
                weight: rule.weight,
                descriptions: rule.descriptions.map(obj => obj.id)
            };

            axios
                .put(
                    `${window.location.origin}/api/shipping/rules/update/${id}`,
                    body
                )
                .then(res => {
                    console.log("update succesfull");
                    vm.switchEditingMode(rule.id);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        deleteFormatRule: function(id) {
            const vm = this;
            axios
                .delete(
                    `${window.location.origin}/api/shipping/rules/delete/${id}`
                )
                .then(res => {
                    console.log("delete succesfull");
                    vm.rules = vm.rules.filter(function(obj) {
                        return obj.id !== id;
                    });
                    this.switchEditingMode(rule.id);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        addEmptyRuleRow: function() {
            this.UX.addingRow = true;
        },
        clearNewRuleRow: function() {
            this.UX.addingRow = false;
            this.newRule = {
                length: "",
                width: "",
                height: "",
                weight: "",
                format: {
                    id: 0,
                    name: ""
                },
                descriptions: []
            };
        },
        saveNewRuleRow() {
            const vm = this;

            const body = {
                format_id: this.newRule.format.id,
                length: this.newRule.length,
                width: this.newRule.width,
                height: this.newRule.height,
                weight: this.newRule.weight,
                descriptions: this.newRule.descriptions.map(obj => obj.id)
            };

            axios
                .post(
                    `${window.location.origin}/api/shipping/rules/store`,
                    body
                )
                .then(res => {
                    vm.clearNewRuleRow();
                    // add rule to rules data (main table)
                    vm.loadTable();
                })
                .catch(err => {
                    console.log(err);
                });
        }
    }
};
</script>

<style>
@import "/themes/vinylheaven-seller-portal-theme/assets/css/base.min.css";
</style>
