@font-face {
    font-family: Adobe Devanagari;
    src: url(../fonts/adobedevanagari/AdobeDevanagari-Regular.woff2)
            format("woff2"),
        url(../fonts/adobedevanagari/AdobeDevanagari-Regular.woff)
            format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Adobe Devanagari;
    src: url(../fonts/adobedevanagari/AdobeDevanagari-Italic.woff2)
            format("woff2"),
        url(../fonts/adobedevanagari/AdobeDevanagari-Italic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
}

.container-404 {
    margin-top: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container-404 h1,
.container-404 h3,
.container-404 h4 {
    width: auto;
    font-family: Poppins, sans-serif;
}

.container-404 h1 {
    font-size: 6.25rem;
    font-weight: 600;
    color: #5e5e5e;
}
.container-404 h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #5e5e5e;
}
.container-404 h4 {
    font-size: 1.2rem;
    color: #242424;
    font-weight: 400;
}

.container-404 .search-form .search-input {
    position: relative;
    z-index: 2;
}

@media (min-width: 992px) {
    .container-404 {
        padding-top: 6rem;
    }

    .container-404 .error-record {
        position: relative;
        background-color: #181b19;
        height: 28.5rem;
        width: 28.5rem;
        border-radius: 50%;
    }

    .container-404 .error-record h1 {
        background-color: #ffffff;
        width: 10.5rem;
        height: 10.5rem;
        line-height: 10.5rem;
        font-size: 4.6rem;
        font-weight: 500;
        font-weight: 500;
        text-align: center;
        padding: 0;
        border-radius: 50%;
        margin: 0;
    }
}
body,
html {
    color: #181b19;
    /*    background-color: #dadada;*/
    font-size: 16px;
    font-family: Poppins, sans-serif;
    line-height: 1.4;
    max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    letter-spacing: 0.03em;
    font-family: Adobe Devanagari, sans-serif;
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 10px;
}

a {
    color: #333533;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

a:hover {
    color: #0d0e0d;
    text-decoration: none;
}

img {
    border-style: none;
}

img,
svg {
    vertical-align: middle;
}

img {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    border-radius: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
select.form-control {
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
select.form-control {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 3.75rem;
    background: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #333533;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 2px solid #181b19;
    border-radius: 0;
    margin-right: 0.8rem;
    margin-bottom: 0;
    vertical-align: middle;
    z-index: 1;
}

select.form-control {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 3.75rem;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #333533;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 2px solid #181b19;
    border-radius: 0;
    margin-right: 0.8rem;
    margin-bottom: 0;
    vertical-align: middle;
    z-index: 1;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus,
select.form-control:focus {
    border-color: #181b19;
    box-shadow: none;
}

select.form-control {
    padding-left: 1.75rem;
}

button:focus,
button.btn:focus {
    border-color: #181b19;
    box-shadow: none;
    outline: none;
}

li,
ol,
ul {
    list-style: none;
}

main {
    min-height: 20rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    main {
        min-height: 40rem;
    }
}

@media (min-width: 1285px) {
}
@media (min-width: 1336px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1306px;
    }
}
.alert-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    margin-top: 64px;
    z-index: 99;
}

.alert-container .alert {
    border-radius: 0;
    height: 4rem;
    line-height: 4rem;
    padding-top: 0;
    padding-bottom: 0;
}

.alert-container .alert.alert-dismissible .close {
    height: 4rem;
    line-height: 4rem;
    padding: 0rem 1.25rem;
}
.heading {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: start;
    width: 100%;
    margin-bottom: 2rem;
}

.heading .heading-text {
    display: inline-block;
    width: auto;
    height: 2rem;
    line-height: 2.5rem;
    font-family: Adobe Devanagari, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: italic;
    padding-left: 2.5rem;
}

.heading .heading-text.small {
    padding-left: 2rem;
}

.heading .heading-text.large {
    padding-left: 3rem;
}

.heading .heading-text:after {
    content: "";
    position: absolute;
    background-image: url(../img/vinyl_express_small.png);
    background-size: cover;
    width: 2rem;
    height: 2rem;
    top: 0px;
    left: 0px;
}

.heading .heading-text.small:after {
    width: 1.5rem;
    height: 1.5rem;
}

.heading .heading-text.large:after {
    width: 2.5rem;
    height: 2.5rem;
}

.heading .heading-text.small {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1.6rem;
}

/* .heading .heading-text.medium {
} */

.heading .heading-text.large {
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    padding-left: 2.6rem;
}
.form-control-group {
    position: relative;
    width: calc(100% - 0.25rem);
}

.form-control-group::after {
    content: "";
    position: absolute;
    background: #b8b8b8;
    top: -0.25rem;
    right: -0.25rem;
    width: 100%;
    height: 3.75rem;
    border: 2px solid #181b19;
    z-index: 1;
}
.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
    margin-right: 0px;
}

.input-group button {
    background: #fff;
    height: 3.75rem;
    border: 2px solid #181b19;
}

.input-group .border-right-width-0 {
    border-right-width: 0;
}

.input-group .border-right-width-2 {
    border-right-width: 2px;
}

.input-group .border-left-width-0 {
    border-left-width: 0;
}

.input-group .border-left-width-2 {
    border-left-width: 2px;
}

.input-group .border-radius-0 {
    border-radius: 0px !important;
}
.button {
    z-index: 1;
    height: 60px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #181b19;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    border: 2px solid #181b19;
    border-radius: 0;
    background: #b8b8b8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
    margin-bottom: 0;
    padding: 8px 30px 0 22px;
    position: relative;
}

.button-small {
    height: 40px;
}

.button:after {
    content: "";
    z-index: -1;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    background: #fff;
    border: 2px solid #181b19;
    position: absolute;
    top: 1px;
    right: 1px;
}

.button.is-focused,
.button:focus,
.button:hover,
.button[type="button"]:hover,
.button[type="reset"]:hover,
.button[type="submit"]:hover {
    text-decoration: none;
    color: #fff;
}

.button.is-disabled,
.button.is-focused:after,
.button:disabled,
.button:focus:after,
.button:hover:after,
.button[type="button"]:hover:after,
.button[type="reset"]:hover:after,
.button[type="submit"]:hover:after {
    color: #fff;
    background-color: #181b19;
}

.button-arrow {
    padding-right: 55px;
}

.button-arrow:before {
    content: "";
    width: 16px;
    height: 12px;
    transform: translateY(-50%);
    margin-top: 5px;
    background-image: url(../img/button-arrow-black.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 22px;
}

.button-arrow:hover:before {
    background-image: url(../img/button-arrow-white.png);
    background-position: 0;
    background-repeat: no-repeat;
}

.button-bag {
    min-width: 50%;
    padding-right: 55px;
    padding-left: 18px;
}

.button-bag:before {
    content: "";
    width: 32px;
    height: 40px;
    transform: translateY(-50%);
    margin-top: 5px;
    position: absolute;
    top: calc(50% - 4px);
    right: 12px;
    background-image: url(../img/bag.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 32px auto;
}

.button-bag-small:before {
    width: 24px;
    height: 30px;
    margin-top: 7px;
    background-size: 24px;
}

.button-bag:after .button-heart:after {
    top: 2px;
    right: 2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
}

.button-bag:hover:before {
    background-image: url(../img/bag-hover.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 32px auto;
}

.button-bag-small:hover:before {
    background-image: url(../img/bag-hover.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 24px auto;
}
.header {
    width: 100%;
    height: 4rem;
    z-index: 9999;
    background: #eee;
    border-bottom: 2px solid #181b19;
    position: fixed;
    top: 0;
    left: 0;
}
.header .navbar {
    padding: 0rem;
    margin-top: 9px;
    margin-bottom: 9px;
}

.header .navbar .logo-container {
    overflow: hidden;
    max-width: 38px;
}

.header .navbar .logo-container .logo {
    max-width: none;
    max-height: 36px;
    image-rendering: -webkit-optimize-contrast;
}
@media (min-width: 992px) {
    .header .navbar .logo-container {
        overflow: visible;
        max-width: none;
    }
}
.header .navbar-collapse {
    transition: none;
}

.header .navbar-collapse {
    transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out;
}

.header .navbar-collapse {
    position: relative;
    background: #eee;
    top: -2px;
    padding-bottom: 1rem;
    opacity: 1;
    visibility: visible;
}

.header .navbar-collapse:not(.show) {
    opacity: 0;
    visibility: hidden;
}
.header .navbar .navbar-toggler {
    border: none;
    outline: none;
}

.header .navbar .navbar-toggler:focus {
    outline: none;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}
.header .navbar .navbar-text {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 0px;
}

.header .navbar .navbar-text.text-font-weight-500 {
    font-weight: 500;
}

.header .navbar .navbar-text.text-font-weight-600 {
    font-weight: 600;
}

.header .navbar .navbar-text.cursor-pointer {
    cursor: pointer;
}

.header .navbar .navbar-text .fa {
    font-size: 1rem;
}

.header .navbar .navbar-text .fa.fa-chevron-down {
    transition: transform 0.35s ease-in-out;
}

.header .navbar .navbar-text .fa.fa-chevron-down {
    position: relative;
    font-size: 0.6rem;
}

.header .navbar .navbar-text.open .fa.fa-chevron-down,
.header .navbar .navbar-text.show .fa.fa-chevron-down {
    transform: rotate(180deg);
}

.header .navbar .navbar-text img {
    display: inline-block;
    width: 1.1rem;
}
.header .navbar .navbar-search {
    position: relative;
    width: 48%;
}

.header .navbar .navbar-search .search-form {
    position: absolute;
    top: -18px;
    width: 100%;
}

.header .navbar .navbar-search .search-form .search-input {
    position: relative;
    z-index: 2;
}
.header .search-autocomplete .autocomplete-header {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(51, 53, 51, 0.4);
    border-bottom: 1px solid rgba(51, 53, 51, 0.4);
}
.footer {
    width: 100%;
    color: #fff;
    background-color: #181b19;
    padding-top: 95px;
    padding-bottom: 75px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 991px) {
    .footer {
        padding-top: 70px;
        padding-bottom: 60px;
    }
}
@media only screen and (max-width: 767px) {
    .footer {
        padding-top: 40px;
        padding-bottom: 15px;
    }
}
.footer__title {
    letter-spacing: 0.02em;
    margin-bottom: 13px;
    position: relative;
}
@media only screen and (max-width: 991px) {
    .footer__title {
        font-size: 16px;
    }
}
.footer--title-arrow {
    text-transform: uppercase;
    padding-left: 25px;
}
@media only screen and (max-width: 767px) {
    .footer--title-arrow {
        text-align: center;
        text-transform: none;
        padding-left: 0;
    }
}
.footer--title-arrow:before {
    content: "";
    width: 12px;
    height: 1px;
    background: #fff;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}
@media only screen and (max-width: 767px) {
    .footer--title-arrow:before {
        display: none;
    }
}
.footer__text {
    font-size: 32px;
    letter-spacing: 0.02em;
}
@media only screen and (max-width: 1199px) {
    .footer__text {
        font-size: 30px;
    }
}
@media only screen and (max-width: 991px) {
    .footer__text {
        font-size: 24px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__text {
        font-size: 22px;
    }
}
.footer__social {
    display: -ms-flexbox;
    display: flex;
    margin-left: -12px;
}
@media only screen and (max-width: 767px) {
    .footer__social {
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 0;
    }
}
.footer__social li {
    padding-top: 10px;
    padding-right: 18px;
}
@media only screen and (max-width: 1199px) {
    .footer__social li {
        padding-right: 12px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__social li {
        padding-right: 6px;
        padding-left: 6px;
    }
}
.footer__social li:last-child {
    padding-right: 0;
}
.footer__social li a {
    width: 36px;
    display: block;
}
.footer__social li a:hover {
    opacity: 0.7;
}
.footer__top {
    margin-bottom: 55px;
}
@media only screen and (max-width: 1325px) {
    .footer__top {
        margin-bottom: 90px;
    }
}
@media only screen and (max-width: 1199px) {
    .footer__top {
        margin-bottom: 60px;
    }
}
.footer__bottom {
    padding-bottom: 123px;
}
@media only screen and (max-width: 1325px) {
    .footer__bottom {
        padding-bottom: 90px;
    }
}
@media only screen and (max-width: 1199px) {
    .footer__bottom {
        padding-bottom: 50px;
    }
}
.footer__bottom p {
    font-size: 14px;
    color: #dadada;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 13px;
}
.footer__payments {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
@media only screen and (max-width: 767px) {
    .footer__payments {
        margin-bottom: 50px;
    }
}
.footer__payments li {
    padding-top: 10px;
    padding-right: 37px;
}
@media only screen and (max-width: 1199px) {
    .footer__payments li {
        padding-top: 10px;
        padding-right: 25px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__payments li {
        padding-right: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__payments li img {
        max-height: 23px;
    }
}
.footer__menu li {
    margin-bottom: 14px;
}
.footer__menu li a {
    font-size: 14px;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    width: 160px;
    text-align: center;
    line-height: 60px;
    border: 2px solid #fff;
}
.footer__menu li a:hover {
    background: #fff;
    color: #000;
}
.footer__copyright {
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .footer__copyright {
        display: block;
    }
}
.footer__copyright p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: hsla(0, 0%, 85%, 0.5);
}
@media only screen and (max-width: 767px) {
    .footer__copyright p {
        font-size: 10px;
        letter-spacing: 0;
        margin-bottom: 15px;
    }
}
.footer__copyright p a {
    color: hsla(0, 0%, 85%, 0.5);
}
.footer__copyright p a:hover {
    color: #fff;
}
@media only screen and (max-width: 767px) {
    .footer__copyright-order1 {
        -ms-flex-order: 1;
        order: 1;
        padding-top: 5px;
    }
}
.footer__logo {
    width: 28px;
    vertical-align: top;
    display: inline-block;
    margin-top: -6px;
    margin-right: 7px;
}
@media only screen and (max-width: 767px) {
    .footer__logo {
        width: 24px;
    }
}
.footer .show-mobile {
    display: none;
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .footer .show-mobile {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    .footer .hide-mobile {
        display: none;
    }
}
.container-login {
    margin-top: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.container-login .sign-in-form {
    border: 2px solid #000;
    padding: 1.4rem;
    margin-bottom: 1.4rem;
}

@media (min-width: 992px) {
    .container-login {
        padding-top: 3rem;
    }
}
.container-register {
    margin-top: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.sign-up-form {
    border: 2px solid #000;
    padding: 1.4rem;
    margin-bottom: 1.4rem;
}

@media (min-width: 992px) {
    .container-register {
        padding-top: 3rem;
    }
}
.genres {
    background-color: #d0d0d0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-top: 2px solid #181b19;
}

.genres-image-holder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
@media only screen and (max-width: 1325px) {
    .genres-image-holder {
        margin-left: 30px;
    }
}
@media only screen and (max-width: 991px) {
    .genres-image-holder {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-image-holder {
        display: none;
    }
}
.genres-image {
    width: 148px;
    transition: top 0.25s ease-in-out;
    margin-right: -32px;
    margin-left: -32px;
    position: relative;
    top: 0;
}
@media only screen and (max-width: 1325px) {
    .genres-image {
        width: 125px;
    }
}
@media only screen and (max-width: 991px) {
    .genres-image {
        width: 109px;
    }
}
.genres-image.is-active {
    transition: top 0.25s ease-in-out;
    top: -100px;
}
.genres-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 130px;
    margin: 0px;
    padding: 0px;
}
@media only screen and (max-width: 991px) {
    .genres-list {
        margin-bottom: 90px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-list {
        margin-bottom: 40px;
    }
}
.genres-list li {
    margin-right: 20px;
    margin-bottom: 8px;
}
@media only screen and (max-width: 1325px) {
    .genres-list li {
        margin-right: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-list li {
        width: 100%;
    }
}
.genres-list li a {
    font-size: 28px;
    display: block;
    border-bottom: 1px solid transparent;
    padding: 5px 18px;
}
@media only screen and (max-width: 991px) {
    .genres-list li a {
        font-size: 16px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-list li a {
        padding: 0;
    }
}
.genres-list li a sup {
    font-size: 12px;
    top: -12px;
    margin-left: 5px;
}
@media only screen and (max-width: 991px) {
    .genres-list li a sup {
        top: -5px;
    }
}
.genres-list li a:hover {
    background-color: #fff;
    border-bottom: 1px solid #181b19;
}
@media only screen and (max-width: 767px) {
    .genres-list li a:hover {
        background-color: inherit;
    }
}
.container-toolbar.with-here-maps {
    transition: max-height 0.35s ease-in-out;
}

.container-toolbar.with-here-maps {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
    max-height: 4rem;
}

.container-toolbar.with-here-maps.show {
    max-height: 20rem;
}

.list-grid-view-toolbar {
    padding-left: 15px;
    padding-right: 15px;
}

.list-grid-view-toolbar .toolbar-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(207, 207, 207, 0.4);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.list-grid-view-toolbar .toolbar-button:hover {
    background-color: rgba(207, 207, 207, 0.6);
}

.list-grid-view-toolbar .toolbar-button.active {
    background-color: rgb(207, 207, 207);
}

.list-grid-view-toolbar .toolbar-button.auto-width {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    cursor: initial;
}

.list-grid-view-toolbar .toolbar-filters-toggler {
    font-size: 1.2rem;
}

.list-grid-view-toolbar .toolbar-result-counter {
    line-height: 1.2;
}

.list-grid-view-toolbar .toolbar-result-counter .counter-text {
    font-size: 1.375rem;
    font-weight: 400;
}

.list-grid-view-toolbar .toolbar-result-counter .counter-term {
    font-size: 2rem;
    font-weight: 600;
}

.list-grid-view-toolbar .toolbar-select .select-label {
    font-size: 0.875rem;
    font-weight: 600;
}

.list-grid-view-toolbar .toolbar-select .select-dropdown {
    background-color: #cfcfcf;
    background-image: url(../img/dropdown-arrow.png);
    background-position: 93%;
    background-repeat: no-repeat;
    width: auto;
    height: 1.875rem;
    line-height: 100%;
    font-size: 0.875rem;
    font-weight: 600;
    padding-right: calc(14% + 12px);
    padding-left: 1.25rem;
    border: 0;
    -webkit-appearance: none;
    outline: none;
}

.list-grid-view-toolbar .toolbar-mobile-limits .toolbar-select {
    margin-right: 5px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .list-grid-view-toolbar {
        padding-top: 1.4375rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #c6c7c6;
        margin-bottom: 4.75rem;
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1336px) {
}
.tools-filters.product-filters .product-filters-area .area-border-top {
    margin-top: 0.375rem;
}
.product-filters input[type="text"] {
    border: 0;
    width: 230px;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
    color: #181b19;
    background-color: #fff;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.product-filters input[type="submit"],
.product-filters .clear-filter-button {
    background-color: #181b19;
    color: #fff;
    border: 0;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 35px;
    padding-left: 35px;
}

.product-filters .clear-filter-button {
    display: inline-block;
    line-height: 45px;
}

.product-filters .product-filters-area .area-title {
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    letter-spacing: 0;
    margin-bottom: 25px;
}

.product-filters .product-filters-area .area-filtered-by-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-filters .product-filters-area .area-clear-all {
    font-size: 14px;
    text-decoration: underline;
}

.product-filters .product-filters-area .area-border-top {
    border-top: 2px solid #cfcfcf;
    padding-top: 20px;
    margin-top: 25px;
}

.product-filters .product-filters-area .area-head {
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 38px;
    margin-bottom: 0;
    position: relative;
}

.product-filters .product-filters-area .area-head:before {
    content: "";
    position: absolute;
    background-image: url(../img/dropdown-arrow.png);
    background-position: 0;
    background-repeat: no-repeat;
    top: 8px;
    left: 0;
    width: 12px;
    height: 7px;
    transform: rotate(180deg);
    transition: transform 0.35s ease-in-out;
}

.product-filters .product-filters-area .area-head.hide:before {
    transform: rotate(0deg);
}

.product-filters .product-filters-area .area-content {
    margin-top: 20px;
}

.product-filters .product-filters-area .area-content .content-checkbox {
    position: relative;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox {
    z-index: -1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    border: 0;
    margin: -1px;
    position: absolute;
    left: -1000px;
    padding: 0;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url(../img/checks.png);
    background-position: 0;
    background-repeat: no-repeat;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox
    + label.checkbox-label {
    height: 31px;
    display: inline-block;
    line-height: 34px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 40px;
    margin-bottom: 5px;
}
.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox
    + label.checkbox-label.active {
    background-position: 0 -31px;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-label
    .label-grading {
    width: 26px;
    height: 26px;
    font-size: 10px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 10px;
}

.bg-grading-m {
    background-color: #00ff00 !important;
}

.bg-grading-nm {
    background-color: #75ff00 !important;
}

.bg-grading-vgp {
    background-color: #bbff00 !important;
}

.bg-grading-vg {
    background-color: #fff000 !important;
}

.bg-grading-gp {
    background-color: #ffaa00 !important;
}

.bg-grading-g {
    background-color: #ff5000 !important;
}

.bg-grading-p {
    background-color: #ff2500 !important;
}

.bg-grading-f {
    background-color: #ff0000 !important;
}

.bg-grading-gen {
    background-color: #cfcfcf !important;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-info {
    font-size: 16px;
    position: absolute;
    top: 8px;
    right: 0;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-info
    .info-tooltip {
    display: none;
    width: 200px;
    z-index: 8;
    font-size: 14px;
    line-height: 20px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 28px;
}
.condition-grading-circle {
    color: #181b19;
}

.condition-grading-circle.list-view {
    font-weight: 400;
    color: rgba(24, 27, 25, 0.9);
}

.condition-grading-circle.small-text {
    font-size: 1rem;
    line-height: 1.625rem;
}

.condition-grading-circle .circle-text {
    width: 25px;
    height: 25px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 50%;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: top;
    background-color: #04baa5;
    color: rgba(24, 27, 25, 0.5);
}

.grading-bigger {
    transform: scale(1.1);
}
.slider {
    margin-top: 4rem;
    border-bottom: 2px solid #181b19;
}
@media only screen and (max-width: 991px) {
    .slider {
        margin-bottom: 60px;
    }
}
.slider__repeat {
    display: none;
}
.slider__repeat:first-child {
    display: block;
}
.slider__holder {
    height: 400px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
@media only screen and (max-width: 1306px) {
    .slider__holder {
        height: 400px;
    }
}
@media only screen and (max-width: 1199px) {
    .slider__holder {
        height: 500px;
    }
}
@media only screen and (max-width: 991px) {
    .slider__holder {
        height: 400px;
    }
}
.slider__caption {
    text-align: center;
}
.slider__title {
    font-size: 20px;
    font-weight: 600;
    color: #181b19;
    text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
    .slider__title {
        padding-right: 30px;
        padding-left: 30px;
    }
}
.slider__count {
    color: #fff;
    font-weight: 600;
    font-size: 220px;
    line-height: 220px;
}
@media only screen and (max-width: 1199px) {
    .slider__count {
        font-size: 180px;
        line-height: 170px;
    }
}
@media only screen and (max-width: 991px) {
    .slider__count {
        font-size: 140px;
        line-height: 140px;
    }
}
@media only screen and (max-width: 767px) {
    .slider__count {
        font-size: 60px;
        line-height: 75px;
    }
}
.slider__button {
    font-size: 30px;
    background: #b8b8b8;
    padding-right: 70px;
    padding-left: 45px;
}
@media only screen and (max-width: 991px) {
    .slider__button {
        font-size: 24px;
        padding-right: 60px;
        padding-left: 35px;
    }
}
.slider__button:after {
    background: #ffffff;
}
.slider__button:before {
    content: "\f054";
    font-family: FontAwesome;
    width: 12px;
    height: 18px;
    font-size: 18px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: 2px;
}
@media only screen and (max-width: 991px) {
    .slider__button:before {
        right: 30px;
    }
}

.slick-slider {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
    position: relative;
    display: block;
}
.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translateZ(0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:after,
.slick-track:before {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-arrow {
    z-index: 9;
    width: 49px;
    font-size: 0;
    height: 49px;
    color: transparent;
    background-size: 9px 16px;
    background-color: transparent;
    border: 2px solid #181b19;
    transform: translateY(-50%);
    position: absolute;
    top: 40%;
    background-image: url(../img/left-arrow.png);
    background-position: 50%;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1325px) {
    .slick-arrow {
        width: 36px;
        height: 36px;
    }
}
.slick-arrow:hover {
    opacity: 0.8;
}
.slick-arrow:after {
    width: 2px;
    content: "";
    height: 49px;
    background-color: #181b19;
    position: absolute;
    top: 1px;
    right: -5px;
}
@media only screen and (max-width: 1325px) {
    .slick-arrow:after {
        height: 36px;
    }
}
.slick-arrow:before {
    width: 49px;
    content: "";
    height: 2px;
    background-color: #181b19;
    position: absolute;
    bottom: -5px;
    left: 1px;
}
@media only screen and (max-width: 1325px) {
    .slick-arrow:before {
        width: 36px;
    }
}
.slick-arrow.slick-prev {
    left: -70px;
}
@media only screen and (max-width: 1509px) {
    .slick-arrow.slick-prev {
        left: -30px;
    }
}
@media only screen and (max-width: 1340px) {
    .slick-arrow.slick-prev {
        left: -15px;
    }
}
@media only screen and (max-width: 1325px) {
    .slick-arrow.slick-prev {
        left: 5px;
    }
}
@media only screen and (max-width: 1199px) {
    .slick-arrow.slick-prev {
        left: -5px;
    }
}
.slick-arrow.slick-next {
    right: -85px;
    background-image: url(../img/right-arrow.png);
    background-position: 50%;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1509px) {
    .slick-arrow.slick-next {
        right: -30px;
    }
}
@media only screen and (max-width: 1340px) {
    .slick-arrow.slick-next {
        right: -15px;
    }
}
@media only screen and (max-width: 1325px) {
    .slick-arrow.slick-next {
        right: 5px;
    }
}
@media only screen and (max-width: 1199px) {
    .slick-arrow.slick-next {
        right: -5px;
    }
}
.slick-arrow:focus {
    outline: none;
}
.product-gallery:after {
    content: "";
    position: absolute;
    background-color: #000;
    top: 78px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: -1;
}

.gallery-film-roll .film-roll-move-up,
.gallery-film-roll .film-roll-move-down,
.gallery-film-roll .film-roll .list-group-item {
    cursor: pointer;
}

.gallery-film-roll {
    position: relative;
    top: 0px;
    left: 0px;
    max-height: 27rem;
    height: 27rem;
    overflow: hidden;
}

.gallery-film-roll .film-roll {
    position: absolute;
    top: 0rem;
    left: 0rem;
    transition: top 1.2s ease-in-out;
}

.gallery-film-roll .film-roll .list-group-item {
    position: relative;
}

.gallery-film-roll .film-roll .list-group-item:first-child {
    padding-top: 0px;
}

.gallery-film-roll .film-roll-move-up,
.gallery-film-roll .film-roll-move-down {
    position: absolute;
    z-index: 400;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.gallery-film-roll .film-roll-move-up:hover,
.gallery-film-roll .film-roll-move-down:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.gallery-film-roll .film-roll-move-up {
    top: 0px;
    left: 0px;
}

.gallery-film-roll .film-roll-move-down {
    bottom: 0px;
    left: 0px;
}
.product-card {
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}

.product-card .card-info {
    position: relative;
    display: inline-block;
    width: 100%;
}

.product-card .card-info .info-area {
    position: relative;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.4rem 0.6rem 0.8rem 0.6rem;
}

.product-card .card-info .info-area .area-year,
.product-card .card-info .info-area .area-amount-of-records {
    height: 1rem;
}

.product-card .card-info .info-area .area-amount-of-records {
    height: 1rem;
    padding-right: 1.1rem;
}

.product-card .card-info .info-area .area-amount-of-records::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background-image: url(../img/disc-plate.png);
    background-position: center;
    background-size: 1rem;
    background-repeat: no-repeat;
}

.product-card .card-info .info-image {
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.product-card .card-info .info-image::before {
    content: "";
    float: left;
    padding-bottom: 100%;
}

.product-card .card-info .info-image .image-holder {
    position: relative;
    overflow: hidden;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.product-card .card-info .info-image img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.btnp {
    color: #000 !important;
    width: 1.4em !important;
}

.product-card .card-info .info-image .image-holder::before {
    content: "";
    float: left;
    padding-bottom: 100%;
}

.product-card .card-info .info-content {
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.product-card .card-info .info-content .content-title {
    max-height: 1.1875rem;
    padding-left: 0.5rem;
    margin-bottom: 0.125rem;
    overflow: hidden;
    font-weight: 600;
}

.product-card .card-info .info-content .content-category {
    /* max-height: 1.05rem; */
    font-size: 1.25rem;
    font-family: Adobe Devanagari, sans-serif;
    font-style: italic;
    padding-left: 0.5rem;
    margin-bottom: 0.125rem;
    overflow: hidden;
}

.product-card .card-info .info-price-add-to-cart {
    position: absolute;
    left: 0;
    bottom: -2.375rem;
    height: 2.375rem;
    width: 100%;
    padding-left: 0;
}

.product-card .card-info .item-price .info-price {
    font-size: 0.875rem;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.product-card .card-info .info-price-add-to-cart .info-from-price {
    font-size: 0.875rem;
    font-weight: 500;
    padding-left: 0.5rem;
    padding-right: 0;
}

.product-card .card-info .info-price-add-to-cart .info-add-to-cart-form {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.product-card
    .card-info
    .info-price-add-to-cart
    .info-add-to-cart-form
    .add-to-cart-button {
    display: inline-block;
    background: #af2230;
    border: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    font-weight: 300;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
}

.info-product-list {
    font-size: 0.75rem;
    padding-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-price {
    /* border: 2px solid #181b19; */
    text-align: right;
    padding-left: 0;
    padding-right: 15px;
    padding-bottom: 0.5rem;
}

.info-seller {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.item-condition {
    /* border: 2px solid #181b19; */
    border-left: none;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 15px;
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
}

.space {
    padding-left: 1rem !important;
    margin-right: -1.5rem;
}

.space-seller {
    margin-right: -2rem;
}

.product-card .btn {
    display: inline-block;
    font-weight: 500;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;

    /* border: 1px solid transparent; */
    padding: 0;
    font-size: 0.85rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s;
}

.info-price-add-to-cart .button {
    z-index: 1;
    height: 51px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #181b19;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    border: none;
    border-radius: 0;
    background: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
    margin-bottom: 0;
    padding: 8px 30px 0 22px;
    position: relative;
}

.info-price-add-to-cart .button::after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff;

    /* border: 2px solid #181b19; */
    position: absolute;
}

.product-card
    .card-info
    .info-price-add-to-cart
    .info-add-to-cart-form
    .add-to-wishlist-button {
    border: 0;
}

.product-card
    .card-info
    .info-price-add-to-cart
    .info-add-to-cart-form
    .add-to-wishlist-button {
    margin-left: 0.3rem;
}

@media (min-width: 320px) {
    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-cart-button {
        font-size: 0.8rem;
    }

    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-wishlist-button {
        flex: 0 0 25%;
    }
}

@media (min-width: 576px) {
    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-wishlist-button {
        flex: 0 0 25%;
    }

    .product-card .card-info .info-price-add-to-cart .info-add-to-cart-form {
        display: flex;
    }
}

@media (min-width: 768px) {
    .product-card .card-info .info-area {
        width: 105%;
        left: -2.5%;
        z-index: 1070;
    }

    .product-card .card-info .info-image {
        margin-bottom: 0.5rem;
    }

    .product-card .card-info .info-content::before {
        content: "";
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 4.2rem);

        /* border: 2px solid #181b19; */
    }

    .product-card .card-info .info-content::before {
        display: flex;
        width: 100%;
    }

    .product-card .card-info .info-price-add-to-cart {
        -ms-flex-align: end !important;
        align-items: end !important;
    }

    .product-card .card-info .info-price-add-to-cart {
        -ms-flex-align: center !important;
        align-items: center !important;
        width: 100%;
    }

    .product-card .card-info .info-price-add-to-cart .info-price {
        height: 100%;
        line-height: 2.25rem;

        /* border-left: 2px solid #181b19;
        border-bottom: 2px solid #181b19; */
    }

    .product-card .card-info .info-price-add-to-cart .info-add-to-cart-form {
        display: none;
    }

    .product-card .card-info .info-price-add-to-cart .info-add-to-cart-form {
        display: flex;
    }

    .add-to-wishlist-button {
        font-size: 0.66rem;
    }

    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-wishlist-button {
        flex: 0 0 25%;
    }
}

@media (min-width: 992px) {
    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-cart-button {
        font-size: 1rem;
    }

    .add-to-wishlist-button {
        font-size: 0.66rem;
    }

    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-wishlist-button {
        flex: 0 0 25%;
    }
}

@media (min-width: 1200px) {
    .add-to-cart-button {
        padding-left: 0.45rem;
        padding-right: 0.45rem;
    }
}
.container-search {
    padding-top: 2rem;
    margin-top: 4rem;
}
.container-seller-profile {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.container-seller-profile .seller-header {
    position: relative;
    background-size: cover;
    background-position: center center;
    min-height: 38vh;
    max-height: 38vh;
    margin-left: -15px;
    margin-right: -15px;
}

.container-seller-profile .seller-header .header-container {
    position: relative;
    min-height: 38vh;
    max-height: 38vh;
    width: 100%;
}

.container-seller-profile .seller-header .header-container .header-logo {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.container-seller-profile .seller-header .header-container .header-logo .logo {
    width: 20vw;
}
.container-product {
    padding-top: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.container-product .text-header {
    font-family: Adobe Devanagari, sans-serif;
    font-weight: 300;
    color: #181b19;
}

.container-product .product-details .details-title {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #181b19;
}

.container-product .product-details .details-artist {
    position: relative;
    font-family: Adobe Devanagari, sans-serif;
    font-size: 2.375rem;
    font-style: italic;
    color: #181b19;
    margin-bottom: 0.3125rem;
}

.container-product .product-details .details-artist .artist {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding-right: 0.625rem;
    z-index: 1;
}

.container-product .product-details .details-artist::after {
    content: "";
    position: absolute;
    background-color: #181b19;
    width: 100%;
    height: 0.125rem;
    right: 0;
    bottom: 1.125rem;
}

.container-product .product-details .details-statistic,
.container-product .product-details .details-labels .details-label,
.container-product .product-details .details-formats .details-format {
    border-left: 2px solid #76787a;
}

.container-product .product-details .details-statistic.first,
.container-product .product-details .details-labels .details-label.first,
.container-product .product-details .details-formats .details-format.first {
    border-left: none;
}

.container-product .product-details .details-price-shipping .details-price {
    font-size: 2rem;
    font-weight: 500;
    color: #181b19;
}

.container-product
    .product-details
    .details-price-shipping
    .details-shipping-price {
    font-size: 0.8rem;
    font-weight: 500;
    color: #181b19;
}

.container-product .product-other-sellers {
    position: relative;
    height: 1rem;
    line-height: 1rem;
    padding-left: calc(15px + 1.5rem);
    cursor: pointer;
}

.container-product .product-other-sellers::before {
    content: "";
    position: absolute;
    background-image: url("../img/dropdown-arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    left: 15px;
    top: 0;
    width: 1.5rem;
    height: 1rem;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.container-product .product-other-sellers.collapse-open::before {
    transform: rotate(180deg);
}

.container-product .product-other-sellers-collapse .button.button-bag {
    min-width: auto;
}

.product-info {
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.product-info {
    position: relative;
    background-color: #d0d0d0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 0px;
    height: auto;
    max-height: 20rem;
    overflow: hidden;
}

.product-info.open {
    max-height: 600rem;
    padding-bottom: 5rem;
}

.product-info::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21px 21.5px 0;
    border-color: #fff transparent transparent;
    margin-left: -21px;
    position: absolute;
    top: 0;
    left: 50%;
}

.product-info .info-show-more {
    position: absolute;
    background: rgb(208, 208, 208);
    background: linear-gradient(
        0deg,
        rgba(208, 208, 208, 1) 60%,
        rgba(208, 208, 208, 0) 100%
    );
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    line-height: 6rem;
}

.product-info .info-show-more .show-more {
    height: 100%;
    cursor: pointer;
}

.product-info .info-show-more .show-more .more-icon {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(24, 27, 25, 0.2);
    transform: rotate(0deg);
    transition: transform 500ms ease;
}

.product-info.open .info-show-more .show-more .more-icon {
    transform: rotate(180deg);
}

.product-info .info-show-more .more-icon:hover {
    color: rgba(24, 27, 25, 1);
}

.product-info .info-heading {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
    font-family: Poppins, sans-serif;
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;
    margin-right: 0;
    margin-bottom: 2rem;
}

.product-info .info-list {
    max-width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

.product-info .info-list .list-item {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.45;
    font-weight: 500;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-bottom: 0.125rem;
}

.product-info .info-list .list-item p {
    margin-bottom: 0;
}

.product-info .info-list .list-item .item-col-1 {
    width: 42px;
    font-weight: 600;
    color: #76787a;
    text-decoration: underline;
}

.product-info .info-list .list-item .item-col-2 {
    width: calc(100% - 142px);
}

.product-info .info-list .list-item .item-col-3 {
    width: 100px;
    font-weight: 600;
    color: #76787a;
    text-align: right;
    text-decoration: none;
    padding-right: 5px;
}

.product-info .info-list .list-item .item-left {
    width: 50%;
    font-weight: 500;
    color: #76787a;
    text-decoration: none;
}

.product-info .info-list .list-item .item-right {
    width: 50%;
}

.result-list .list-item .info-content {
    font-size: 0.85rem;
    font-weight: 500;
}

.result-list .list-item .info-content .content-title {
    max-height: 1.1875rem;
    margin-bottom: 0.125rem;
    overflow: hidden;
}

.result-list .list-item .info-content .content-category {
    /* max-height: 1.05rem; */
    font-size: 1.05rem;
    font-family: Adobe Devanagari, sans-serif;
    font-style: italic;
    padding-left: 0.5rem;
    margin-bottom: 0.375rem;
    overflow: hidden;
}

.result-list .list-item .info-content::before {
    content: "";
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4.2rem);
}

.result-list .list-item .info-content::before {
    display: flex;
    width: calc(100% + 25px);
}

.result-list .text-con {
    font-size: 1.4rem;
    font-weight: 500 !important;
}

.result-list .list-item .item-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    z-index: 1;
}

.result-list .list-item .item-image img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.result-list .list-item .product-details {
    padding-left: 0;
}

.result-list .list-item .product-details .list-view {
    padding-left: 1.5rem;
}

.result-list .row {
    padding-bottom: 1.5rem;
}

.result-list .list-item .content-category {
    font-size: 1.15rem;
    font-family: Adobe Devanagari, sans-serif;
    font-style: italic;
    margin-bottom: 0.375rem;
}

.result-list .list-item .content-title {
    padding-bottom: initial;
    max-height: 1.8rem;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 600;
}

.result-list .list-item .item-price-list span {
    font-size: 1.2rem;
    font-weight: 500;
}

.info-price-add-to-cart-list .add-to-cart-button {
    font-size: 1.4rem;
    background: #af2230;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    border: 0;
    font-weight: 600;
}

.result-list .info-price-add-to-cart-list .add-to-cart-button {
    width: 82%;
}

.info-price-add-to-cart-list .see-all-for-sale {
    font-size: 1.4rem;
    background: #af2230;
    margin-bottom: 1rem;
    padding: 0.5rem 2.454rem;
    border: 0;
    font-weight: 600;
}

.info-price-add-to-cart-list .button {
    z-index: 1;
    height: 51px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #181b19;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    border: none;
    border-radius: 0;
    background: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
    margin-bottom: 0;
    padding: 8px 30px 0 22px;
    position: relative;
}

.info-price-add-to-cart-list .button::after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 2px solid #181b19;
    position: absolute;
    top: 0;
    right: 0;
}

.result-list .list-item .item-price-list .info-from-price {
    font-size: 1.2rem;
    font-weight: 500;
}

.info-price-add-to-cart-list .add-to-wishlist-button {
    border: 0;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0.5rem 6.407rem;
}

.result-list .info-price-add-to-cart-list .add-to-wishlist-button {
    width: 82%;
}

.info-price-add-to-cart-list .add-to-wishlist-button .fa-heart {
    margin-left: -0.5rem;
}

.container-catalog .text-header {
    font-family: Adobe Devanagari, sans-serif;
    font-weight: 300;
    color: #181b19;
}

.container-catalog .details-price {
    font-size: 2rem;
    font-weight: 500;
    color: #181b19;
}

.result-list .list-item .card {
    width: auto;
}

@media all and (max-width: 768px) {
    .result-list .list-item .info-content {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .result-list .list-item .content-title {
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 1.8rem;
    }

    .result-list .list-item .content-category {
        font-size: 1.5rem;
        font-family: Adobe Devanagari, sans-serif;
        font-style: italic;
        margin-bottom: 0.375rem;
        padding-left: 0;
    }

    .result-list .list-item .product-details {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }

    .result-list .text {
        font-size: 1.2rem;
    }

    .result-list .list-item .item-price-list span {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .result-list .list-item .item-price-list .info-from-price {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .result-list .info-price .btn span {
        font-size: 1.2rem;
    }

    .result-list .info-price {
        padding-top: 1rem;
        margin-left: -2rem;
    }

    .info-price-add-to-cart-list {
    }

    .info-price-add-to-cart-list .add-to-wishlist-button {
        border: 0;
        font-size: 1.2rem;
        padding: 0.375rem 8.027rem;
        margin-left: 0;
    }

    .info-price-add-to-cart-list .add-to-wishlist-button {
        border: 0;
        font-size: 1.2rem;
        padding: 0.657rem 9.21rem;
    }

    .result-list {
        padding-top: 3.5rem;
    }
}

@media (min-width: 768px) {
    .result-list .list-item .info-content {
        font-size: 0.8rem;
    }

    .result-list .list-item .info-content::before {
        display: flex;
        width: calc(100% + 10px);
    }

    .result-list .list-item .content-title {
        font-size: 0.8rem;
    }

    .result-list .list-item .content-category {
        font-size: 1.2rem;
    }

    .result-list .list-item .product-details {
        font-size: 0.9rem;
    }

    .result-list .list-item .font-weight-bold {
        font-size: 0.8rem;
    }

    .result-list .list-item .card-text {
        font-size: 0.8rem;
    }

    .result-list .list-item .text {
        font-size: 0.8rem;
    }

    .info-price-add-to-cart-list .add-to-cart-button {
        font-size: 1rem;
    }

    .info-price-add-to-cart-list .see-all-for-sale {
        font-size: 1rem;
    }

    .info-price-add-to-cart-list .add-to-wishlist-button {
        border: 0;
        font-size: 1.2rem;
        margin-left: 0;
        padding: 0.375rem 8.0261rem;
    }

    .result-list .list-item .item-price-list span {
        font-size: 1rem;
        font-weight: 500;
    }

    .result-list .list-item .item-price-list .info-from-price {
        font-size: 1rem;
        font-weight: 500;
    }
}

@media (min-width: 992px) {
    .result-list .list-item .info-content::before {
        display: flex;
        width: calc(100% + 10px);
    }

    .result-list .list-item .content-title {
        font-size: 1.4rem;
    }

    .result-list .list-item .product-details {
        font-size: 0.9rem;
    }

    .result-list .list-item .font-weight-bold {
        font-size: 0.8rem;
    }

    .result-list .list-item .card-text {
        font-size: 0.8rem;
    }

    .result-list .list-item .text {
        font-size: 0.8rem;
    }

    .info-price-add-to-cart-list .add-to-cart-button {
        font-size: 1.2rem;
    }

    .info-price-add-to-cart-list .see-all-for-sale {
        font-size: 1.2rem;
    }

    .result-list .list-item .item-price-list span {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .result-list .list-item .item-price-list .info-from-price {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .info-price-add-to-cart-list .add-to-wishlist-button {
        border: 0;
        font-size: 1.2rem;
        padding: 0.5rem 6.83rem;
    }
}
.onepage-checkout {
    margin-top: 4rem;
}

.onepage-checkout input[type="text"],
.onepage-checkout input[type="email"],
.onepage-checkout select {
    height: 2.8rem;
}
.container-cart {
    margin-top: 4rem;
}
.cart-sellers-container .seller-container {
    width: 100%;
    padding: 1.8rem 1.6rem;
}

.cart-sellers-container .seller-container:hover {
    background: #eeeeee;
    border: 2px solid #181b19;
}

.cart-sellers-container .seller-container {
    background: #eeeeee;
    border: 2px solid #181b19;
}

.cart-sellers-container .seller-container.minicart-seller {
    border: none;
}

.cart-sellers-container .seller-container .seller-info {
    padding: 0.4rem 0px;
}

.cart-sellers-container .seller-container .seller-info .info-header {
    font-size: 1.1rem;
    font-weight: 400;
}

.cart-sellers-container .seller-container .seller-info .info-header .info-name {
    font-family: Poppins, sans-serif, Adobe Devanagari, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.cart-sellers-container
    .seller-container
    .seller-info
    .info-header
    .info-sub-total {
    font-size: 1.1rem;
    font-weight: 400;
}

.cart-sellers-container .seller-container .seller-cart-items {
    border-top: 1px solid rgba(118, 120, 122, 0.4);
}

.cart-sellers-container .seller-container .seller-cart-items .cart-item {
    height: 6rem;
    max-height: 6rem;
    padding: 0.5rem 0px;
    border-bottom: 1px solid rgba(118, 120, 122, 0.4);
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-image-container {
    width: 20%;
    min-width: 20%;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-image-container::before {
    content: "";
    padding-top: 100%;
    float: left;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-image {
    position: relative;
    width: 20%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-image::before {
    content: "";
    padding-top: 100%;
    float: left;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-image
    img {
    position: absolute;
    width: 100%;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info {
    height: 5rem;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info
    .info-name {
    height: 2.5rem;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info
    .info-remove {
    padding-top: 1.46rem;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info
    .info-price {
    font-size: 0.9rem;
    padding-top: 1.5rem;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info-container {
    width: 80%;
    min-width: 80%;
    height: 88.05px;
    max-height: 88.05px;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info-container
    .info-quantity-name {
    height: 44.025px;
    max-height: 44.025px;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info-container
    .info-price-remove {
    height: 44.025px;
    max-height: 44.025px;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-quantity {
    width: 10%;
    min-width: 10%;
}

.cart-sellers-container .seller-container .seller-cart-items .cart-item strong {
    font-weight: 500;
    font-size: 0.9rem;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-remove {
    width: 100%;
    height: 100%;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-remove
    .remove-icon {
    /* font-size: 2rem; */
    color: rgba(118, 120, 122, 0.6);
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-remove
    .remove-icon:hover {
    color: rgba(118, 120, 122, 0.8);
}

.cart-sellers-container .seller-container .seller-checkout.accordion {
    border-top: 2px solid rgba(24, 27, 25, 0.2);
}

.cart-sellers-container .seller-container:hover .seller-checkout.accordion {
    border-top: 2px solid rgba(24, 27, 25, 0.4);
}

.cart-sellers-container .seller-container .seller-checkout.accordion .card {
    background-color: transparent;
    border-radius: 0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid rgba(24, 27, 25, 0.2);
}

.cart-sellers-container
    .seller-container:hover
    .seller-checkout.accordion
    .card {
    border-bottom: 2px solid rgba(24, 27, 25, 0.4);
}

.cart-sellers-container .seller-container .seller-checkout.accordion .card {
    border-bottom: 2px solid rgba(24, 27, 25, 0.4);
}

.cart-sellers-container
    .seller-container:hover
    .seller-checkout.accordion
    .card {
    background-color: #ffffff;
}

.cart-sellers-container .seller-container .seller-checkout.accordion .card {
    background-color: #ffffff;
}

.cart-sellers-container
    .seller-container
    .seller-checkout.accordion
    .card
    .card-header {
    background-color: transparent;
}

.cart-sellers-container
    .seller-container
    .seller-checkout.accordion
    .card
    .card-header
    .header-text {
    padding: 0.375rem 0.75rem;
    font-weight: 500;
}

.cart-sellers-container
    .seller-container:hover
    .seller-checkout.accordion
    .card
    .card-header {
    background-color: #dadada;
}

.cart-sellers-container
    .seller-container
    .seller-checkout.accordion
    .card
    .card-header {
    background-color: #dadada;
}
.tab-switcher {
    position: relative;
    background: #eeeeee;
    width: 100%;
    border: 2px solid #181b19;
    min-height: 50.5rem;
}

.was-validated .tab-switcher {
    min-height: 61.5rem;
}

.tab-switcher .switcher-panes {
    width: 100%;
}

.tab-switcher .switcher-panes .switcher-pane {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 1.8rem 1.6rem;
    transition: opacity 0.25s ease-in-out;
}

.tab-switcher .switcher-panes .switcher-pane {
    visibility: hidden;
    opacity: 0;
}

.tab-switcher .switcher-panes .switcher-pane.show {
    visibility: visible;
    opacity: 1;
}

.tab-switcher .switcher-tabs {
    position: absolute;
    background-color: #eeeeee;
    bottom: 0px;
    width: 100%;
    transition: opacity 0.25s ease-in-out;
}

.tab-switcher .switcher-tabs {
    visibility: hidden;
    opacity: 0;
}

.tab-switcher .switcher-tabs.show {
    visibility: visible;
    opacity: 1;
}

.tab-switcher .switcher-tabs .switcher-tab {
    background-color: #dadada;
    line-height: 3.4rem;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 5px 4px 2px rgba(65, 29, 29, 0.05);
    box-shadow: inset 0px 5px 4px 2px rgba(0, 0, 0, 0.05);
}

.tab-switcher .switcher-tabs .switcher-tab.active {
    background-color: #eeeeee;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.container-marketplace {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.container-page {
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.container-catalog {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.container-artists {
    padding-bottom: 14rem;
}

.container-artists .artists-tab-header {
    position: fixed;
    background-color: #dadada;
    top: 4rem;
    padding-top: 2rem;
    z-index: 9998;
}

.container-artists .heading-artists {
    margin-bottom: 0.8rem;
}

.container-artists .nav-tabs {
    border-bottom: 1px solid #181b19;
}

.container-artists .nav-tabs .nav-item.show .nav-link,
.container-artists .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #eee;
    border-color: #181b19;
}

.container-artists .nav-tabs .nav-link:focus,
.container-artists .nav-tabs .nav-link:hover {
    border-color: #181b19;
}

.container-artists .artists-tab-panes-row {
    position: relative;
    top: 12rem;
}
.container-artist {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.container-artist .artist-info {
}

.container-artist .artist-info .info-name {
    font-size: 1.6rem;
    font-weight: 500;
}

.artist-product .fa-chevron-down {
    transition: transform 0.35s ease-in-out;
}

.artist-product.open .fa-chevron-down {
    transform: rotate(180deg);
}

.artist-product .product-image img {
    max-height: 5.4rem;
}

.artist-product .product-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.artist-products .products-for-sale .product-grading {
    margin-bottom: 0rem;
}

.artist-products .products-for-sale .product-grading-text {
    font-size: 1rem;
    padding-left: 0.4rem;
}
