<template>
    <div>

            <!-- Add policy base info + countries -->
            <div class="card mb-3">
                <div class="card-header">
                    <button @click="savePolicy()" class="btn btn-info pull-right">
                        Create
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title" >Add your policy base info</h5>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label class="required">Name</label> 
                                <input type="text" v-model="policy.name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="description">Description</label> 
                            <textarea v-model="policy.description" class="form-control autosize-input" style="height: 77px;"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <!-- Emits array of world_country.ids -->
                            <destinations-picker v-on:countryids="setSelectedCountrydIds" />
                        </div>
                    </div>
                </div>
            </div>


            <!-- Add ranges  -->
            <!-- <div class="card">
                <div class="card-body">
                    <h5 class="card-title" >Add your pricing scheme</h5>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label class="required">Max width</label> 
                                <input type="number" name="max_width" placeholder="mm" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label class="required">Max Length</label> 
                                <input type="number" name="max_length" placeholder="mm" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label class="required">Max Height</label> 
                                <input type="number" name="max_height" placeholder="mm" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
  </div>
</template>

<script>

import DestinationsPicker from './components/DestinationsPicker';

export default {
  components: {
    "destinations-picker": DestinationsPicker
  },
  data(){
      return {
          policy: {
              name: "",
              description: "",
              country_ids: []
          }
      }
  },
  methods: {
    setSelectedCountrydIds: function(country_ids){
        this.policy.country_ids = country_ids;
    },
    savePolicy(){
            const vm = this;
            console.log(vm.policy);
            axios
                .post(`${window.location.origin}/api/shipping/policies`,
                    vm.policy
                )
                .then(res => {
                    const swalBody = res.data.swal;
                    const redirect = res.data.data.redirect;
                    Swal.fire(swalBody).then(() => {
                        window.location.href = redirect;
                    });
                })
                .catch(err => {
                    const swalBody = err.response.data.swal;
                    Swal.fire(swalBody);
                });
        }
  }
}
</script>

<style>

</style>