<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Artist id</th>
          <th scope="col">Name</th>
          <!-- <th scope="col">Realname</th>
          <th scope="col">Profile</th>
          <th scope="col">Data quality</th>-->
        </tr>
      </thead>
      <tbody>
        <tr v-for="(artist, index) in artists" :key="index">
          <td>
            <b>{{ artist.artist_id }}</b>
          </td>
          <td>{{ artist.name }}</td>
          <!-- <td>{{ artist.real_name }}</td>
          <td>{{artist.profile}}</td>
          <td>{{ artist.data_quality }}</td>-->
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Artistlist",
  props: {
    artists: Array
  }
};
</script>

<style>
</style>