<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Cat no</th>
          <th scope="col">Entity type</th>
          <th scope="col">Entity type name</th>
          <th scope="col">Resource Url</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(company, index) in companies" :key="index">
          <td>
            <b>{{ company.id }}</b>
          </td>
          <td>{{ company.name }}</td>
          <td>{{ company.catno }}</td>
          <td>{{ company.entity_type}}</td>
          <td>{{ company.entity_type_name }}</td>
          <td>{{ company.resource_url }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Companieslist",
  props: {
    companies: Array
  }
};
</script>

<style>
</style>