<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Type</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(identifier, index) in identifiers" :key="index">
          <td>{{ identifier.description }}</td>
          <td>{{ identifier.type }}</td>
          <td>{{identifier.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Identifierslist",
  props: {
    identifiers: Array
  }
};
</script>

<style>
</style>