<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Label id</th>
          <th scope="col">Name</th>
          <th scope="col">Cat Nr.</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(label, index) in labels" :key="index">
          <td>
            <b>{{ label.label_id }}</b>
          </td>
          <td>{{ label.name }}</td>
          <td>{{ label.cat_no }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Labellist",
  props: {
    labels: Array
  }
};
</script>

<style>
</style>