<template>
  <div class="form-row">
    <div class="col mb-3">
      <div class="card">
        <div class="card-header">
          <h4>{{ releaseForm.name }}</h4>
          <div class="btn-actions-pane-right">
            <button
              class="btn-icon btn-icon-only btn btn-info btn-sm btn-shadow"
              @click="submitRelease"
            >Add To Store</button>
            <button
              class="btn-icon btn-icon-only btn btn-danger btn-sm btn-shadow"
              style="color: white;"
              @click="$emit('cancle')"
            >
              <i class="lnr lnr-cross btn-icon-wrapper"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <!-- (Image) -->
            <div class="col-12 col-sm-auto mb-3">
              <div class="mx-auto" style="width: 140px;">
                <div
                  class="d-flex justify-content-center align-items-center rounded"
                  style="height: 140px; background-color: rgb(233, 236, 239);"
                >
                  <release-image :releaseid="releaseForm.sku" />
                </div>
              </div>
            </div>
            <!-- Small details next to image  -->
            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
              <div class="text-center text-sm-left mb-2 mb-sm-0">
                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ releaseForm.name }}</h4>
                <div class="text-muted">
                  SKU:
                  <small>{{ releaseForm.sku }}</small>
                </div>
                <div class="text-muted">
                  Release Date:
                  <small>{{ releaseForm.release_date }}</small>
                </div>
                <div class="text-muted">
                  Country:
                  <small>{{ releaseForm.country }}</small>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Form section 1 -->
            <div class="col-md-12 mt-2">
              <form method="POST">
                <input type="hidden" name="_token" :value="csrf" />
                <input type="hidden" name="seller_id" v-model="releaseForm.seller_id" />
                <input
                  type="hidden"
                  name="attribute_family_id"
                  v-model="releaseForm.attribute_family_id"
                />
                <input type="hidden" name="channel" v-model="releaseForm.channel" />
                <input type="hidden" name="type" v-model="releaseForm.type" />
                <input type="hidden" name="sku" v-model="releaseForm.sku" />
                <input
                  type="hidden"
                  name="tracklist"
                  :value="
                                        JSON.stringify(releaseForm.tracklist)
                                    "
                />

                <div class="form-row">
                  <!-- Conditions (mints) -->
                  <div class="col-md-6">
                    <div
                      class="position-relative form-group"
                      :class="[
                                                errors.has('condition')
                                                    ? 'has-error'
                                                    : ''
                                            ]"
                    >
                      <label class="required">
                        Media Condition
                        <span style="color:red;">*</span>
                      </label>
                      <select
                        v-model="
                                                    releaseForm.seller.condition
                                                "
                        v-validate="'required'"
                        name="condition"
                        class="form-control"
                        :class="
                                                    errors.has('condition')
                                                        ? 'is-invalid'
                                                        : ''
                                                "
                        id="condition"
                      >
                        <option disabled :value="null">
                          Please select a
                          condition
                        </option>
                        <option value="Mint (M)">Mint</option>
                        <option value="M-">Near Mint</option>
                        <option value="VG+">Very Good Plus</option>
                        <option value="VG" selected="selected">Very Good</option>
                        <option value="G+">Good Plus</option>
                        <option value="G">Good</option>
                        <option value="F">Fair</option>
                        <option value="P">Poor</option>
                      </select>
                    </div>
                  </div>

                  <!-- Sleeve Conditions (mints) -->
                  <div class="col-md-6">
                    <div
                      class="position-relative form-group"
                      :class="[
                                                errors.has('sleeve_condition')
                                                    ? 'has-error'
                                                    : ''
                                            ]"
                    >
                      <label class="required">
                        Sleeve Condition
                        <span style="color:red;">*</span>
                      </label>
                      <select
                        v-model="
                                                    releaseForm.seller
                                                        .sleeve_condition
                                                "
                        v-validate="'required'"
                        name="sleeve_condition"
                        class="form-control"
                        :class="
                                                    errors.has(
                                                        'sleeve_condition'
                                                    )
                                                        ? 'is-invalid'
                                                        : ''
                                                "
                        id="sleeve_condition"
                      >
                        <option disabled :value="null">Please select a condition</option>
                        <option value="Generic">Generic</option>
                        <option value="Not Graded">Not Graded</option>
                        <option value="NC">No Cover</option>
                        <option value="Mint (M)">Mint</option>
                        <option value="M-">Near Mint</option>
                        <option value="VG+">Very Good Plus</option>
                        <option value="VG">Very Good</option>
                        <option value="G+">Good Plus</option>
                        <option value="G">Good</option>
                        <option value="F">Fair</option>
                        <option value="P">Poor</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div
                  class="control-group form-row mb-3"
                  :class="[
                                        errors.has('price') ? 'has-error' : ''
                                    ]"
                >
                  <!-- Price -->
                  <div class="col-md-6">
                    <label for="price" class="required">
                      Price
                      <span style="color:red;">*</span>
                    </label>
                    <input
                      v-validate="'required'"
                      type="text"
                      name="price"
                      v-model="releaseForm.seller.price"
                      class="form-control"
                      :class="
                                                errors.has('price')
                                                    ? 'is-invalid'
                                                    : ''
                                            "
                      id="price"
                    />
                  </div>

                  <!-- Shipping price -->
                  <div class="col-md-6">
                    <label for="shipping_price" class="required">Shipping price</label>
                    <input
                      type="text"
                      name="shipping_price"
                      v-model="
                                                releaseForm.seller
                                                    .shipping_price
                                            "
                      class="form-control"
                      :class="
                                                errors.has('shipping_price')
                                                    ? 'is-invalid'
                                                    : ''
                                            "
                      id="shipping_price"
                    />
                  </div>
                </div>

                <!-- Description -->
                <div class="control-group form-row mb-3">
                  <div class="col-md-12">
                    <label for="description">Description</label>
                    <textarea
                      class="form-control autosize-input"
                      name="description"
                      v-model="
                                                releaseForm.seller.description
                                            "
                      id="description"
                      rows="3"
                    ></textarea>
                  </div>
                </div>

                <!-- Private comments -->
                <div class="control-group form-row mb-3">
                  <div class="col-md-12">
                    <label for="private_comments">Private comments</label>
                    <textarea
                      class="form-control autosize-input"
                      name="private_comments"
                      v-model="
                                                releaseForm.seller
                                                    .private_comments
                                            "
                      id="private_comments"
                      rows="3"
                    ></textarea>
                  </div>
                </div>

                <!-- Storage Location -->
                <div class="control-group form-row mb-3">
                  <div class="col-md-12">
                    <label for="storage_location">Storage Location</label>
                    <textarea
                      class="form-control autosize-input"
                      name="storage_location"
                      v-model="
                                                releaseForm.seller
                                                    .storage_location
                                            "
                      id="storage_location"
                      rows="3"
                    ></textarea>
                  </div>
                </div>

                <hr />

                <!-- Inventory section -->
                <div class="control-group form-row mb-3">
                  <div class="col-md-12">
                    <h5 class="card-title">Inventory</h5>
                    <table class="mb-0 table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Inventory source</th>
                          <th>Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Default</td>
                          <td style="width: 20%;">
                            <input
                              type="text"
                              name="inventories[1]"
                              v-model="
                                                                releaseForm
                                                                    .seller
                                                                    .inventories
                                                            "
                              class="form-control"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <hr />

                <!-- Fixed release details -->
                <b-row>
                  <b-col md="12">
                    <div class="card-header">
                      <ul class="nav nav-justified">
                        <li class="nav-item">
                          <a
                            data-toggle="tab"
                            :href="
                                                            `#tab-${releaseForm.sku}-0`
                                                        "
                            class="nav-link active show"
                          >Tracks</a>
                        </li>
                        <li class="nav-item">
                          <a
                            data-toggle="tab"
                            :href="
                                                            `#tab-${releaseForm.sku}-1`
                                                        "
                            class="nav-link show"
                          >Artists</a>
                        </li>
                        <li class="nav-item">
                          <a
                            data-toggle="tab"
                            :href="
                                                            `#tab-${releaseForm.sku}-2`
                                                        "
                            class="nav-link show"
                          >Labels</a>
                        </li>
                        <li class="nav-item">
                          <a
                            data-toggle="tab"
                            :href="
                                                            `#tab-${releaseForm.sku}-3`
                                                        "
                            class="nav-link show"
                          >Companies</a>
                        </li>
                        <li class="nav-item">
                          <a
                            data-toggle="tab"
                            :href="
                                                            `#tab-${releaseForm.sku}-4`
                                                        "
                            class="nav-link show"
                          >Identifiers</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                      <div class="tab-content">
                        <div
                          class="tab-pane active show"
                          :id="
                                                        `tab-${releaseForm.sku}-0`
                                                    "
                          role="tabpanel"
                        >
                          <track-list
                            :tracklist="
                                                            releaseForm.tracklist
                                                        "
                          ></track-list>
                        </div>
                        <div
                          class="tab-pane show"
                          :id="
                                                        `tab-${releaseForm.sku}-1`
                                                    "
                          role="tabpanel"
                        >
                          <artist-list
                            :artists="
                                                            releaseForm.artists
                                                        "
                          ></artist-list>
                        </div>
                        <div
                          class="tab-pane show"
                          :id="
                                                        `tab-${releaseForm.sku}-2`
                                                    "
                          role="tabpanel"
                        >
                          <label-list
                            :labels="
                                                            releaseForm.labels
                                                        "
                          ></label-list>
                        </div>
                        <div
                          class="tab-pane show"
                          :id="
                                                        `tab-${releaseForm.sku}-3`
                                                    "
                          role="tabpanel"
                        >
                          <companies-list
                            :companies="
                                                            releaseForm.companies
                                                        "
                          ></companies-list>
                        </div>
                        <div
                          class="tab-pane show"
                          :id="
                                                        `tab-${releaseForm.sku}-4`
                                                    "
                          role="tabpanel"
                        >
                          <identifiers-list
                            :identifiers="
                                                            releaseForm.identifiers
                                                        "
                          ></identifiers-list>
                        </div>
                      </div>
                    </div>
                  </b-col>
                </b-row>
              </form>
            </div>
          </div>

          <!--  -->

          <!-- rest -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Tracklist from "./Tracklist";
import Artistlist from "./Artistlist";
import Labellist from "./Labellist";
import Companieslist from "./Companieslist";
import Identifierslist from "./Identifierslist";
import ReleaseImage from "./ReleaseImage";
import cloneDeep from 'lodash.clonedeep'

import axios from "axios";

export default {
  name: "ReleaseForm",
  props: {
    release: Object
  },
  components: {
    "track-list": Tracklist,
    "artist-list": Artistlist,
    "label-list": Labellist,
    "companies-list": Companieslist,
    "identifiers-list": Identifierslist,
    "release-image": ReleaseImage
  },
  computed: {
    tracklist: function() {
      return JSON.stringify(this.releaseForm.tracklist);
    },
    jwt: function() {
      var jwt_meta = document.querySelector('meta[name="jwt"]');

      if (jwt_meta) {
        return jwt_meta.getAttribute("content");
      } else {
        return false;
      }
    }
  },
  mounted() {
    this.releaseForm = { ...this.releaseForm, ...this.release };

    console.log(this.releaseForm);
  },
  created() {
    console.log("created");
  },
  methods: {
    swalShowLoader() {
      this.$swal.showLoading();
    },
    swalShowFormSubmitSuccess(msg) {
      // Use sweetalert2
      this.$swal({
        icon: "success",
        title: "Successfully added to your store",
        text: msg,
        showCancelButton: true,
        cancelButtonText: "Product overview",
        confirmButtonText: "One more product",
        showCloseButton: true
      }).then(result => {
        if (result.value) {
          // refresh current page
          location.reload();
        } else {
          // go to product overview
          window.location = `${window.location.origin}/marketplace/account/catalog/products`;
        }
      });
    },
    submitRelease: function(e) {
      e.preventDefault();

      // console.log(JSON.stringify(this.releaseForm));
      const vm = this;

      vm.$validator.validateAll().then(valid => {
        if (valid) {
          vm.swalShowLoader();

        //   const form = vm.releaseForm;
        //   // clone form object (so that in editing it, you wont edit the vuejs data object)
        //   let copiedReleaseForm = Object.assign({}, form);

            var clonedReleaseForm = _.cloneDeep(vm.releaseForm);

            clonedReleaseForm.seller.inventories = {
                1: vm.releaseForm.seller.inventories
            };

            //   form is valid for submitting
                axios
                .post(
                    `${window.location.origin}/api/release/import`,
                    clonedReleaseForm,
                    {
                        headers: {
                            Authorization: "Bearer " + vm.jwt
                        }
                    }
                )
                .then(res => {

                    const swalBody = res.data.swal;
                    vm.$emit("success", swalBody);
                    // Swal.fire(swalBody);
                })
                .catch(err => {
                    const swalBody = err.response.data.swal;
                    Swal.fire(swalBody);
                });
            }
      });
    }
  },
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
      releaseForm: {
        name: "",
        sku: "",
        release_date: "",
        country: "",
        formats: [],
        seller: {
          price: null,
          is_owner: 0,
          shipping_price: null,
          description: "",
          private_comments: "",
          storage_location: "",
          condition: "", // is the media condition
          sleeve_condition: "",
          inventories: 1
        },
        tracklist: [],
        labels: [],
        artists: [],
        categories: [] // array of bagisto category ids.
      }
    };
  }
};
</script>

<style></style>
