<template>
  <div>
      <div v-if="UX.loading" class="d-flex justify-content-center mt-3">
          <div>
              <pulse-loader :loading="UX.loadingMatches" color="#0845F5" size="15px"></pulse-loader>
          </div>
      </div>

      <img
          v-if="!UX.loading"
          class="d-block w-100 shadow rounded"
          :src="url"
          alt="Primary release image"
      />
  </div>
</template>

<script>
import PulseLoader from "vue-spinner/src/PulseLoader";


export default {
  name: "ReleaseImage",
  props: ["releaseid"],
    data(){
      return {
        UX: {
            loading: true
        },
          url: ""
      }
    },
    computed: {
        // a computed getter
        jwt: function() {
            var x = document.querySelector('meta[name="jwt"]');
            // `this` points to the vm instance
            if (x) {
                return x.getAttribute("content");
            } else {
                return false;
            }
        }
    },
    components:{
        "pulse-loader": PulseLoader,
    },
    watch: {
        releaseid: function(newVal, oldVal) { // watch it
            this.fetch();
        }
    },
    mounted() {
      if(this.$props.releaseid){
          this.fetch();
      }
    },
    methods: {
        fetch: function () {
            const vm = this;
            axios
                .get(`${window.location.origin}/api/releaseImage/${this.$props.releaseid}`, {
                    headers: {
                        Authorization: "Bearer " + vm.jwt
                    }
                })
                .then(res => {
                    // add release that was matched by id
                    console.log(res.data.data);
                    vm.url = res.data.data;
                    vm.UX.loading = false;
                })
                .catch(err => {
                    console.log('no image');
                    vm.url = "https://via.placeholder.com/400x400";
                    vm.UX.loading = false;
                });
        }
    }
};

</script>

<style></style>
