.container-register {
    margin-top: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.sign-up-form {
    border: 2px solid #000;
    padding: 1.4rem;
    margin-bottom: 1.4rem;
}

@media (min-width: 992px) {
    .container-register {
        padding-top: 3rem;
    }
}
