<template>
    <div class="run-profile">
        <form id="run_profiler">
            @csrf
            <div class="control-group">
                <label for="export-product-type">Select File</label>

                <select class="control" id="run-data-flow-profile" name="data_flow_profile">
                    <option>Please Select</option>
                </select>

                <div class="page-action">
                    <button type="submit" class="btn btn-lg btn-primary mt-10">
                        Run
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        props: {
            value: String
        },

        created: function() {
            initiateProfiler();
        },

        methods: {
            initiateProfiler: function() {

            },

            calculations: function() {

            }
        },
    }
</script>