.social-icon {
    width: 36px;
    height: 36px;
}
.mp-facebook-icon {
    background-image: url("../images/mp-facebook.svg");
}
.mp-twitter-icon {
    background-image: url("../images/mp-twiter.svg");
}
.mp-instagram-icon {
    background-image: url("../images/mp-instagram.svg");
}
.mp-pinterest-icon {
    background-image: url("../images/mp-pinterest.svg");
}
.mp-skype-icon {
    background-image: url("../images/mp-skype.svg");
}
.mp-linked-in-icon {
    background-image: url("../images/mp-linked-in.svg");
}
.mp-youtube-icon {
    background-image: url("../images/mp-youtube.svg");
}
.marketplace-icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/Icon-Marketplace.svg");
}
.active.marketplace-icon,
.active .marketplace-icon {
    background-image: url("../images/Icon-Marketplace-Active.svg");
}
.cross-accent {
    background-image: url("../images/cross-accent.svg");
    margin-right: 5px;
}
.icon-finish {
    background-image: url("../images/finish.svg");
    height: 30px;
    width: 30px;
}
.account-head .account-action {
    margin: 0;
}
.modal-container {
    top: 40px;
}
.success {
    color: green;
}
.error {
    color: red;
}
@media only screen and (max-width: 770px) {
    .account-head .account-action {
        margin: 4px !important;
        margin-right: 0 !important;
    }
    .account-head .account-action .control-group.date {
        width: 49% !important;
        margin-left: 0 !important;
    }
    .account-head .account-action .control-group.date:after,
    .account-head .account-action .control-group.datetime:after {
        position: static !important;
    }
    .table .grid-container {
        margin-top: 10px;
    }
    .table .grid-container .filter-row-one {
        display: block;
    }
    .dropdown-list.top-right {
        bottom: auto;
        right: auto;
    }
    .dropdown-filters {
        margin-top: 10px;
    }
}
.profile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    margin-bottom: 80px;
}
.profile-container .profile-top-block {
    width: 100%;
}
.profile-container .profile-top-block .profile-information {
    float: left;
}
.profile-container .profile-top-block .profile-information .profile-logo-block {
    width: 120px;
    height: 120px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}
.profile-container
    .profile-top-block
    .profile-information
    .profile-logo-block
    img {
    width: 120px;
    height: 120px;
}
.profile-container
    .profile-top-block
    .profile-information
    .profile-information-block {
    float: left;
    margin-top: 32px;
    margin-left: 20px;
}
.profile-container
    .profile-top-block
    .profile-information
    .profile-information-block
    .shop-title {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}
.profile-container .profile-top-block .review-information {
    float: right;
    text-align: center;
    padding-top: 25px;
}
.profile-container .profile-top-block .review-information .number {
    font-size: 34px;
}
.profile-container .profile-top-block .review-information .stars {
    vertical-align: top;
    display: inline-block;
    margin-top: 13px;
}
.profile-container .profile-top-block .review-information .stars .icon {
    width: 16px;
    height: 16px;
}
.profile-container .profile-left-block {
    width: 25%;
    float: left;
    margin-top: 60px;
    min-height: 1px;
    text-align: center;
}
.profile-container .profile-left-block h2.shop-title {
    margin-bottom: 5px !important;
}
.profile-container .profile-left-block a.shop-title {
    font-size: 24px;
    color: #0031f0;
    display: block;
    margin-bottom: 5px;
}
.profile-container .profile-left-block .content {
    position: relative;
    border: 1px solid #e8e8e8;
    padding: 20px;
    padding-top: 80px;
}
.profile-container .profile-left-block .content .profile-logo-block {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -60px;
}
.profile-container .profile-left-block .content .profile-logo-block img {
    width: 120px;
    height: 120px;
}
.profile-container
    .profile-left-block
    .content
    .profile-information-block
    .row {
    margin-bottom: 20px;
}
.profile-container
    .profile-left-block
    .content
    .profile-information-block
    .row:last-child {
    margin-bottom: 0;
}
.profile-container
    .profile-left-block
    .content
    .profile-information-block
    .row.social-links
    a {
    display: inline-block;
}
.profile-container .profile-left-block .content .profile-information-block h2 {
    font-size: 24px;
    margin: 0;
}
.profile-container
    .profile-left-block
    .content
    .profile-information-block
    .review-info
    .number {
    font-size: 34px;
}
.profile-container
    .profile-left-block
    .content
    .profile-information-block
    .review-info
    .stars {
    vertical-align: top;
    display: inline-block;
    margin-top: 13px;
}
.profile-container
    .profile-left-block
    .content
    .profile-information-block
    .review-info
    .stars
    .icon {
    width: 16px;
    height: 16px;
}
.profile-container .profile-right-block {
    width: 80%;
    padding-left: 20px;
    display: block;
}
.profile-container .profile-right-block img {
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 770px) {
    .profile-container,
    .profile-container .profile-top-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .profile-container .profile-top-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .profile-container .profile-top-block .review-information {
        text-align: left;
    }
    .profile-container .profile-left-block {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .profile-container .profile-right-block {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }
}
.section .section-heading {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}
.section .section-heading h2 {
    font-size: 18px;
    font-weight: 500;
    float: left;
    margin: 0;
}
.section .section-heading h2 .seperator {
    position: absolute;
    border-bottom: 1px solid #e8e8e8;
    width: 50px;
    margin-top: 20px;
}
.product-items {
    margin-bottom: 40px;
}
.product-items .section-heading .btn {
    float: right;
}
.profile-details {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}
.profile-details .profile-details-left-block {
    width: 50%;
    float: left;
    padding-right: 15px;
}
.profile-details .profile-details-left-block .slider-container {
    padding: 25px 25px 0;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    position: relative;
}
.profile-details .profile-details-left-block .slider-container .stars {
    vertical-align: top;
    display: inline-block;
    margin-top: 13px;
}
.profile-details .profile-details-left-block .slider-container .stars .icon {
    width: 16px;
    height: 16px;
}
.profile-details
    .profile-details-left-block
    .slider-container
    .VueCarousel-inner {
    margin-bottom: 20px;
}
.profile-details
    .profile-details-left-block
    .slider-container
    .VueCarousel-pagination {
    display: inline-block;
}
.profile-details
    .profile-details-left-block
    .slider-container
    .VueCarousel-pagination
    .VueCarousel-dot-container {
    float: left;
}
.profile-details
    .profile-details-left-block
    .slider-container
    .VueCarousel-pagination
    .VueCarousel-dot-container
    .VueCarousel-dot {
    margin-top: 0 !important;
}
.profile-details .profile-details-left-block .slider-container a {
    position: absolute;
    right: 40px;
    bottom: 14px;
}
.profile-details .profile-details-left-block .accordian-header {
    padding: 10px 0;
}
.profile-details .profile-details-left-block .accordian-content {
    padding: 20px 0;
}
.profile-details .profile-details-right-block {
    width: 50%;
    float: left;
    padding-left: 15px;
}
@media only screen and (max-width: 770px) {
    .profile-details {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: block;
        flex-direction: block;
    }
    .profile-details .profile-details-left-block {
        width: 100%;
        padding-right: 0;
    }
    .profile-details .profile-details-right-block {
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
    }
}
.stars .star {
    font-size: 25px;
    color: #d4d4d4;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.stars .star:before {
    content: "\2605";
}
.control-group span.locale {
    display: none;
}
.dropdown-list.product-search-list .dropdown-container {
    padding: 0 0 0 10px;
    max-height: 344px;
}
.dropdown-list.product-search-list .dropdown-container li img {
    width: 52px;
    height: 60px;
}
.dropdown-list.product-search-list .dropdown-container .table table tbody td {
    vertical-align: middle;
}
.dropdown-list.product-search-list
    .dropdown-container
    .table
    table
    tbody
    td.last {
    width: 120px;
}
.dropdown-list.product-search-list
    .dropdown-container
    .table
    table
    tbody
    td.last
    a {
    margin: 0;
}
.dropdown-list.product-search-list
    .dropdown-container
    .table
    table
    tbody
    td.last
    .btn {
    color: #fff;
}
.product-information .product-image {
    max-height: 350px;
    max-width: 280px;
    margin-right: 20px;
    float: left;
    background: #f2f2f2;
}
.product-information .product-image img {
    display: block;
    width: 100%;
}
.product-information .product-details .product-name {
    font-size: 24px;
}
.product-information .product-details .product-price {
    font-size: 18px;
    margin-top: 10px;
}
.product-offer-container {
    margin-bottom: 20px;
    width: 100%;
}
.product-offer-container .product {
    width: 100%;
    display: inline-block;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
}
.product-offer-container .product .product-information {
    float: left;
}
.product-offer-container .product .product-information .product-logo-block {
    width: 162px;
    height: 162px;
    float: left;
    overflow: hidden;
    background: #f2f2f2;
    border: 1px solid #e8e8e8;
}
.product-offer-container .product .product-information .product-logo-block img {
    width: 160px;
    height: 160px;
}
.product-offer-container
    .product
    .product-information
    .product-information-block {
    float: left;
    margin-left: 20px;
}
.product-offer-container
    .product
    .product-information
    .product-information-block
    .product-title {
    font-size: 18px;
    font-weight: 600;
    color: #242424;
    display: block;
    margin-bottom: 5px;
}
.product-offer-container
    .product
    .product-information
    .product-information-block
    .price {
    margin-top: 10px;
}
.product-offer-container
    .product
    .product-information
    .product-information-block
    .price
    .product-price {
    font-size: 24px;
}
.product-offer-container
    .product
    .product-information
    .product-information-block
    .stock-status {
    margin-bottom: 15px;
    font-weight: 600;
    color: #fc6868;
}
.product-offer-container
    .product
    .product-information
    .product-information-block
    .stock-status.active {
    color: #4caf50;
}
.product-offer-container .product .review-information {
    float: right;
    text-align: center;
}
.product-offer-container .product .review-information .stars {
    vertical-align: top;
    display: inline-block;
}
.product-offer-container .product .review-information .stars .icon {
    width: 16px;
    height: 16px;
}
.product-offer-container .product .review-information .total-reviews {
    margin-top: 10px;
}
.product-offer-container .seller-product-list {
    width: 75%;
}
.product-offer-container .seller-product-list h2.heading {
    margin-top: 30px;
}
.product-offer-container .seller-product-list .content .seller-product-item {
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    table
    tbody
    td {
    vertical-align: middle;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    table
    tbody
    td:first-child {
    padding-left: 0;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    table
    tbody
    td:last-child {
    padding-right: 0;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    table
    tbody
    td
    .control-group {
    width: 60px;
    display: inline-block;
    float: left;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    table
    tbody
    td
    .btn.btn-black {
    padding: 9px 20px;
    margin-left: 10px;
    float: left;
    text-transform: uppercase;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    table
    tbody
    td
    .stock-status {
    font-weight: 600;
    color: #fc6868;
    margin-left: 10px;
    float: left;
    padding: 9px 0;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    .profile-logo-block {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    .profile-logo-block
    img {
    width: 60px;
    height: 60px;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    .profile-information-block {
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    .profile-information-block
    .review-information {
    margin-top: 3px;
    color: #5e5e5e;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    .profile-information-block
    .review-information
    .star-icon {
    width: 16px;
    height: 16px;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-top
    .control {
    height: 38px;
    width: 60px;
    text-align: center;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-bottom
    .product {
    margin-top: 20px;
    padding: 0;
    border: 0;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-bottom
    .product
    .product-images-block {
    width: 164px;
    height: 164px;
    overflow: hidden;
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-bottom
    .product
    .product-images-block
    .VueCarousel-wrapper {
    border: 1px solid #e8e8e8;
    position: relative;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-bottom
    .product
    .product-images-block
    .VueCarousel-pagination {
    position: absolute;
    top: 100px;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-bottom
    .product
    .product-images-block
    .product-image {
    width: 100%;
    height: 162px;
    float: left;
    overflow: hidden;
    background: #f2f2f2;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-bottom
    .product
    .product-images-block
    .product-image
    img {
    height: 100%;
}
.product-offer-container
    .seller-product-list
    .content
    .seller-product-item
    .product-info-bottom
    .product
    .product-information-block {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.dashboard .page-header {
    margin-bottom: 0 !important;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 64%, 0.2);
}
.dashboard .page-content {
    margin-top: 15px;
}
.dashboard .card {
    height: 445px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    padding: 10px 0 0 10px;
}
.dashboard .card .card-title {
    font-size: 14px;
    color: #a2a2a2;
    letter-spacing: -0.26px;
    text-transform: uppercase;
}
.dashboard .card .card-info {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.dashboard .card .card-info.center {
    text-align: center;
}
.dashboard .card .card-info ul li {
    border-bottom: 1px solid hsla(0, 0%, 64%, 0.2);
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    position: relative;
}
.dashboard .card .card-info ul li .image {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 15px;
}
.dashboard .card .card-info ul li .image.product {
    background: #f2f2f2;
}
.dashboard .card .card-info ul li .image img {
    width: 100%;
}
.dashboard .card .card-info ul li .description {
    margin-top: 10px;
}
.dashboard .card .card-info ul li .description .name {
    color: #0041ff;
}
.dashboard .card .card-info ul li .description .info {
    color: #3a3a3a;
    margin-top: 5px;
}
.dashboard .card .card-info ul li .icon.angle-right-icon {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -8px;
}
.dashboard .card .card-info ul li:last-child {
    border-bottom: 0;
}
.dashboard .card .card-info .no-result-found {
    margin-top: 146px;
}
.dashboard .card .card-info .no-result-found p {
    margin: 0;
    color: #a2a2a2;
}
.dashboard .dashboard-stats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
    grid-auto-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
.dashboard .dashboard-stats .dashboard-card {
    height: 100px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    position: relative;
    padding: 15px;
}
.dashboard .dashboard-stats .dashboard-card .title {
    font-size: 14px;
    color: #a2a2a2;
    text-transform: uppercase;
}
.dashboard .dashboard-stats .dashboard-card .data {
    padding-top: 3px;
    font-size: 32px;
    color: #0041ff;
}
.dashboard .dashboard-stats .dashboard-card .data .progress {
    font-size: 14px;
    color: #8e8e8e;
    float: right;
    margin-top: 9px;
}
.dashboard .dashboard-stats .dashboard-card .data .progress .icon {
    vertical-align: middle;
}
.dashboard .graph-stats {
    margin-top: 10px;
    width: 100%;
    display: inline-block;
}
.dashboard .sale-stock {
    width: 100%;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
    grid-auto-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    margin-top: 10px;
}
@media only screen and (max-width: 770px) {
    .dashboard .card {
        height: 100%;
    }
}
.account-content .account-action .control-group.date {
    width: 180px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 20px;
}
.account-content .account-action .control-group.date .control {
    width: 100%;
    margin: 0;
}
.seller-central-container .banner-container {
    position: relative;
    margin-bottom: 75px;
}
.seller-central-container .banner-container img.banner {
    width: 100%;
    min-height: 500px;
}
.seller-central-container .banner-container .banner-content {
    display: inline-block;
    position: absolute;
    width: 60%;
    height: 60%;
    padding: 45px;
    top: 20%;
    right: 20%;
    background: hsla(0, 0%, 100%, 0.55);
    text-align: center;
}
.seller-central-container .banner-container .banner-content h1 {
    margin: 0;
    font-size: 34px;
    color: #000;
}
.seller-central-container .banner-container .banner-content p {
    color: #000;
    margin: 20px 0;
}
.seller-central-container .banner-container .banner-content .btn {
    margin-top: 20px;
}
.seller-central-container .feature-container {
    margin-bottom: 80px;
    text-align: center;
}
.seller-central-container .feature-container .feature-heading {
    margin-bottom: 60px;
}
.seller-central-container .feature-container .feature-heading h2 {
    font-size: 24px;
    color: #242424;
}
.seller-central-container .feature-container .feature-heading p {
    color: #5e5e5e;
    max-width: 600px;
    margin: auto;
}
.seller-central-container .feature-container .feature-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    grid-auto-rows: auto;
    grid-column-gap: 65px;
    grid-row-gap: 65px;
}
.seller-central-container .feature-container .feature-list li .feature-label {
    color: #242424;
    margin-top: 15px;
}
.seller-central-container .popular-sellers-container {
    margin-bottom: 80px;
}
.seller-central-container .popular-sellers-container .popular-sellers-heading {
    font-size: 18px;
    color: #242424;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.seller-central-container
    .popular-sellers-container
    .popular-sellers-list
    .popular-seller-item {
    width: 100%;
    border: 1px solid #e8e8e8;
    padding: 20px;
    margin-bottom: 10px;
    display: inline-block;
}
.seller-central-container
    .popular-sellers-container
    .popular-sellers-list
    .popular-seller-item:last-child {
    margin-bottom: 0;
}
.seller-central-container
    .popular-sellers-container
    .popular-sellers-list
    .popular-seller-item
    .profile-information {
    float: left;
    margin-right: 40px;
}
.seller-central-container
    .popular-sellers-container
    .popular-sellers-list
    .popular-seller-item
    .profile-information
    .profile-logo-block {
    width: 120px;
    height: 120px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}
.seller-central-container
    .popular-sellers-container
    .popular-sellers-list
    .popular-seller-item
    .profile-information
    .profile-information-block {
    float: left;
    margin-left: 20px;
}
.seller-central-container
    .popular-sellers-container
    .popular-sellers-list
    .popular-seller-item
    .profile-information
    .profile-information-block
    .shop-title {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}
.seller-central-container
    .popular-sellers-container
    .popular-sellers-list
    .popular-seller-item
    .profile-information
    .profile-information-block
    .social-links {
    margin-top: 20px;
    margin-left: -13px;
}
.seller-central-container
    .popular-sellers-container
    .popular-sellers-list
    .popular-seller-item
    .profile-information
    .profile-information-block
    .btn {
    margin-top: 20px;
}
.seller-central-container
    .popular-sellers-container
    .popular-sellers-list
    .popular-seller-item
    .seller-products {
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
.seller-central-container
    .popular-sellers-container
    .popular-sellers-list
    .popular-seller-item
    .seller-products
    .seller-product-item {
    background: #f2f2f2;
}
.seller-central-container
    .popular-sellers-container
    .popular-sellers-list
    .popular-seller-item
    .seller-products
    .seller-product-item
    img {
    width: 100%;
}
.seller-central-container .setup-step-container {
    text-align: center;
    margin-bottom: 40px;
}
.seller-central-container .setup-step-container .setup-heading {
    margin-bottom: 60px;
}
.seller-central-container .setup-step-container .setup-heading h2 {
    font-size: 24px;
    color: #242424;
}
.seller-central-container .setup-step-container .setup-heading p {
    color: #5e5e5e;
    max-width: 600px;
    margin: auto;
}
.seller-central-container .setup-step-container .setup-step-list {
    display: inline-block;
    position: relative;
    text-align: left;
}
.seller-central-container .setup-step-container .setup-step-list:before {
    width: 2px;
    height: 380px;
    position: absolute;
    content: "";
    background-color: #e8e8e8;
    z-index: -1;
    left: 30px;
    top: 5px;
}
.seller-central-container .setup-step-container .setup-step-list li {
    width: 100%;
}
.seller-central-container .setup-step-container .setup-step-list li .circle {
    width: 64px;
    height: 64px;
    border: 1px solid #e8e8e8;
    background: #fff;
    line-height: 63px;
    color: #5e5e5e;
    display: inline-block;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 25px;
    text-align: center;
}
.seller-central-container .setup-step-container .setup-step-list li.active {
    color: #0041ff;
    border-color: #0041ff;
}
.seller-central-container
    .setup-step-container
    .setup-step-list
    li.active
    .circle {
    background: #0041ff;
    color: #fff;
}
.seller-central-container .open-shop-information-container {
    width: 100%;
    border: 1px solid #e8e8e8;
    padding: 40px;
    text-align: center;
}
.seller-central-container .open-shop-information-container p {
    margin: 0;
    margin-bottom: 40px;
    color: #5e5e5e;
}
@media only screen and (max-width: 700px) {
    .seller-profile-edit {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 90px !important;
    }
}
@media only screen and (max-width: 530px) {
    .seller-profile-edit {
        height: 200px !important;
    }
    .seller-profile-edit,
    .seller-profile-edit .account-action {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .seller-profile-edit .account-action {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .seller-profile-edit .account-action .btn-lg {
        margin-top: 10px;
        text-align: center;
    }
}
@media only screen and (max-width: 1140px) {
    .seller-central-container .banner-container .banner-content p {
        margin: 10px 0;
    }
    .seller-central-container .banner-container .banner-content .btn {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 775px) {
    .seller-central-container
        .popular-sellers-container
        .popular-sellers-list
        .popular-seller-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .seller-central-container
        .popular-sellers-container
        .popular-sellers-list
        .popular-seller-item
        .profile-information {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .seller-central-container .banner-container .banner-content {
        padding: 30px;
    }
    .seller-central-container .banner-container .banner-content h1 {
        font-size: 28px;
    }
}
@media only screen and (max-width: 600px) {
    .seller-central-container .banner-container .banner-content {
        padding: 20px;
        width: 65%;
        height: 65%;
        top: 17.5%;
        right: 17.5%;
    }
    .seller-central-container .banner-container .banner-content h1 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 480px) {
    .seller-central-container .about-marketplace-container div {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        width: 100% !important;
        padding: 0 !important;
    }
}
@media only screen and (max-width: 430px) {
    .seller-central-container .banner-container .banner-content {
        padding: 20px;
        width: 70%;
        height: 70%;
        top: 15%;
        right: 15%;
    }
    .seller-central-container .banner-container .banner-content h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 770px) {
    .control-group.date:after,
    .control-group.datetime:after {
        position: absolute;
        top: 33px;
        right: 3px;
    }
}
