.jquery-auto-complete-container {
    transition: opacity ease-in-out 0.1s, visibility ease-in-out 0.1s;
}

.jquery-auto-complete-container {
    position: absolute;
    visibility: hidden;
    background-color: #ffffff;
    top: 67px;
    left: 0px;
    width: calc(100% - 10px);
    min-height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 0.25rem 5px 0px 5px;
    opacity: 0;
    z-index: 400;
}

.jquery-auto-complete-container.show {
    visibility: visible;
    opacity: 1;
}

.autocomplete-loading-icon,
.autocomplete-question-icon,
.autocomplete-check-icon {
    position: absolute;
    right: 1rem;
    top: 2.34rem;
    font-size: 1.4rem;
}

.autocomplete-col {
    cursor: pointer;
}

.autocomplete-col:hover {
    background-color: #007bff;
    color: #ffffff;
}
