.product-card {
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}

.product-card .card-info {
    position: relative;
    display: inline-block;
    width: 100%;
}

.product-card .card-info .info-area {
    position: relative;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.4rem 0.6rem 0.8rem 0.6rem;
}

.product-card .card-info .info-area .area-year,
.product-card .card-info .info-area .area-amount-of-records {
    height: 1rem;
}

.product-card .card-info .info-area .area-amount-of-records {
    height: 1rem;
    padding-right: 1.1rem;
}

.product-card .card-info .info-area .area-amount-of-records::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background-image: url(../../../img/disc-plate.png);
    background-position: center;
    background-size: 1rem;
    background-repeat: no-repeat;
}

.product-card .card-info .info-image {
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.product-card .card-info .info-image::before {
    content: "";
    float: left;
    padding-bottom: 100%;
}

.product-card .card-info .info-image .image-holder {
    position: relative;
    overflow: hidden;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.product-card .card-info .info-image img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.btnp {
    color: #000 !important;
    width: 1.4em !important;
}

.product-card .card-info .info-image .image-holder::before {
    content: "";
    float: left;
    padding-bottom: 100%;
}

.product-card .card-info .info-content {
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.product-card .card-info .info-content .content-title {
    max-height: 1.1875rem;
    padding-left: 0.5rem;
    margin-bottom: 0.125rem;
    overflow: hidden;
    font-weight: 600;
}

.product-card .card-info .info-content .content-category {
    /* max-height: 1.05rem; */
    font-size: 1.25rem;
    font-family: Adobe Devanagari, sans-serif;
    font-style: italic;
    padding-left: 0.5rem;
    margin-bottom: 0.125rem;
    overflow: hidden;
}

.product-card .card-info .info-price-add-to-cart {
    position: absolute;
    left: 0;
    bottom: -2.375rem;
    height: 2.375rem;
    width: 100%;
    padding-left: 0;
}

.product-card .card-info .item-price .info-price {
    font-size: 0.875rem;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.product-card .card-info .info-price-add-to-cart .info-from-price {
    font-size: 0.875rem;
    font-weight: 500;
    padding-left: 0.5rem;
    padding-right: 0;
}

.product-card .card-info .info-price-add-to-cart .info-add-to-cart-form {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.product-card
    .card-info
    .info-price-add-to-cart
    .info-add-to-cart-form
    .add-to-cart-button {
    display: inline-block;
    background: #af2230;
    border: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    font-weight: 300;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
}

.info-product-list {
    font-size: 0.75rem;
    padding-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-price {
    /* border: 2px solid #181b19; */
    text-align: right;
    padding-left: 0;
    padding-right: 15px;
    padding-bottom: 0.5rem;
}

.info-seller {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.item-condition {
    /* border: 2px solid #181b19; */
    border-left: none;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 15px;
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
}

.space {
    padding-left: 1rem !important;
    margin-right: -1.5rem;
}

.space-seller {
    margin-right: -2rem;
}

.product-card .btn {
    display: inline-block;
    font-weight: 500;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;

    /* border: 1px solid transparent; */
    padding: 0;
    font-size: 0.85rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s;
}

.info-price-add-to-cart .button {
    z-index: 1;
    height: 51px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #181b19;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    border: none;
    border-radius: 0;
    background: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
    margin-bottom: 0;
    padding: 8px 30px 0 22px;
    position: relative;
}

.info-price-add-to-cart .button::after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff;

    /* border: 2px solid #181b19; */
    position: absolute;
}

.product-card
    .card-info
    .info-price-add-to-cart
    .info-add-to-cart-form
    .add-to-wishlist-button {
    border: 0;
}

.product-card
    .card-info
    .info-price-add-to-cart
    .info-add-to-cart-form
    .add-to-wishlist-button {
    margin-left: 0.3rem;
}

@media (min-width: 320px) {
    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-cart-button {
        font-size: 0.8rem;
    }

    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-wishlist-button {
        flex: 0 0 25%;
    }
}

@media (min-width: 576px) {
    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-wishlist-button {
        flex: 0 0 25%;
    }

    .product-card .card-info .info-price-add-to-cart .info-add-to-cart-form {
        display: flex;
    }
}

@media (min-width: 768px) {
    .product-card .card-info .info-area {
        width: 105%;
        left: -2.5%;
        z-index: 1070;
    }

    .product-card .card-info .info-image {
        margin-bottom: 0.5rem;
    }

    .product-card .card-info .info-content::before {
        content: "";
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 4.2rem);

        /* border: 2px solid #181b19; */
    }

    .product-card .card-info .info-content::before {
        display: flex;
        width: 100%;
    }

    .product-card .card-info .info-price-add-to-cart {
        -ms-flex-align: end !important;
        align-items: end !important;
    }

    .product-card .card-info .info-price-add-to-cart {
        -ms-flex-align: center !important;
        align-items: center !important;
        width: 100%;
    }

    .product-card .card-info .info-price-add-to-cart .info-price {
        height: 100%;
        line-height: 2.25rem;

        /* border-left: 2px solid #181b19;
        border-bottom: 2px solid #181b19; */
    }

    .product-card .card-info .info-price-add-to-cart .info-add-to-cart-form {
        display: none;
    }

    .product-card .card-info .info-price-add-to-cart .info-add-to-cart-form {
        display: flex;
    }

    .add-to-wishlist-button {
        font-size: 0.66rem;
    }

    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-wishlist-button {
        flex: 0 0 25%;
    }
}

@media (min-width: 992px) {
    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-cart-button {
        font-size: 1rem;
    }

    .add-to-wishlist-button {
        font-size: 0.66rem;
    }

    .product-card
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form
        .add-to-wishlist-button {
        flex: 0 0 25%;
    }
}

@media (min-width: 1200px) {
    .add-to-cart-button {
        padding-left: 0.45rem;
        padding-right: 0.45rem;
    }
}
