.product-gallery:after {
    content: "";
    position: absolute;
    background-color: #000;
    top: 78px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: -1;
}

.gallery-film-roll .film-roll-move-up,
.gallery-film-roll .film-roll-move-down,
.gallery-film-roll .film-roll .list-group-item {
    cursor: pointer;
}

.gallery-film-roll {
    position: relative;
    top: 0px;
    left: 0px;
    max-height: 27rem;
    height: 27rem;
    overflow: hidden;
}

.gallery-film-roll .film-roll {
    position: absolute;
    top: 0rem;
    left: 0rem;
    transition: top 1.2s ease-in-out;
}

.gallery-film-roll .film-roll .list-group-item {
    position: relative;
}

.gallery-film-roll .film-roll .list-group-item:first-child {
    padding-top: 0px;
}

.gallery-film-roll .film-roll-move-up,
.gallery-film-roll .film-roll-move-down {
    position: absolute;
    z-index: 400;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.gallery-film-roll .film-roll-move-up:hover,
.gallery-film-roll .film-roll-move-down:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.gallery-film-roll .film-roll-move-up {
    top: 0px;
    left: 0px;
}

.gallery-film-roll .film-roll-move-down {
    bottom: 0px;
    left: 0px;
}

@media (min-width: 992px) {
}
