.container-product {
    padding-top: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.container-product .text-header {
    font-family: Adobe Devanagari, sans-serif;
    font-weight: 300;
    color: #181b19;
}

.container-product .product-details .details-title {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #181b19;
}

.container-product .product-details .details-artist {
    position: relative;
    font-family: Adobe Devanagari, sans-serif;
    font-size: 2.375rem;
    font-style: italic;
    color: #181b19;
    margin-bottom: 0.3125rem;
}

.container-product .product-details .details-artist .artist {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding-right: 0.625rem;
    z-index: 1;
}

.container-product .product-details .details-artist::after {
    content: "";
    position: absolute;
    background-color: #181b19;
    width: 100%;
    height: 0.125rem;
    right: 0;
    bottom: 1.125rem;
}

.container-product .product-details .details-statistic,
.container-product .product-details .details-labels .details-label,
.container-product .product-details .details-formats .details-format {
    border-left: 2px solid #76787a;
}

.container-product .product-details .details-statistic.first,
.container-product .product-details .details-labels .details-label.first,
.container-product .product-details .details-formats .details-format.first {
    border-left: none;
}

.container-product .product-details .details-price-shipping .details-price {
    font-size: 2rem;
    font-weight: 500;
    color: #181b19;
}

.container-product
    .product-details
    .details-price-shipping
    .details-shipping-price {
    font-size: 0.8rem;
    font-weight: 500;
    color: #181b19;
}

.container-product .product-other-sellers {
    position: relative;
    height: 1rem;
    line-height: 1rem;
    padding-left: calc(15px + 1.5rem);
    cursor: pointer;
}

.container-product .product-other-sellers::before {
    content: "";
    position: absolute;
    background-image: url("../../../img/dropdown-arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    left: 15px;
    top: 0;
    width: 1.5rem;
    height: 1rem;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.container-product .product-other-sellers.collapse-open::before {
    transform: rotate(180deg);
}

.container-product .product-other-sellers-collapse .button.button-bag {
    min-width: auto;
}

.product-info {
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.product-info {
    position: relative;
    background-color: #d0d0d0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 0px;
    height: auto;
    max-height: 20rem;
    overflow: hidden;
}

.product-info.open {
    max-height: 600rem;
    padding-bottom: 5rem;
}

.product-info::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21px 21.5px 0;
    border-color: #fff transparent transparent;
    margin-left: -21px;
    position: absolute;
    top: 0;
    left: 50%;
}

.product-info .info-show-more {
    position: absolute;
    background: rgb(208, 208, 208);
    background: linear-gradient(
        0deg,
        rgba(208, 208, 208, 1) 60%,
        rgba(208, 208, 208, 0) 100%
    );
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    line-height: 6rem;
}

.product-info .info-show-more .show-more {
    height: 100%;
    cursor: pointer;
}

.product-info .info-show-more .show-more .more-icon {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(24, 27, 25, 0.2);
    transform: rotate(0deg);
    transition: transform 500ms ease;
}

.product-info.open .info-show-more .show-more .more-icon {
    transform: rotate(180deg);
}

.product-info .info-show-more .more-icon:hover {
    color: rgba(24, 27, 25, 1);
}

.product-info .info-heading {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
    font-family: Poppins, sans-serif;
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;
    margin-right: 0;
    margin-bottom: 2rem;
}

.product-info .info-list {
    max-width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}

.product-info .info-list .list-item {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.45;
    font-weight: 500;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-bottom: 0.125rem;
}

.product-info .info-list .list-item p {
    margin-bottom: 0;
}

.product-info .info-list .list-item .item-col-1 {
    width: 42px;
    font-weight: 600;
    color: #76787a;
    text-decoration: underline;
}

.product-info .info-list .list-item .item-col-2 {
    width: calc(100% - 142px);
}

.product-info .info-list .list-item .item-col-3 {
    width: 100px;
    font-weight: 600;
    color: #76787a;
    text-align: right;
    text-decoration: none;
    padding-right: 5px;
}

.product-info .info-list .list-item .item-left {
    width: 50%;
    font-weight: 500;
    color: #76787a;
    text-decoration: none;
}

.product-info .info-list .list-item .item-right {
    width: 50%;
}

.result-list .list-item .info-content {
    font-size: 0.85rem;
    font-weight: 500;
}

.result-list .list-item .info-content .content-title {
    max-height: 1.1875rem;
    margin-bottom: 0.125rem;
    overflow: hidden;
}

.result-list .list-item .info-content .content-category {
    /* max-height: 1.05rem; */
    font-size: 1.05rem;
    font-family: Adobe Devanagari, sans-serif;
    font-style: italic;
    padding-left: 0.5rem;
    margin-bottom: 0.375rem;
    overflow: hidden;
}

.result-list .list-item .info-content::before {
    content: "";
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4.2rem);
}

.result-list .list-item .info-content::before {
    display: flex;
    width: calc(100% + 25px);
}

.result-list .text-con {
    font-size: 1.4rem;
    font-weight: 500 !important;
}

.result-list .list-item .item-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    z-index: 1;
}

.result-list .list-item .item-image img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.result-list .list-item .product-details {
    padding-left: 0;
}

.result-list .list-item .product-details .list-view {
    padding-left: 1.5rem;
}

.result-list .row {
    padding-bottom: 1.5rem;
}

.result-list .list-item .content-category {
    font-size: 1.15rem;
    font-family: Adobe Devanagari, sans-serif;
    font-style: italic;
    margin-bottom: 0.375rem;
}

.result-list .list-item .content-title {
    padding-bottom: initial;
    max-height: 1.8rem;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 600;
}

.result-list .list-item .item-price-list span {
    font-size: 1.2rem;
    font-weight: 500;
}

.info-price-add-to-cart-list .add-to-cart-button {
    font-size: 1.4rem;
    background: #af2230;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    border: 0;
    font-weight: 600;
}

.result-list .info-price-add-to-cart-list .add-to-cart-button {
    width: 82%;
}

.info-price-add-to-cart-list .see-all-for-sale {
    font-size: 1.4rem;
    background: #af2230;
    margin-bottom: 1rem;
    padding: 0.5rem 2.454rem;
    border: 0;
    font-weight: 600;
}

.info-price-add-to-cart-list .button {
    z-index: 1;
    height: 51px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #181b19;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    border: none;
    border-radius: 0;
    background: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
    margin-bottom: 0;
    padding: 8px 30px 0 22px;
    position: relative;
}

.info-price-add-to-cart-list .button::after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 2px solid #181b19;
    position: absolute;
    top: 0;
    right: 0;
}

.result-list .list-item .item-price-list .info-from-price {
    font-size: 1.2rem;
    font-weight: 500;
}

.info-price-add-to-cart-list .add-to-wishlist-button {
    border: 0;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0.5rem 6.407rem;
}

.result-list .info-price-add-to-cart-list .add-to-wishlist-button {
    width: 82%;
}

.info-price-add-to-cart-list .add-to-wishlist-button .fa-heart {
    margin-left: -0.5rem;
}

.container-catalog .text-header {
    font-family: Adobe Devanagari, sans-serif;
    font-weight: 300;
    color: #181b19;
}

.container-catalog .details-price {
        font-size: 2rem;
        font-weight: 500;
        color: #181b19;
}

.result-list .list-item .card {
    width: auto;
}

@media all and (max-width: 768px) {
    .result-list .list-item .info-content {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .result-list .list-item .content-title {
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 1.8rem;
    }

    .result-list .list-item .content-category {
        font-size: 1.5rem;
        font-family: Adobe Devanagari, sans-serif;
        font-style: italic;
        margin-bottom: 0.375rem;
        padding-left: 0;
    }

    .result-list .list-item .product-details {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }

    .result-list .text {
        font-size: 1.2rem;
    }

    .result-list .list-item .item-price-list span {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .result-list .list-item .item-price-list .info-from-price {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .result-list .info-price .btn span {
        font-size: 1.2rem;
    }

    .result-list .info-price {
        padding-top: 1rem;
        margin-left: -2rem;
    }

    .info-price-add-to-cart-list {
    }

    .info-price-add-to-cart-list .add-to-wishlist-button {
        border: 0;
        font-size: 1.2rem;
        padding: 0.375rem 8.027rem;
        margin-left: 0;
    }

    .info-price-add-to-cart-list .add-to-wishlist-button {
        border: 0;
        font-size: 1.2rem;
        padding: 0.657rem 9.21rem;
    }

    .result-list {
        padding-top: 3.5rem;
    }
}

@media (min-width: 768px) {
    .result-list .list-item .info-content {
        font-size: 0.8rem;
    }

    .result-list .list-item .info-content::before {
        display: flex;
        width: calc(100% + 10px);
    }

    .result-list .list-item .content-title {
        font-size: 0.8rem;
    }

    .result-list .list-item .content-category {
        font-size: 1.2rem;
    }

    .result-list .list-item .product-details {
        font-size: 0.9rem;
    }

    .result-list .list-item .font-weight-bold {
        font-size: 0.8rem;
    }

    .result-list .list-item .card-text {
        font-size: 0.8rem;
    }

    .result-list .list-item .text {
        font-size: 0.8rem;
    }

    .info-price-add-to-cart-list .add-to-cart-button {
        font-size: 1rem;
    }

    .info-price-add-to-cart-list .see-all-for-sale {
        font-size: 1rem;
    }

    .info-price-add-to-cart-list .add-to-wishlist-button {
        border: 0;
        font-size: 1.2rem;
        margin-left: 0;
        padding: 0.375rem 8.0261rem;
    }

    .result-list .list-item .item-price-list span {
        font-size: 1rem;
        font-weight: 500;
    }

    .result-list .list-item .item-price-list .info-from-price {
        font-size: 1rem;
        font-weight: 500;
    }
}

@media (min-width: 992px) {
    .result-list .list-item .info-content::before {
        display: flex;
        width: calc(100% + 10px);
    }

    .result-list .list-item .content-title {
        font-size: 1.4rem;
    }

    .result-list .list-item .product-details {
        font-size: 0.9rem;
    }

    .result-list .list-item .font-weight-bold {
        font-size: 0.8rem;
    }

    .result-list .list-item .card-text {
        font-size: 0.8rem;
    }

    .result-list .list-item .text {
        font-size: 0.8rem;
    }

    .info-price-add-to-cart-list .add-to-cart-button {
        font-size: 1.2rem;
    }

    .info-price-add-to-cart-list .see-all-for-sale {
        font-size: 1.2rem;
    }

    .result-list .list-item .item-price-list span {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .result-list .list-item .item-price-list .info-from-price {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .info-price-add-to-cart-list .add-to-wishlist-button {
        border: 0;
        font-size: 1.2rem;
        padding: 0.5rem 6.83rem;
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1336px) {
}
