<template>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mt-1">Sales</h5> 
      <div class="btn-actions-pane-right">
          <select v-model="year" name="year" id="year" class="form-control">
            <option value="2020">2020</option>
          </select>
      </div>
    </div>

    <div class="card-body">
      <div class="example">
        <apexchart height="350" type="area" :options="chartOptions" :series="series"></apexchart>
      </div>
    </div>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import axios from "axios";
import errorVue from '../../../../architect-ui/vue/Vuetify/Components/steppers/error.vue';

export default {
  name: "SalesChart",
  props: ["sellerid"],
  components: {
    apexchart: VueApexCharts
  },
  mounted: function() {
    // this.getOrderCounts();
    this.getOrderPrices();
  },
  data: function() {
    return {
      year: 2020,
      chartOptions: {
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: "smooth"
        },
        xaxis: {
          categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Okt", "Nov", "Dec"]
        },
        tooltip: {
          fixed: {
            enabled: false,
            position: "topRight"
          }
        }
      },
      series: [
        // {
        //   name: "series1",
        //   data: [31, 40, 28, 51, 42, 109, 100]
        // },
        // {
        //   name: "series2",
        //   data: [11, 32, 45, 32, 34, 52, 41]
        // }
      ]
    };
  },
  methods: {
    getOrderPrices: function(){
      const vm = this;
      axios.post(
          `${window.location.origin}/api/statistics/orderprices/${this.$props.sellerid}`,
          {
            "year": `${vm.year}`
          },
      )
      .then(res => {
        
       vm.series = [{
         name: "grand total",
         data: res.data.data
       }];

       console.log( vm.series );
      })
      .catch(err => {
        console.log(err);
          // const swalBody = err.response.data.swal;
          // Swal.fire(swalBody);
      });
    }
  }
};
</script>
