.form-control-group {
    position: relative;
    width: calc(100% - 0.25rem);
}

.form-control-group::after {
    content: "";
    position: absolute;
    background: #b8b8b8;
    top: -0.25rem;
    right: -0.25rem;
    width: 100%;
    height: 3.75rem;
    border: 2px solid #181b19;
    z-index: 1;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1285px) {
}
