.genres {
    background-color: #d0d0d0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-top: 2px solid #181b19;
}

.genres-image-holder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
@media only screen and (max-width: 1325px) {
    .genres-image-holder {
        margin-left: 30px;
    }
}
@media only screen and (max-width: 991px) {
    .genres-image-holder {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-image-holder {
        display: none;
    }
}
.genres-image {
    width: 148px;
    transition: top 0.25s ease-in-out;
    margin-right: -32px;
    margin-left: -32px;
    position: relative;
    top: 0;
}
@media only screen and (max-width: 1325px) {
    .genres-image {
        width: 125px;
    }
}
@media only screen and (max-width: 991px) {
    .genres-image {
        width: 109px;
    }
}
.genres-image.is-active {
    transition: top 0.25s ease-in-out;
    top: -100px;
}
.genres-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 130px;
    margin: 0px;
    padding: 0px;
}
@media only screen and (max-width: 991px) {
    .genres-list {
        margin-bottom: 90px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-list {
        margin-bottom: 40px;
    }
}
.genres-list li {
    margin-right: 20px;
    margin-bottom: 8px;
}
@media only screen and (max-width: 1325px) {
    .genres-list li {
        margin-right: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-list li {
        width: 100%;
    }
}
.genres-list li a {
    font-size: 28px;
    display: block;
    border-bottom: 1px solid transparent;
    padding: 5px 18px;
}
@media only screen and (max-width: 991px) {
    .genres-list li a {
        font-size: 16px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-list li a {
        padding: 0;
    }
}
.genres-list li a sup {
    font-size: 12px;
    top: -12px;
    margin-left: 5px;
}
@media only screen and (max-width: 991px) {
    .genres-list li a sup {
        top: -5px;
    }
}
.genres-list li a:hover {
    background-color: #fff;
    border-bottom: 1px solid #181b19;
}
@media only screen and (max-width: 767px) {
    .genres-list li a:hover {
        background-color: inherit;
    }
}
