.container-404 {
    margin-top: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container-404 h1,
.container-404 h3,
.container-404 h4 {
    width: auto;
    font-family: Poppins, sans-serif;
}

.container-404 h1 {
    font-size: 6.25rem;
    font-weight: 600;
    color: #5e5e5e;
}
.container-404 h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #5e5e5e;
}
.container-404 h4 {
    font-size: 1.2rem;
    color: #242424;
    font-weight: 400;
}

.container-404 .search-form .search-input {
    position: relative;
    z-index: 2;
}

@media (min-width: 992px) {
    .container-404 {
        padding-top: 6rem;
    }

    .container-404 .error-record {
        position: relative;
        background-color: #181b19;
        height: 28.5rem;
        width: 28.5rem;
        border-radius: 50%;
    }

    .container-404 .error-record h1 {
        background-color: #ffffff;
        width: 10.5rem;
        height: 10.5rem;
        line-height: 10.5rem;
        font-size: 4.6rem;
        font-weight: 500;
        font-weight: 500;
        text-align: center;
        padding: 0;
        border-radius: 50%;
        margin: 0;
    }
}
