.tab-switcher {
    position: relative;
    background: #eeeeee;
    width: 100%;
    border: 2px solid #181b19;
    min-height: 50.5rem;
}

.was-validated .tab-switcher {
    min-height: 61.5rem;
}

.tab-switcher .switcher-panes {
    width: 100%;
}

.tab-switcher .switcher-panes .switcher-pane {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 1.8rem 1.6rem;
    transition: opacity 0.25s ease-in-out;
}

.tab-switcher .switcher-panes .switcher-pane {
    visibility: hidden;
    opacity: 0;
}

.tab-switcher .switcher-panes .switcher-pane.show {
    visibility: visible;
    opacity: 1;
}

.tab-switcher .switcher-tabs {
    position: absolute;
    background-color: #eeeeee;
    bottom: 0px;
    width: 100%;
    transition: opacity 0.25s ease-in-out;
}

.tab-switcher .switcher-tabs {
    visibility: hidden;
    opacity: 0;
}

.tab-switcher .switcher-tabs.show {
    visibility: visible;
    opacity: 1;
}

.tab-switcher .switcher-tabs .switcher-tab {
    background-color: #dadada;
    line-height: 3.4rem;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 5px 4px 2px rgba(65, 29, 29, 0.05);
    box-shadow: inset 0px 5px 4px 2px rgba(0, 0, 0, 0.05);
}

.tab-switcher .switcher-tabs .switcher-tab.active {
    background-color: #eeeeee;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
}
