<template>
    <div>

        <div v-if="UX.showFilename">
                <button class="btn-icon btn-icon-only btn btn-info btn-sm btn-shadow pull-right" @click="cancleCurrentFile">
                    <i class="lnr lnr-cross btn-icon-wrapper"></i>
                </button>
                <h4><b>File:</b> {{this.file.name}}</h4>

            <!-- -->
            <small class="form-text text-muted"
            >Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quod voluptas eum impedit unde
            a laudantium, placeat minus, fugit saepe velit
            libero dolores debitis nihil. Consequatur natus
            culpa quas voluptatem nemo? Quod voluptas eum
            impedit unde a laudantium, placeat minus, fugit
            saepe velit libero dolores debitis nihil.</small>
        </div>
        <div v-if="UX.showFileInput">
            <form>
                <div class="position-relative form-group mt-3">
                    <input
                        type="file"
                        class="form-control-file"
                        name="file_path"
                        @change="fileInputChange"
                        id="csv"

                    />
                    <small class="form-text text-muted"
                        >Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Quod voluptas eum impedit unde
                        a laudantium, placeat minus, fugit saepe velit
                        libero dolores debitis nihil. Consequatur natus
                        culpa quas voluptatem nemo? Quod voluptas eum
                        impedit unde a laudantium, placeat minus, fugit
                        saepe velit libero dolores debitis nihil.</small
                    >
                </div>
            </form>
        </div>

        <div v-if="UX.showCsvMapper">
            <div class="mt-3" style="width:100%;">
                <table class="table table-bordered table-responsive">
                    <colgroup>
                        <col v-for="(column, key) in csvMap" :key="key" :class="[column.bagisto_field ? 'table-info' : 'table-light' ]" ></col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th v-for="(column, key) in csvMap" :key="key" :value="column.csv_header">{{ column.csv_header }}</th>
                    </tr>
                    <tr>
                        <th v-for="(column, key) in csvMap" :key="key" :value="column.csv_header">
                        <select :name="`csv_uploader_map`" v-on:change="updateCsvMap(column.csv_header, $event)" >
                            <option :value="'Ignore'">Ignore</option>
                            <option v-for="(field, key) in bagistoSelectorFields" :key="key" :value="field.field" :disabled="field.selected" :selected="column.bagisto_field === field.field">{{ field.label }}</option>
                        </select>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(row, index) in firstFiveRows" :key="index">
                        <td v-for="(item, key) in row" :key="key" :value="item">{{ item }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="clearfix">
                <div>
                    <button
                        type="submit"
                        class="btn-shadow btn-block btn-wide float-left btn-hover-shine btn btn-lg btn-info"
                        @click.prevent="submit"
                    >
                        Submit
                    </button>
                </div>
            </div>
        </div>

        <div v-if="UX.result">
            <div :class="`alert alert-${result.status} fade show`" role="alert"><h4 class="alert-heading mb-4 mt-3">{{ result.title }}</h4>
            <p>{{ result.body }}</p>
            </div>
        </div>
    </div>
</template>

<script>
import { drop, every, forEach, get, isArray, map, set, find } from "lodash";
import { FormWizard, TabContent } from "vue-form-wizard";
import virtualList from "vue-virtual-scroll-list";


import Papa from "papaparse";

export default {
    name: "CustomCsvImport",
    components: {
        "form-wizard": FormWizard,
        "tab-content": TabContent,
        "virtual-list": virtualList
    },
    data() {
        return {
            UX: {
                showHeaderMapping: false,
                showFilename: false,
                showFileInput: true,
                showCsvMapper: false
            },
            result: {
                status: "",
                title: "",
                body: ""
            },
            filename: "",
            file: Object,
            csvMap: [],
            firstFiveRows: [],
            map: [],
            step: 1,
            bagistoSelectorFields: [
                {
                    selected: false,
                    label: "Release id",
                    field: "release_id"
                },
                {
                    selected: false,
                    label: "Release title",
                    field: "release_title"
                },
                {
                    selected: false,
                    label: "Artist name",
                    field: "artist_name"
                },
                {
                    selected: false,
                    label: "Label",
                    field: "label"
                },
                {
                    selected: false,
                    label: "Cat no",
                    field: "cat_no"
                },
                {
                    selected: false,
                    label: "Barcode",
                    field: "barcode"
                },
                {
                    selected: false,
                    label: "Release date",
                    field: "released"
                },
                {
                    selected: false,
                    label: "Price",
                    field: "price"
                },
                {
                    selected: false,
                    label: "Comments",
                    field: "comments"
                },
                {
                    selected: false,
                    label: "Media condition",
                    field: "media_condition"
                },
                {
                    selected: false,
                    label: "Sleeve condition",
                    field: "sleeve_condition"
                },
                {
                    selected: false,
                    label: "Private condition",
                    field: "private_comments"
                },
                {
                    selected: false,
                    label: "Storage location",
                    field: "storage_location"
                },
                {
                    selected: false,
                    label: "Shipping price",
                    field: "shipping_price"
                }
            ],
            parseCsv: {}
        };
    },
    methods: {
        fileInputChange(){
            this.UX.showFilename = true;
            this.UX.showCsvMapper = true;
            this.UX.showFileInput = false;
            this.editfields();
        },
        cancleCurrentFile(){
            this.UX.showFilename = false;
            this.UX.showCsvMapper = false;
            this.UX.showFileInput = true;

            // clear input
            $('#csv').val('');
        },
        updateCsvMap(column, event) {
            let selectedValue = event.target.value;

            this.csvMap = this.csvMap.map(item => {
                if (
                    find(this.availableBagistoFields, {
                        field: selectedValue
                    }) &&
                    item.csv_header === column
                ) {
                    // set the selector option to selected
                    this.switchSelectorOption(selectedValue);
                    this.switchSelectorOption(item.bagisto_field);

                    return {
                        csv_header: item.csv_header,
                        bagisto_field: selectedValue
                    };
                } else if (
                    selectedValue === "Ignore" &&
                    item.csv_header === column
                ) {
                    // set the selector option to selected
                    this.switchSelectorOption(item.bagisto_field);

                    return {
                        csv_header: item.csv_header,
                        bagisto_field: null
                    };
                }
                return item;
            });
        },

        switchSelectorOption(field) {
            if (field) {
                this.bagistoSelectorFields = this.bagistoSelectorFields.map(
                    item => {
                        if (item.field === field) {
                            return {
                                selected: !item.selected,
                                label: item.label,
                                field: item.field
                            };
                        }
                        return item;
                    }
                );
            }
        },

        submit() {
            const vm = this;
            var formData = new FormData();
            formData.append("file", vm.file);
            formData.append("csv_map", JSON.stringify(vm.csvMap));

            axios
                .post(
                    `${window.location.origin}/api/release/import/customCsv`,
                    formData,
                    {
                        headers: {
                            "Content-Type": "multipart/form-data",
                            Authorization: "Bearer " + vm.jwt
                        }
                    }
                )
                .then(res => {
                    this.cancleCurrentFile();
                    const swalBody = res.data.swal;
                    Swal.fire(swalBody);
                })
                .catch(err => {
                    const swalBody = err.response.data.swal;
                    Swal.fire(swalBody);
                });
        },

        editfields() {

            this.filename = document.getElementById("csv").files[0].name;
            this.file = document.getElementById("csv").files[0];

            const vm = this;
            Papa.parse(document.getElementById("csv").files[0], {
                complete: function(results) {
                    vm.csvMap = results.data[0].map(header => {
                        return {
                            csv_header: header,
                            bagisto_field: null
                        };
                    });

                    vm.firstFiveRows = [
                        results.data[1],
                        results.data[2],
                        results.data[3]
                    ];

                    // try to prefill matching field names in map
                    vm.preFillMatchingHeaderFields();
                    vm.UX.showHeaderMapping = true;
                }
            });
        },

        preFillMatchingHeaderFields() {
            this.csvMap = this.csvMap.map(item => {
                if (
                    find(this.availableBagistoFields, {
                        field: item.csv_header
                    })
                ) {
                    this.switchSelectorOption(item.csv_header);
                    return {
                        csv_header: item.csv_header,
                        bagisto_field: item.csv_header
                    };
                } else {
                    return item;
                }
            });
        }
    },

    computed: {
        // a computed getter
        csvFile: function() {
            if (document.getElementById("csv").files[0]) {
                return document.getElementById("csv").files[0];
            }
            return null;
        },
        // a computed getter
        jwt: function() {
            var x = document.querySelector('meta[name="jwt"]');
            // `this` points to the vm instance
            if (x) {
                return x.getAttribute("content");
            } else {
                return false;
            }
        },
        availableBagistoFields: function() {
            return this.bagistoSelectorFields.filter(field => !field.selected);
        },
        tableWidth: function () {
            // `this` points to the vm instance
                let box = document.getElementById('step-2');
                let width = box.clientWidth;
                let height = box.clientHeight;

                return width;
        }
    },
};
</script>
<style scoped>

/* table {
    all: unset;
} */
.withscroll {
    position:absolute;
    left:0;
    right:0;
	/* width: 400px;
	overflow-x: auto;
	white-space: nowrap; */
}

@import url(https://cdn.syncfusion.com/ej2/material.css);


</style>