<template>
<div>
    <div class="card">
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="title">Titles</label>
              <vue-simple-suggest
                v-model="searchFormData.release_title"
                :list="suggestions.release_title"
                ></vue-simple-suggest>
          </div>

          <div class="form-group col-md-4">
            <label for="artist">Artist</label>
              <vue-simple-suggest
                v-model="searchFormData.artist_name"
                :list="suggestions.artist_name"
                ></vue-simple-suggest>
          </div>

          <div class="form-group col-md-4">
            <label for="label">Label</label>
              <vue-simple-suggest
                v-model="searchFormData.label"
                :list="suggestions.label"
                ></vue-simple-suggest>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="catalog">Catalog #</label>
              <vue-simple-suggest
                v-model="searchFormData.cat_no"
                :list="suggestions.cat_no"
                ></vue-simple-suggest>
          </div>

          <div class="form-group col-md-4">
            <label for="barcode">Barcode</label>
              <vue-simple-suggest
                v-model="searchFormData.barcode"
                :list="suggestions.cat_no"
                ></vue-simple-suggest>
          </div>

          <div class="form-group col-md-4">
            <label for="year">Year</label>
              <vue-simple-suggest
                v-model="searchFormData.released"
                :list="suggestions.released"
                ></vue-simple-suggest>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Formats</label><br />

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="release_format" value="vinyl">
              <label class="form-check-label">Vinyl</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="release_format" value="cd">
              <label class="form-check-label">Cd</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="release_format" value="mc">
              <label class="form-check-label">Cassette</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="release_format" value="other">
              <label class="form-check-label">Other</label>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Country</label>
            <select class="form-control">
              <option>Abkhazia</option>
              <option>Afghanistan</option>
              <option>Africa</option>
              <option>Albania</option>
              <option>Algeria</option>
              <option>Andorra</option>
              <option>Angola</option>
              <option>Anguilla</option>
              <option>Antigua & Barbuda</option>
              <option>Antigua & Barbuda</option>
              <option>Argentina</option>
              <option>Armenia</option>
              <option>Aruba</option>
              <option>Asia</option>
              <option>Australasia</option>
              <option>Australia</option>
              <option>Australia & New Zealand</option>
              <option>Austria</option>
              <option>Austria-Hungary</option>
              <option>Azerbaijan</option>
              <option>Bahamas, The</option>
              <option>Bahrain</option>
              <option>Bangladesh</option>
              <option>Barbados</option>
              <option>Belarus</option>
              <option>Belgium</option>
              <option>Belize</option>
              <option>Benelux</option>
              <option>Benin</option>
              <option>Bermuda</option>
              <option>Bhutan</option>
              <option>Bohemia</option>
              <option>Bolivia</option>
              <option>Bosnia & Herzegovina</option>
              <option>Botswana</option>
              <option>Brazil</option>
              <option>British Virgin Islands</option>
              <option>Brunei</option>
              <option>Bulgaria</option>
              <option>Burkina Faso</option>
              <option>Burma</option>
              <option>Cambodia</option>
              <option>Cameroon</option>
              <option>Canada</option>
              <option>Cape Verde</option>
              <option>Cayman Islands</option>
              <option>Central African Republic</option>
              <option>Central America</option>
              <option>Chad</option>
              <option>Chile</option>
              <option>China</option>
              <option>Colombia</option>
              <option>Comoros</option>
              <option>Congo, Democratic Republic of the</option>
              <option>Congo, Republic of the</option>
              <option>Cook Islands</option>
              <option>Costa Rica</option>
              <option>Croatia</option>
              <option>Cuba</option>
              <option>Curaçao</option>
              <option>Cyprus</option>
              <option>Czech Republic</option>
              <option>Czech Republic & Slovakia</option>
              <option>Czechoslovakia</option>
              <option>Dahomey</option>
              <option>Denmark</option>
              <option>Djibouti</option>
              <option>Dominica</option>
              <option>Dominican Republic</option>
              <option>Dutch East Indies</option>
              <option>East Timor</option>
              <option>Ecuador</option>
              <option>Egypt</option>
              <option>El Salvador</option>
              <option>Equatorial Guinea</option>
              <option>Eritrea</option>
              <option>Estonia</option>
              <option>Ethiopia</option>
              <option>Europe</option>
              <option>Falkland Islands</option>
              <option>Faroe Islands</option>
              <option>Fiji</option>
              <option>Finland</option>
              <option>France</option>
              <option>France & Benelux</option>
              <option>French Guiana</option>
              <option>French Polynesia</option>
              <option>Gabon</option>
              <option>Gambia, The</option>
              <option>Gaza Strip</option>
              <option>Georgia</option>
              <option>German Democratic Republic (GDR)</option>
              <option>Germany</option>
              <option>Germany & Switzerland</option>
              <option>Germany, Austria, & Switzerland</option>
              <option>Ghana</option>
              <option>Gibraltar</option>
              <option>Greece</option>
              <option>Greenland</option>
              <option>Grenada</option>
              <option>Guadeloupe</option>
              <option>Guam</option>
              <option>Guatemala</option>
              <option>Guernsey</option>
              <option>Guinea</option>
              <option>Guinea-Bissau</option>
              <option>Gulf Cooperation Council</option>
              <option>Guyana</option>
              <option>Haiti</option>
              <option>Honduras</option>
              <option>Hong Kong</option>
              <option>Hungary</option>
              <option>Iceland</option>
              <option>India</option>
              <option>Indochina</option>
              <option>Indonesia</option>
              <option>Iran</option>
              <option>Iraq</option>
              <option>Ireland</option>
              <option>Israel</option>
              <option>Italy</option>
              <option>Ivory Coast</option>
              <option>Jamaica</option>
              <option>Japan</option>
              <option>Jersey</option>
              <option>Jordan</option>
              <option>Kazakhstan</option>
              <option>Kenya</option>
              <option>Korea (pre-1945)</option>
              <option>Kosovo</option>
              <option>Kuwait</option>
              <option>Kyrgyzstan</option>
              <option>Laos</option>
              <option>Latvia</option>
              <option>Lebanon</option>
              <option>Lesotho</option>
              <option>Liberia</option>
              <option>Libya</option>
              <option>Liechtenstein</option>
              <option>Lithuania</option>
              <option>Luxembourg</option>
              <option>Macau</option>
              <option>Macedonia</option>
              <option>Madagascar</option>
              <option>Malawi</option>
              <option>Malaysia</option>
              <option>Maldives</option>
              <option>Mali</option>
              <option>Malta</option>
              <option>Man, Isle of</option>
              <option>Marshall Islands</option>
              <option>Martinique</option>
              <option>Mauritania</option>
              <option>Mauritius</option>
              <option>Mayotte</option>
              <option>Mexico</option>
              <option>Micronesia, Federated States of</option>
              <option>Middle East</option>
              <option>Moldova, Republic of</option>
              <option>Monaco</option>
              <option>Mongolia</option>
              <option>Montenegro</option>
              <option>Montserrat</option>
              <option>Morocco</option>
              <option>Mozambique</option>
              <option>Namibia</option>
              <option>Nauru</option>
              <option>Nepal</option>
              <option>Netherlands</option>
              <option>Netherlands Antilles</option>
              <option>New Caledonia</option>
              <option>New Zealand</option>
              <option>Nicaragua</option>
              <option>Niger</option>
              <option>Nigeria</option>
              <option>Norfolk Island</option>
              <option>North America (inc Mexico)</option>
              <option>North Korea</option>
              <option>Northern Mariana Islands</option>
              <option>Norway</option>
              <option>Oman</option>
              <option>Ottoman Empire</option>
              <option>Pakistan</option>
              <option>Palau</option>
              <option>Panama</option>
              <option>Papua New Guinea</option>
              <option>Paraguay</option>
              <option>Peru</option>
              <option>Philippines</option>
              <option>Poland</option>
              <option>Portugal</option>
              <option>Protectorate of Bohemia and Moravia</option>
              <option>Puerto Rico</option>
              <option>Qatar</option>
              <option>Reunion</option>
              <option>Rhodesia</option>
              <option>Romania</option>
              <option>Russia</option>
              <option>Rwanda</option>
              <option>Saint Kitts and Nevis</option>
              <option>Saint Lucia</option>
              <option>Saint Vincent and the Grenadines</option>
              <option>Samoa</option>
              <option>San Marino</option>
              <option>Sao Tome and Principe</option>
              <option>Saudi Arabia</option>
              <option>Scandinavia</option>
              <option>Senegal</option>
              <option>Serbia</option>
              <option>Serbia and Montenegro</option>
              <option>Seychelles</option>
              <option>Sierra Leone</option>
              <option>Singapore</option>
              <option>Singapore &amp; Malaysia</option>
              <option>Singapore, Malaysia & Hong Kong</option>
              <option>Sint Maarten</option>
              <option>Slovakia</option>
              <option>Slovenia</option>
              <option>Solomon Islands</option>
              <option>Somalia</option>
              <option>South Africa</option>
              <option>South America</option>
              <option>South East Asia</option>
              <option>South Georgia and the South Sandwich Islands</option>
              <option>South Korea</option>
              <option>South Pacific</option>
              <option>South Vietnam</option>
              <option>South West Africa</option>
              <option>Southern Rhodesia</option>
              <option>Southern Sudan</option>
              <option>Spain</option>
              <option>Sri Lanka</option>
              <option>Sudan</option>
              <option>Suriname</option>
              <option>Swaziland</option>
              <option>Sweden</option>
              <option>Switzerland</option>
              <option>Syria</option>
              <option>Taiwan</option>
              <option>Tajikistan</option>
              <option>Tanzania</option>
              <option>Thailand</option>
              <option>Togo</option>
              <option>Tonga</option>
              <option>Trinidad & Tobago</option>
              <option>Tunisia</option>
              <option>Turkey</option>
              <option>Turkmenistan</option>
              <option>Turks and Caicos Islands</option>
              <option>UK</option>
              <option>UK & Europe</option>
              <option>UK & France</option>
              <option>UK & Ireland</option>
              <option>UK & US</option>
              <option>UK, Europe & Israel</option>
              <option>UK, Europe & Japan</option>
              <option>UK, Europe & US</option>
              <option>US</option>
              <option>USA & Canada</option>
              <option>USA & Europe</option>
              <option>USA, Canada & Europe</option>
              <option>USA, Canada & UK</option>
              <option>USSR</option>
              <option>Uganda</option>
              <option>Ukraine</option>
              <option>United Arab Emirates</option>
              <option>Upper Volta</option>
              <option>Uruguay</option>
              <option>Uzbekistan</option>
              <option>Vanuatu</option>
              <option>Vatican City</option>
              <option>Venezuela</option>
              <option>Vietnam</option>
              <option>Virgin Islands</option>
              <option>West Bank</option>
              <option>Yemen</option>
              <option>Yugoslavia</option>
              <option>Zaire</option>
              <option>Zambia</option>
              <option>Zimbabwe</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label>Matrix / Runout</label>
            <input type="text" class="form-control" id="release_matrix" placeholder="Matrix / Runout" />
          </div>
        </div>

        <div class="form-row justify-content-end align-items-center">
          <div class="form-group col-auto">
            <button class="btn btn-block btn-primary" @click="mongoMatch">Find</button>
          </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <div>
            <pulse-loader :loading="UX.loadingMatches" color="#0845F5" size="15px"></pulse-loader>
        </div>
    </div>

    <div v-if="UX.showMatches">
        <virtual-list :size="120" :remain="8">
            <ul class="list-group list-group-flush">
                <list-item v-for="(release, key) in matchedReleases" v-on:preFillForm="preFillForm" :key="key" :release="release" image="https://via.placeholder.com/100" />
            </ul>
        </virtual-list>
    </div>

    <hr />
    <div class="d-flex justify-content-center">
        <div>
            <pulse-loader :loading="UX.loadingReleaseForm" color="#0845F5" size="15px"></pulse-loader>
        </div>
    </div>
    <div v-if="UX.showReleaseForm">
        <!-- Render the picked release in a form -->
        <release-form v-on:cancle="cancleReleaseForm" v-on:success="handleSuccesfullImport" :release="prefilledFormData"></release-form>
    </div>
	</div>
</div>
</template>

<script>
import Vue from "vue";
import virtualList from "vue-virtual-scroll-list";
import ListItem from "../components/ListItem";
import ReleaseForm from "../components/ReleaseForm";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import axios from "axios";
import VueSimpleSuggest from 'vue-simple-suggest';
import 'vue-simple-suggest/dist/styles.css';

export default {
    name: "ReleaseSearch",
    components: {
        "virtual-list": virtualList,
        "list-item": ListItem,
        "pulse-loader": PulseLoader,
        "release-form": ReleaseForm,
        "vue-simple-suggest": VueSimpleSuggest
    },
    computed: {
        // a computed getter
        jwt: function () {
            var x = document.querySelector('meta[name="jwt"]');
            // `this` points to the vm instance
            if (x) {
                return x.getAttribute("content");
            } else {
                return false;
            }
        }
    },
    data() {
        return {
            UX: {
                loadingMatches: false,
                showMatches: false,
                showReleaseForm: false,
                loadingReleaseForm: false
            },

            typingTimerId: null,
            doneTypingInterval: 250,

            searchFormData: {
                release_title: "",
                artist_name: "",
                released: "",
                barcode: "",
                label: "",
                cat_no: ""
            },

            prefilledFormData: {},

            matchedReleases: [],
            suggestions: {
                release_title: null,
                artist_name: null,
                released: null,
                barcode: null,
                label: null,
                cat_no: null
            }
        };
    },
    watch: {
      searchFormData: {
        handler(val, lav) {
          this.suggestionsMatch();
        },
        deep: true
      }
    },
    methods: {
      handleSuccesfullImport(swalBody) {
        Swal.fire(swalBody).then(() => {
          this.resetForm();
        });
      },
      mounted() {
          console.log("Release Search is mounted");
      },
      swalFetchError(msg) {
        this.$swal({
            icon: "error",
            title: "Something went wrong",
            text: msg
        });
      },
      resetForm() {
        this.UX.loadingMatches = false;
        this.UX.showMatches = false;
        this.UX.showReleaseForm = false;
        this.UX.loadingReleaseForm = false;

        this.searchFormData = {
          release_title: "",
          artist_name: "",
          released: "",
          barcode: "",
          label: "",
          cat_no: ""
        };
      },
      suggestionsMatch: function() {
        this.UX.loadingMatches = true;

        const vm = this;
        const isEmpty = !Object.values(vm.searchFormData).some(
          x => x !== null && x !== ""
        );

        if (!isEmpty) {
          axios
            .post(`${window.location.origin}/api/release/autocomplete`,
              vm.searchFormData,
              {
                headers: {
                  Authorization: "Bearer " + vm.jwt
                }
              })
            .then(res => {
              // add suggestions/autocomplete to data for use in results list
              vm.suggestions = res.data.suggestions;

              // set flags
              vm.UX.showReleaseForm = false;
              vm.UX.loadingMatches = false;
              vm.UX.showMatches = false;
            })
            .catch(err => {
              const swalBody = err.response.data.swal;
              Swal.fire(swalBody);
              vm.UX.loadingMatches = false; 
            });
        }
      },
      mongoMatch: function() {
        this.UX.loadingMatches = true;

        // perform a match with input fields in our mongo database
        /**
         * axios
         * Set this.matchedReleases to the result array
         */
        const vm = this;

        const isEmpty = !Object.values(vm.searchFormData).some(
            x => x !== null && x !== ""
        );

        if (!isEmpty) {
          axios
            .post(
              `${window.location.origin}/api/release/search`,
              vm.searchFormData, {
                headers: {
                  Authorization: "Bearer " + vm.jwt
                }
              }
            )
            .then(res => {
              // add matched releases to data for use in results list
              vm.matchedReleases = res.data.data.data;
              vm.suggestions = res.data.suggestions;

              vm.UX.showReleaseForm = false;
              vm.UX.loadingMatches = false;
              vm.UX.showMatches = true;
            })
            .catch(err => {
              const swalBody = err.response.data.swal;
              Swal.fire(swalBody);
              vm.UX.loadingMatches = false;
          });
        } else {
            // form is empty, clear search results
            vm.matchedReleases = [];
            this.UX.loadingMatches = false;
        }
      },
      spreadSuggestions: function (suggestions) {
          // Set suggestions for artist_name
          if (suggestions.artist_name) {
              this.suggestions.artist_name = suggestions.artist_name.map(a => a.options);
          }
      },

      preFillForm: function (id) {
        this.UX.loadingReleaseForm = true;
        this.UX.showMatches = false;

        const vm = this;
        axios
          .get(`${window.location.origin}/api/release/find/${id}`, {
              headers: {
                  Authorization: "Bearer " + vm.jwt
              }
          })
          .then(res => {
              // add release that was matched by id
              vm.prefilledFormData = res.data.data;

              vm.UX.loadingReleaseForm = false;
              vm.UX.showReleaseForm = true;
          })
          .catch(err => {
              console.log(err);
              vm.swalFetchError(err.message);
              vm.UX.loadingReleaseForm = false;
              vm.UX.showMatches = true;
        });
      },

      cancleReleaseForm: function () {
        // close form
        this.UX.showReleaseForm = false;

        // show release matches list
        this.UX.showMatches = true;

        // empty this.prefilledFormData
        // ..
      }
    }
};
</script>

<style>
@import url(https://cdn.syncfusion.com/ej2/material.css);
</style>
