@import "icons";
@import "variables";
@import "../../../../../Velocity/src/Resources/assets/sass/variables";
@import "../../../../../Velocity/src/Resources/assets/sass/components/shared.scss";
@import "../../../../../Velocity/src/Resources/assets/sass/rango.scss";


.account-head {
    .account-action {
        top: -20px;
        float: right;
    }
}

// .modal-container {
//     top: 40px;
// }

//responsive css for account action and for table

@media only screen and (max-width: 770px){
    .account-head {
        .account-action {
            margin: 4px !important;
            margin-right: 0px !important;
            position: unset;

            .control-group.date {
                width: 49% !important;
                margin-left: 0px !important;
            }

            .control-group.date::after, .control-group.datetime::after {
                position: initial !important;
            }
        }
    }

    .table {
        .grid-container {
            margin-top: 10px;

            .filter-row-one {
                display: block;
            }
        }
    }

    .dropdown-list.top-right {
        bottom: auto;
        right: auto;
    }

    .dropdown-filters {
        margin-top: 10px;
    }
}

.profile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    // margin-bottom: 80px;

    .profile-top-block {
        width: 100%;

        .profile-information {
            float: left;

            .profile-logo-block {
                width: 120px;
                height: 120px;
                float: left;
                border-radius: 10px;
                overflow: hidden;

                img {
                    width: 120px;
                    height: 120px;
                }
            }

            .profile-information-block {
                float: left;
                margin-top: 32px;
                margin-left: 20px;

                .shop-title {
                    font-size: 24px;
                    display: block !important;
                    margin-bottom: 5px;
                }
            }
        }

        .review-information {
            float: right;
            text-align: center;
            padding-top: 25px;

            .number {
                font-size: 34px;
            }

            .stars {
                vertical-align: top;
                display: inline-block;

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .profile-left-block {
        width: 22%;
        float: left;
        margin-top: 60px;
        min-height: 1px;
        text-align: center;

        h2 {
            &.shop-title {
                margin-bottom: 5px !important;
            }
        }

        a {
            &.shop-title {
                font-size: 24px;
                color: #0031F0;
                display: block !important;
                margin-bottom: 5px;
            }
        }

        .content {
            position: relative;
            border: 1px solid #E8E8E8;
            padding: 20px;
            padding-top: 80px;

            .profile-logo-block {
                width: 120px;
                height: 120px;
                border-radius: 10px;
                overflow: hidden;
                position: absolute;
                top: -60px;
                left: 50%;
                margin-left: -60px;

                img {
                    width: 120px;
                    height: 120px;
                }
            }

            .profile-information-block {
                .row {
                    margin-bottom: 20px;
                    display: block !important;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &.social-links {
                        a {
                            display: inline-block;
                        }
                    }
                }

                h2 {
                    font-size: 24px;
                    margin: 0;
                }

                .review-info {
                    .number {
                        font-size: 34px;
                    }

                    .stars {
                        vertical-align: top;
                        display: inline-block;

                        .icon {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }

    .profile-right-block {
        width: 77.5%;
        padding: 15px;
        display: block;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

// responsive css for profile-container
@media only screen and (max-width: 770px){
    .profile-container {
        flex-direction: column;

        .profile-top-block {
            display: flex;
            flex-direction: column;

            .review-information {
                text-align: left;
            }
        }

        .profile-left-block {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }

        .profile-right-block {
            width: 100%;
            padding-left: 0px;
            margin-top: 20px;
        }
    }
}

.section {
    .section-heading {
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 20px;
        display: inline-block;

        h2 {
            font-size: 18px;
            font-weight: 500;
            float: left;
            margin: 0;

            .seperator {
                position: absolute;
                border-bottom: 1px solid #E8E8E8;
                width: 50px;
                margin-top: 20px;
            }
        }
    }
}

.product-items {
    margin-bottom: 40px;

    .section-heading {
        .btn {
            float: right;
        }
    }
}

.profile-details {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;

    .profile-details-left-block {
        width: 50%;
        float: left;
        padding-right: 15px;

        .slider-container {
            border: 5px solid blue;
            padding: 25px 25px 0px 25px;
            margin-bottom: 20px;
            border: 1px solid #E8E8E8;
            position: relative;

            .stars {
                vertical-align: top;
                display: inline-block;

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }

            .VueCarousel-inner {
                margin-bottom: 20px;
            }

            .VueCarousel-pagination {
                display: inline-block;

                .VueCarousel-dot-container {
                    float: left;

                    .VueCarousel-dot {
                        margin-top: 0 !important;
                    }
                }
            }

            a {
                position: absolute;
                right: 40px;
                bottom: 14px;
            }
        }

        .accordian-header {
            padding: 10px 0;
            border-bottom: 1px solid #CCCCCC !important;
        }

        .accordian-content {
            padding: 20px 0;
        }
    }

    .profile-details-right-block {
        width: 50%;
        float: left;
        padding-left: 15px;
    }
}

// responsive css for profile-deatils
@media only screen and (max-width: 770px){
    .profile-details {
        flex-direction: block;

        .profile-details-left-block {
            width: 100%;
            padding-right: 0px;
        }

        .profile-details-right-block {
            width: 100%;
            padding-left: 0px;
            margin-top: 10px;
        }
    }
}

.stars {
    .star {
        font-size: 25px;
        color: #d4d4d4;
        transition: all .2s;
    }

    .star:before {
        content: '\2605';
    }
}

.control-group {
    span.locale {
        display: none;
    }
}

.dropdown-list.product-search-list {
    .dropdown-container {
        max-height: 344px;

        li {


            img {
                width: 52px;
                height: 60px;
            }
        }

        .table table {
            border: 1px solid #CCCCCC;
        } tbody td {
            vertical-align: middle;

            &.last {
                width: 120px;

                a {
                    margin: 0;
                }

                .btn {
                    color: #fff;
                }
            }
        }
    }
}

.product-information {
    .product-image {
        max-height: 350px;
        max-width: 280px;
        margin-right: 20px;
        float: left;
        background: #F2F2F2;

        img {
            display: block;
            width: 100%;
        }
    }

    .product-details {
        .product-name {
            font-size: 24px;
        }

        .product-price {
            font-size: 18px;
            margin-top: 10px;
        }
    }
}

.product-offer-container {
    margin-bottom: 20px;
    width: 100%;

    .product {
        width: 100%;
        display: inline-block;
        padding: 20px;
        border-radius: 3px;
        border: 1px solid #E8E8E8;

        .product-information {
            float: left;

            .product-logo-block {
                width: 162px;
                height: 162px;
                float: left;
                overflow: hidden;
                background: #F2F2F2;
                border: 1px solid #E8E8E8;

                img {
                    width: 160px;
                    height: 160px;
                }
            }

            .product-information-block {
                float: left;
                margin-left: 20px;

                .product-title {
                    font-size: 18px;
                    font-weight: 600;
                    color: #242424;
                    display: block;
                    margin-bottom: 5px;
                }

                .price {
                    margin-top: 10px;

                    .product-price {
                        font-size: 24px;
                    }
                }

                .stock-status {
                    margin-bottom: 15px;
                    font-weight: 600;
                    color: #FC6868;

                    &.active {
                        color: #4CAF50;
                    }
                }

                .options {

                }
            }
        }

        .review-information {
            float: right;
            text-align: center;

            .stars {
                vertical-align: top;
                display: inline-block;

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }

            .total-reviews {
                margin-top: 10px;
            }
        }
    }

    .seller-product-list {
        width: 75%;

        h2.heading {
            margin-top: 30px;
        }

        .content {
            .seller-product-item {
                padding: 10px;
                border-bottom: 1px solid #E8E8E8;

                .product-info-top {
                    table tbody td {
                        vertical-align: middle;
                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }

                        .product-price {
                            span {
                                font-size: 20px;
                            }

                            .regular-price {
                                color: $font-light;
                                text-decoration: line-through;
                                margin-right: 10px;
                            }

                            .special-price {
                                color: $disc-price;
                            }
                        }

                        .control-group {
                            width: 60px;
                            display: inline-block;
                            float: left;
                        }

                        .btn.btn-black {
                            padding: 9px 20px;
                            margin-left: 10px;
                            float: left;
                            text-transform: uppercase;
                        }

                        .stock-status {
                            font-weight: 600;
                            color: #FC6868;
                            margin-left: 10px;
                            float: left;
                            padding: 9px 0px;
                        }
                    }

                    .profile-logo-block {
                        width: 60px;
                        height: 60px;
                        float: left;
                        border-radius: 5px;
                        overflow: hidden;

                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .profile-information-block {
                        float: left;
                        margin-top: 8px;
                        margin-left: 10px;

                        .review-information {
                            margin-top: 3px;
                            color: #5E5E5E;

                            .star-icon {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }

                    .control {
                        height: 38px;
                        width: 60px;
                        text-align: center;
                    }
                }

                .product-info-bottom {
                    .product {
                        margin-top: 20px;
                        padding: 0;
                        border: 0;

                        .product-images-block {
                            width: 164px;
                            height: 164px;
                            overflow: hidden;
                            float: none;
                            display: inline-block;
                            vertical-align: middle;

                            .VueCarousel-wrapper {
                                border: 1px solid #E8E8E8;
                                position: relative;
                            }

                            .VueCarousel-pagination {
                                position: absolute;
                                top: 100px;
                            }

                            .product-image {
                                width: 100%;
                                height: 162px;
                                float: left;
                                overflow: hidden;
                                background: #F2F2F2;

                                img {
                                    height: 100%;
                                }
                            }
                        }

                        .product-information-block {
                            // min-height: 162px;
                            float: none;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}

.dashboard {

    .page-header {
        margin-bottom: 0 !important;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;
    }

    .page-content {
        margin-top: 15px;
    }

    .card {
        height: 445px;
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        border-radius: 2px;
        padding: 10px 0px 0px 10px;

        .card-title {
            font-size: 14px;
            color: #A2A2A2;
            letter-spacing: -0.26px;
            text-transform: uppercase;
        }

        .card-info {
            width: 100%;
            height: 100%;
            display: inline-block;

            a {
                display: block !important;
            }

            &.center {
                text-align: center;
            }

            ul {
                li {
                    border-bottom: 1px solid $border-color;
                    width: 100%;
                    display: inline-block;
                    padding: 10px 0;
                    position: relative;

                    .image {
                        height: 60px;
                        width: 60px;
                        float: left;
                        margin-right: 15px;

                        &.product {
                            background: #F2F2F2;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .description {
                        margin-top: 10px;

                        .name {
                            color: #0041FF;
                        }

                        .info {
                            color: #3A3A3A;
                            margin-top: 5px;
                        }
                    }

                    .icon.angle-right-icon {
                        position: absolute;
                        right: 30px;
                        top: 50%;
                        margin-top: -8px;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }

            .no-result-found {
                margin-top: 146px;

                p {
                    margin: 0;
                    color: #A2A2A2;
                }
            }
        }
    }

    .dashboard-stats {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
        grid-auto-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 5px;

        .dashboard-card {
            height: 100px;
            background: #FFFFFF;
            border: 1px solid #E7E7E7;
            border-radius: 5px;
            position: relative;
            padding: 15px;


            .title {
                font-size: 14px;
                color: #A2A2A2;
                text-transform: uppercase;
            }

            .data {
                padding-top: 3px;
                font-size: 32px;
                color: #0041FF;

                .progress {
                    font-size: 14px;
                    height: 2rem !important;
                    color: #8E8E8E;
                    float: right;
                    margin-top: 9px;

                    .icon {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .graph-stats {
        margin-top: 10px;
        width: 100%;
        display: inline-block;
    }

    .sale-stock {
        width: 100%;
        display: inline-block;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
        grid-auto-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        margin-top: 10px;
    }
}

//responsive css for dashboard
@media only screen and (max-width: 770px) {
    .dashboard {
        .card {
            height: 100%;
        }
    }
}

.account-content .account-action .control-group.date {
    width: 180px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 20px;

    .control {
        width: 100%;
        margin: 0;
    }
}

.seller-central-container {
    .banner-container {
        position: relative;
        margin-bottom: 75px;

        img.banner {
            width: 100%;
            min-height: 500px;
        }

        .banner-content {
            display: inline-block;
            position: absolute;
            width: 60%;
            height: 60%;
            padding: 45px;
            top: 20%;
            right: 20%;
            background: rgba(255,255,255,0.55);
            text-align: center;

            h1 {
                margin: 0;
                font-size: 34px;
                color: #000000;
            }

            p {
                color: #000000;
                margin: 20px 0;
            }

            .btn {
                margin-top: 20px;
            }
        }
    }

    .feature-container {
        margin-bottom: 80px;
        text-align: center;

        .feature-heading {
            margin-bottom: 60px;

            h2 {
                font-size: 24px;
                color: #242424;
            }

            p {
                color: #5E5E5E;
                max-width: 600px;
                margin: auto;
            }
        }

        .feature-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
            grid-auto-rows: auto;
            grid-column-gap: 65px;
            grid-row-gap: 65px;

            li {
                img {

                }

                .feature-label {
                    color: #242424;
                    margin-top: 15px;
                }
            }
        }
    }

    .setup-step-container {
        text-align: center;
        margin-bottom: 40px;

        .setup-heading {
            margin-bottom: 60px;

            h2 {
                font-size: 24px;
                color: #242424;
            }

            p {
                color: #5E5E5E;
                max-width: 600px;
                margin: auto;
            }
        }

        .setup-step-list {
            display: inline-block;
            position: relative;
            text-align: left;

            &:before {
                width: 2px;
                height: 380px;
                position: absolute;
                content: "";
                background-color: #E8E8E8;
                z-index: -1;
                left: 30px;
                top: 5px;
            }

            li {
                width: 100%;

                .circle {
                    width: 64px;
                    height: 64px;
                    border: 1px solid #E8E8E8;
                    background: #ffffff;
                    line-height: 63px;
                    color: #5E5E5E;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 20px;
                    margin-bottom: 25px;
                    text-align: center;
                }

                &.active {
                    color: #0041ff;
                    border-color: #0041ff;

                    .circle {
                        background: #0041ff;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .open-shop-information-container {
        width: 100%;
        border: 1px solid #E8E8E8;
        padding: 40px;
        text-align: center;

        p {
            margin: 0;
            margin-bottom: 40px;
            color: #5E5E5E;
        }
    }
}

// responsive css for seller-center
@media only screen and (max-width: 700px) {
    .seller-profile-edit {
        flex-direction: column;
        height: 90px !important;
    }

    .account-content .account-layout {
        width: 100%;
    }
}

@media only screen and (max-width: 530px) {
    .seller-profile-edit {
        flex-direction: column;
        height: 200px !important;

        .account-action {
            display: flex;
            flex-direction: column;

            .btn-lg {
                margin-top: 10px;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 1140px) {
    .seller-central-container {
        .banner-container {
            .banner-content {
                p {
                    margin: 10px 0;
                }

                .btn {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 775px) {
    .seller-central-container {
        .popular-sellers-container {
            .popular-sellers-list {
                .popular-seller-item {
                    display: flex;
                    flex-direction: column;

                    .profile-information {
                        float: none;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .banner-container {
            .banner-content {
                padding: 30px;

                h1 {
                    font-size: 28px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .seller-central-container {
        .banner-container {
            .banner-content {
                padding: 20px;
                width: 65%;
                height: 65%;
                top: 17.5%;
                right: 17.5%;

                h1 {
                    font-size: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .seller-central-container {
        .about-marketplace-container {
            div {
                display: flex !important;
                flex-direction: column !important;
                width: 100% !important;
                padding: 0px !important;
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .seller-central-container {
        .banner-container {
            .banner-content {
                padding: 20px;
                width: 70%;
                height: 70%;
                top: 15%;
                right: 15%;

                h1 {
                    font-size: 20px;
                }
            }
        }
    }
}

//control group resposive
@media only screen and (max-width: 770px){
    .control-group.date::after, .control-group.datetime::after {
        position: absolute;
        top: 33px;
        right: 3px;
    }
}

.filter-row-one .dropdown-filters {
    position: relative;
    right: 1px;
}

//started

//sell page
.setup-step-container {
    text-align: center;
    margin-bottom: 40px;

    .setup-heading {
        margin-bottom: 60px;

        h2 {
            font-size: 24px;
            color: #242424;
        }

        p {
            color: #5E5E5E;
            max-width: 600px;
            margin: auto;
        }
    }

    .velocity-setup-step-list {
        position: relative;

        &:before {
            width: 2px;
            height: 380px;
            position: absolute;
            content: "";
            background-color: #E8E8E8;
            z-index: -1;
            left: 30px;
            top: 5px;
        }

        li {
            list-style-type:none;
            display: inline-block;
            padding: 10px;

            img {
                width: 70px;
                text-align: center;
                height: 70px;
            }
            span {
                display: block;
            }
        }
    }
}

.velocity-popular-sellers-container {

    .popular-sellers-heading {
        font-size: 22px;
        text-align: center;
        color: #242424;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .wrapper {
        width: 50%;
        height: auto;
        padding: 15px 100px 0px 100px;
        display: inline-block;

        .velocity-card {
            border: 1px solid #dfe3e7;

            .profile-upper {
                background-color: #dfe3e7;
                width: 100%;
                height: 100px;
            }

            .profile-image {

                img {
                    background-color: #dfe3e7;
                    width: 50px;
                    height: 50px;
                    border-radius: 32px;
                    margin: 76px 0px 0px 193px;
                }
            }

            .profile-information {
                width: 100%;
                height: 150px;

                .center-info {
                    padding: 45px;
                    text-align: center;

                    .shop-address {
                        display: block !important;
                    }
                }
            }
        }
    }
}

//other pages
// .velocity-profile-left-block {
//     width: 25%;
//     float: left;
//     margin-top: 60px;
//     min-height: 1px;
//     text-align: center;

//     h2 {
//         &.shop-title {
//             margin-bottom: 5px !important;
//         }
//     }

//     a {
//         &.shop-title {
//             font-size: 24px;
//             color: #0031F0;
//             display: block !important;
//             margin-bottom: 5px;
//         }
//     }

//     .content {
//         position: relative;
//         border: 1px solid #E8E8E8;
//         padding: 20px;
//         padding-top: 80px;

//         .profile-logo-block {
//             width: 120px;
//             height: 120px;
//             border-radius: 10px;
//             overflow: hidden;
//             position: absolute;
//             top: 3px;
//             left: 50%;
//             margin-left: -60px;

//             img {
//                 width: 99px;
//                 height: 100px;
//             }
//         }

//         .profile-information-block {
//             padding-top: 25px;

//             .row {
//                 margin-bottom: 20px;
//                 display: block !important;

//                 &.social-links {
//                     a {
//                         display: inline-block;
//                     }
//                 }
//             }

//             h2 {
//                 font-size: 24px;
//                 margin: 0;
//             }

//             .review-info {
//                 .number {
//                     font-size: 34px;
//                 }

//                 .stars {
//                     vertical-align: top;
//                     display: inline-block;

//                     .icon {
//                         width: 16px;
//                         height: 16px;
//                     }
//                 }
//             }
//         }
//     }
// }

.review-form {
    display: inline-block;
    margin-left: 50px;

    .line-bar {
        height: 4px;
        width: calc(100% - 100px);
        margin-right: 5px;
        margin-left: 5px;
        background: #D8D8D8;
    }

    .heading {
        font-size: 20px;

        a {
            &.right {
                float: right;
            }
        }
    }

    .ratings-reviews {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-side {
            // border: 1px solid green;
            padding: 40px 20px 40px 20px;
            width: 50%;

            .rate {
                display: block;
                margin-left: 47px;
            }
        }

        .right-side {
            // border: 1px solid blue;
            width: 50%;

            .rater {
                display: inline-flex;
                align-items: center;
                padding-top: 5px;
                width: 100%;
            }
        }
    }
}



div {
    &.boolean {
        label {
            display: block;
        }
    }
    label {
        &.btn {
            @extend .theme-btn;
        }
    }
}

i {
    &.icon {
        @extend .rango-default;

        font-size: 18px;
        padding-right: 5px;

        &.seller::before {
            content: "\E995";
        }

        &.products::before {
            content: "\E962";
        }

        &.transactions::before {
            content: "\e92a";
        }

        &.dashboard::before {
            content: "\e971";
        }
    }
}

.accordian {
    border-bottom: 1px solid #CCCCCC;
}

.account-content {
    .sidebar {
        float: left;
        z-index: 99;
        border-right: 1px solid $border-general;

        .customer-sidebar {
            border-right: unset;

            .account-details {
                text-align: center;
                padding: 25px 20px;

                .customer-name {
                    width: 60px;
                    height: 60px;
                    margin: 0 auto;
                    font-size: 24px;
                    margin-bottom: 5px;
                    display: inline-block;
                }

                .customer-name-text {
                    color: $font-color;
                }

                .customer-email {
                    color: $light-grey-clr;
                }
            }

            .navigation {
                width: 100%;

                li {
                    width: 100%;

                    &:hover,
                    &.active {
                        color: $light-link-color;
                        background-color: $border-light;
                    }

                    i {
                        &.icon {
                            @extend .rango-default;

                            font-size: 18px;
                            padding-right: 5px;

                            &.profile::before {
                                content: "\E995";
                            }

                            &.address::before {
                                content: "\e949";
                            }

                            &.reviews::before {
                                content: "\e97d";
                            }

                            &.wishlist::before {
                                content: "\e93e";
                            }

                            &.orders::before {
                                content: "\e931";
                            }

                            &.downloadables::before {
                                content: "\e926";
                            }

                            &.compare::before {
                                content: "\e93b";
                            }
                        }
                    }

                    a {
                        padding: 10px 15px;
                        text-decoration: none;
                        color: black;
                    }
                }

                li:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.action {
    a {
        display: inline-block !important;
    }
}

span {
    i {
        &.icon {
            display: inline-block;
            background-size: cover;

            &.cross-icon {
                background-image: url("../images/Icon-remove.svg");
                width: 18px;
                height: 18px;
            }
        }
    }

    &.icon {
        display: inline-block;
        background-size: cover;
    }

    &.trash-icon {
        background-image: url("../images/Icon-Trash.svg");
        width: 24px;
        height: 24px;
    }

    &.pencil-lg-icon {
        background-image: url("../images/Icon-Pencil-Large.svg");
        width: 24px;
        height: 24px;
    }

    .remove-icon {
        background-image: url("../images/Icon-remove.svg");
        width: 24px;
        height: 24px;
    }
}

i {
    &.icon {
        display: inline-block;
        background-size: cover;

        &.remove-icon {
            background-image: url("../images/Icon-remove.svg");
            width: 24px;
            height: 24px;
            margin-right: -109px;
        }
    }
}

.table {
    table {
        width: 100% !important;
    }
}
div {
    &.btn-group {

        &.full-width {
            display: inline-flex !important;
        }
    }
}

section {
    &.review {
        &.review-layouter {
            &.review-form {
                margin-left: 0px;
                margin-right: 20px;

                .heading .right {
                    float: left;
                }

                .ratings-reviews .right-side .rater {
                    .star-name {
                        margin-right: 0px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.menu-block-title {
    padding-bottom: 10px;
    font-size: 20px;
    margin-left: 30px;
}

nav {
    ul {
        display: inline;

        li {
            &.sell-button {
                margin-left: 400px;
                display: inline-block;

                a {
                    text-decoration: none;
                    color: black;
                    margin-top: 4px;
                    font-size: 20px;
                }
            }
        }
    }

    .dropdown {
        float: right;
    }
}

// li {
//     a {
//         // display: inline-block !important;
//     }
// }

.accordian-content {
    td {
        span {
            &.label {
                border: 1px solid #E7E7E7;
                background: #E7E7E7;
                border-radius: 2px;
                padding: 6px;
                color: #000311;
                display: inline-block;
                font-size: small;
            }
        }
    }
}

// .form-group {
//     &.boolean {
//         border: 4px dashed red;
//     }
// }
.form-group {
    textarea {
        width: 100%;
        resize: none;
        padding: 5px 16px;

        label {
            border: 1px solid green;
            display: block;
        }
    }

    &.boolean {
        label {
            &.switch {
                margin: 16px;
            }
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #8e8e8e;
        -webkit-transition: .2s;
        transition: .2s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #ffffff;
        -webkit-transition: .2s;
        transition: .2s;
    }

    input:checked + .slider {
        background-color: #0041FF;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #0041FF;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
        }

    .slider.round:before {
        border-radius: 50%;
    }
}

.mass-action-wrapper {

    button {
        z-index: 10;
        border: none;
        cursor: pointer;
        font-weight: 600;
        padding: 10px 20px;
        vertical-align: top;
        height: fit-content;
        font-size: 11px;
        border: 1px solid transparent;
        color: #fff!important;
        background-color: #26a37c!important
    }
}
.seller-form-controls {

    input[type="radio"] {
        margin-left: 0px;
        margin-top: 8px;

    }
}
table {
    &.table {
        th {
            input[type="checkbox"] {
                margin: 16px 0px 0px -2px;
            }
        }

        td {
            input[type="checkbox"] {
                margin: -6px 0px 0px -3px;
            }
        }
    }
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-btn {
    min-width: 150px;
    text-align: left;
    background: #ffffff;
    border: 2px solid #C7C7C7;
    border-radius: 3px;
    font-size: 14px;
    padding: 8px 12px 8px 10px;
    cursor: pointer;
    position: relative;
}
.filters-container {
    .toolbar-wrapper {
        div {
            select {
                padding: 5px 30px 4px 12px;
            }
        }
    }
}

// .product-grid-3 {
    div {
        &.product-grid-3 {
            display: flex;
        }
    }

    div {
        &.grid-card {
            float: left;
            max-width: 200px;
        }
    }
// }

.tree-container {
    .tree-item {
        padding-left: 30px;
        display: inline-block;
        margin-top: 10px;
        width: 100%;

        > .tree-item {
            display: none;
        }

        &.active {
            input[type="checkbox"] {
                width: 20px !important;
                margin-top: 9px;
            }
        }

        &.active > .tree-item {
            display: inline-block;
        }

        .checkbox {
            margin: 0;
            display: inline-block;
        }

        .radio {
            margin: 0;
            display: inline-block;
        }

        .expand-icon {
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
            background-image: url("../images/Expand-Light.svg");
            width: 18px;
            height: 18px;
            vertical-align: middle;
        }

        .folder-icon {
            vertical-align: middle;
            margin-right: 10px;
        }

        &.active {
            > .expand-icon {
                background-image: url("../images/Expand-Light-On.svg");
            }
        }
    }

    > .tree-item {
        padding-left: 0;
    }
}
.availability {
    button {
        border: none;
        color: white;
        font-weight: 600;
        cursor: default;
        padding: 2px 11px;
        background: $button-danger;

        &.active {
            background: $link-color;
        }
    }
}
